/* ------------------------------------------------------------------------ *\
   mixins.address
\* ------------------------------------------------------------------------ */


@import "_text"


/**
 * [address description]
 * @return {[type]} [description]
 */
adress()
  text--paragraph()


/**
 * [address__heading description]
 * @return {[type]} [description]
 */
address__heading()
  display: block
  font-weight: $nix.text.font.weight--heavy
