/* ------------------------------------------------------------------------ *\
   mixins.util.breakpoint
\* ------------------------------------------------------------------------ */


$offset = .01em


/**
 * [min description]
 * @param  {[type]} size  [description]
 * @param  {[type]} block =             null [description]
 * @return {[type]}       [description]
 */
breakpoint--min(size, block = null)
  @media (min-width: $nix.mq[size] - $offset)
    {block}


/**
 * [max description]
 * @param  {[type]} size  [description]
 * @param  {[type]} block =             null [description]
 * @return {[type]}       [description]
 */
breakpoint--max(size, block = null)
  @media (max-width: ($nix.mq[size] - $offset))
    {block}


/**
 * [range description]
 * @param  {[type]} sizeMin [description]
 * @param  {[type]} sizeMax [description]
 * @param  {[type]} block   =             null [description]
 * @return {[type]}         [description]
 */
breakpoint--range(sizeMin, sizeMax, block = null)
  @media (min-width: $nix.mq[sizeMin]) and (max-width: ($nix.mq[sizeMax] - $offset))
    {block}


/**
 * [mediaquery description]
 * @param  {[type]} sizeMin =             null [description]
 * @param  {[type]} sizeMax =             null [description]
 * @return {[type]}         [description]
 */
breakpoint(sizeMin = null, sizeMax = null)
  if sizeMin && sizeMax != null
    breakpoint--range(sizeMin, sizeMax, block)

  else if sizeMin != null
    breakpoint--min(sizeMin, block)

  else
    breakpoint--max(sizeMax, block)
