/* ------------------------------------------------------------------------ *\
   mixins.util.column
\* ------------------------------------------------------------------------ */


/**
 * [set description]
 * @param {[type]} cols [description]
 */
column--set(cols = 100)
  if cols != $nix.grid.cols
    float: left

  position: relative
  top: 0
  left: 0
  padding-right: $nix.grid.gutter
  padding-left: $nix.grid.gutter
  min-height: 1px


/**
 * [column description]
 * @param  {[type]} cols       [description]
 * @param  {[type]} breakpoint =             null [description]
 * @return {[type]}            [description]
 */
column(cols, breakpoint = null)
  if breakpoint != null
    +above($nix.mq[breakpoint])
      column--set(cols)
      column--width(cols)

  else
    column--set(cols)
    column--width(cols)


/**
 * [last description]
 * @param  {[type]} nth [description]
 * @return {[type]}     [description]
 */
column--last(nth)
  &:nth-child({nth})
    clear: left


/**
 * [equal description]
 * @return {[type]} [description]
 */
// @TODO doesn't work with jeet cols
column--equal()
  / __getParent()
      overflow-y: hidden
  &
    margin-bottom: -9999px
    padding-bottom: 9999px
    height: 100%


/**
 * [column-width description]
 * @param  {[type]} number-of-columns [description]
 * @return {[type]}                   [description]
 */
column--width(number-of-columns)
  width: number-of-columns / 100 * 100%


/**
 * [width-fractional description]
 * @param  {[type]} numerator   [description]
 * @param  {[type]} denominator [description]
 * @return {[type]}             [description]
 */
column--width--fractional(numerator, denominator)
  width: numerator / denominator * 100%


/**
 * [offset description]
 * @param {[type]} number-of-columns [description]
 */
column--offset(number-of-columns)
  margin-left: number-of-columns / 100 * 100%


/**
 * [offset-fractional description]
 * @param  {[type]} numerator   [description]
 * @param  {[type]} denominator [description]
 * @return {[type]}             [description]
 */
column--offset--fractional(numerator, denominator)
  margin-left: numerator / denominator * 100%


/**
 * [description]
 * @param  {[type]} breakpoint [description]
 * @return {[type]}            [description]
 */
column--width-5(breakpoint)
  column(5, breakpoint)


/**
 * [description]
 * @param  {[type]} breakpoint [description]
 * @return {[type]}            [description]
 */
column--width-10(breakpoint)
  column(10, breakpoint)


/**
 * [description]
 * @param  {[type]} breakpoint [description]
 * @return {[type]}            [description]
 */
column--width-15(breakpoint)
  column(15, breakpoint)


/**
 * [description]
 * @param  {[type]} breakpoint [description]
 * @return {[type]}            [description]
 */
column--width-20(breakpoint)
  column(20, breakpoint)


/**
 * [description]
 * @param  {[type]} breakpoint [description]
 * @return {[type]}            [description]
 */
column--width-25(breakpoint)
  column(25, breakpoint)


/**
 * [description]
 * @param  {[type]} breakpoint [description]
 * @return {[type]}            [description]
 */
column--width-30(breakpoint)
  column(30, breakpoint)


/**
 * [description]
 * @param  {[type]} breakpoint [description]
 * @return {[type]}            [description]
 */
column--width-33(breakpoint)
  column(33.3333, breakpoint)


/**
 * [description]
 * @param  {[type]} breakpoint [description]
 * @return {[type]}            [description]
 */
column--width-35(breakpoint)
  column(35, breakpoint)


/**
 * [description]
 * @param  {[type]} breakpoint [description]
 * @return {[type]}            [description]
 */
column--width-40(breakpoint)
  column(40, breakpoint)


/**
 * [description]
 * @param  {[type]} breakpoint [description]
 * @return {[type]}            [description]
 */
column--width-45(breakpoint)
  column(45, breakpoint)


/**
 * [description]
 * @param  {[type]} breakpoint [description]
 * @return {[type]}            [description]
 */
column--width-50(breakpoint)
  column(50, breakpoint)


/**
 * [description]
 * @param  {[type]} breakpoint [description]
 * @return {[type]}            [description]
 */
column--width-55(breakpoint)
  column(55, breakpoint)


/**
 * [description]
 * @param  {[type]} breakpoint [description]
 * @return {[type]}            [description]
 */
column--width-60(breakpoint)
  column(60, breakpoint)


/**
 * [description]
 * @param  {[type]} breakpoint [description]
 * @return {[type]}            [description]
 */
column--width-65(breakpoint)
  column(65, breakpoint)


/**
 * [description]
 * @param  {[type]} breakpoint [description]
 * @return {[type]}            [description]
 */
column--width-66(breakpoint)
  column(66.6666, breakpoint)


/**
 * [description]
 * @param  {[type]} breakpoint [description]
 * @return {[type]}            [description]
 */
column--width-70(breakpoint)
  column(70, breakpoint)


/**
 * [description]
 * @param  {[type]} breakpoint [description]
 * @return {[type]}            [description]
 */
column--width-75(breakpoint)
  column(75, breakpoint)


/**
 * [description]
 * @param  {[type]} breakpoint [description]
 * @return {[type]}            [description]
 */
column--width-80(breakpoint)
  column(80, breakpoint)


/**
 * [description]
 * @param  {[type]} breakpoint [description]
 * @return {[type]}            [description]
 */
column--width-85(breakpoint)
  column(85, breakpoint)


/**
 * [description]
 * @param  {[type]} breakpoint [description]
 * @return {[type]}            [description]
 */
column--width-90(breakpoint)
  column(90, breakpoint)


/**
 * [description]
 * @param  {[type]} breakpoint [description]
 * @return {[type]}            [description]
 */
column--width-95(breakpoint)
  column(95, breakpoint)


/**
 * [description]
 * @param  {[type]} breakpoint [description]
 * @return {[type]}            [description]
 */
column--width-100(breakpoint)
  column(100, breakpoint)


/**
 * [description]
 * @param  {[type]} breakpoint [description]
 * @return {[type]}            [description]
 */
column--offset-5(breakpoint)
  column--offset(5, breakpoint)


/**
 * [description]
 * @param  {[type]} breakpoint [description]
 * @return {[type]}            [description]
 */
column--offset-10(breakpoint)
  column--offset(10, breakpoint)


/**
 * [description]
 * @param  {[type]} breakpoint [description]
 * @return {[type]}            [description]
 */
column--offset-15(breakpoint)
  column--offset(15, breakpoint)


/**
 * [description]
 * @param  {[type]} breakpoint [description]
 * @return {[type]}            [description]
 */
column--offset-20(breakpoint)
  column--offset(20, breakpoint)


/**
 * [description]
 * @param  {[type]} breakpoint [description]
 * @return {[type]}            [description]
 */
column--offset-25(breakpoint)
  column--offset(25, breakpoint)


/**
 * [description]
 * @param  {[type]} breakpoint [description]
 * @return {[type]}            [description]
 */
column--offset-30(breakpoint)
  column--offset(30, breakpoint)


/**
 * [description]
 * @param  {[type]} breakpoint [description]
 * @return {[type]}            [description]
 */
column--offset-33(breakpoint)
  column--offset(33.3333, breakpoint)


/**
 * [description]
 * @param  {[type]} breakpoint [description]
 * @return {[type]}            [description]
 */
column--offset-35(breakpoint)
  column--offset(35, breakpoint)


/**
 * [description]
 * @param  {[type]} breakpoint [description]
 * @return {[type]}            [description]
 */
column--offset-40(breakpoint)
  column--offset(40, breakpoint)


/**
 * [description]
 * @param  {[type]} breakpoint [description]
 * @return {[type]}            [description]
 */
column--offset-45(breakpoint)
  column--offset(45, breakpoint)


/**
 * [description]
 * @param  {[type]} breakpoint [description]
 * @return {[type]}            [description]
 */
column--offset-50(breakpoint)
  column--offset(50, breakpoint)


/**
 * [description]
 * @param  {[type]} breakpoint [description]
 * @return {[type]}            [description]
 */
column--offset-55(breakpoint)
  column--offset(55, breakpoint)


/**
 * [description]
 * @param  {[type]} breakpoint [description]
 * @return {[type]}            [description]
 */
column--offset-60(breakpoint)
  column--offset(60, breakpoint)


/**
 * [description]
 * @param  {[type]} breakpoint [description]
 * @return {[type]}            [description]
 */
column--offset-65(breakpoint)
  column--offset(65, breakpoint)


/**
 * [description]
 * @param  {[type]} breakpoint [description]
 * @return {[type]}            [description]
 */
column--offset-66(breakpoint)
  column--offset(66.6666, breakpoint)


/**
 * [description]
 * @param  {[type]} breakpoint [description]
 * @return {[type]}            [description]
 */
column--offset-70(breakpoint)
  column--offset(70, breakpoint)


/**
 * [description]
 * @param  {[type]} breakpoint [description]
 * @return {[type]}            [description]
 */
column--offset-75(breakpoint)
  column--offset(75, breakpoint)


/**
 * [description]
 * @param  {[type]} breakpoint [description]
 * @return {[type]}            [description]
 */
column--offset-80(breakpoint)
  column--offset(80, breakpoint)


/**
 * [description]
 * @param  {[type]} breakpoint [description]
 * @return {[type]}            [description]
 */
column--offset-85(breakpoint)
  column--offset(85, breakpoint)


/**
 * [description]
 * @param  {[type]} breakpoint [description]
 * @return {[type]}            [description]
 */
column--offset-90(breakpoint)
  column--offset(90, breakpoint)


/**
 * [description]
 * @param  {[type]} breakpoint [description]
 * @return {[type]}            [description]
 */
column--offset-95(breakpoint)
  column--offset(95, breakpoint)


/**
 * [description]
 * @param  {[type]} breakpoint [description]
 * @return {[type]}            [description]
 */
column--offset-100(breakpoint)
  column--offset(100, breakpoint)


/**
 * [description]
 * @return {[type]} [description]
 */
column--1-1()
  column--set()
  column--width--fractional(1, 1)


/**
 * [description]
 * @return {[type]} [description]
 */
column--1-2()
  column--set()
  column--width--fractional(1, 2)


/**
 * [description]
 * @return {[type]} [description]
 */
column--1-3()
  column--set()
  column--width--fractional(1, 3)


/**
 * [description]
 * @return {[type]} [description]
 */
column--2-3()
  column--set()
  column--width--fractional(2, 3)


/**
 * [description]
 * @return {[type]} [description]
 */
column--1-4()
  column--set()
  column--width--fractional(1, 4)


/**
 * [description]
 * @return {[type]} [description]
 */
column--3-4()
  column--set()
  column--width--fractional(3, 4)


/**
 * [description]
 * @return {[type]} [description]
 */
column--1-5()
  column--set()
  column--width--fractional(1, 5)


/**
 * [description]
 * @return {[type]} [description]
 */
column--2-5()
  column--set()
  column--width--fractional(2, 5)


/**
 * [description]
 * @return {[type]} [description]
 */
column--3-5()
  column--set()
  column--width--fractional(3, 5)


/**
 * [description]
 * @return {[type]} [description]
 */
column--4-5()
  column--set()
  column--width--fractional(4, 5)


/**
 * [description]
 * @return {[type]} [description]
 */
column--offest-1-2()
  column--offset--fractional(1, 2)


/**
 * [description]
 * @return {[type]} [description]
 */
column--offest-1-3()
  column--offset--fractional(1, 3)


/**
 * [description]
 * @return {[type]} [description]
 */
column--offest-2-3()
  column--offset--fractional(2, 3)


/**
 * [description]
 * @return {[type]} [description]
 */
column--offest-1-4()
  column--offset--fractional(1, 4)


/**
 * [description]
 * @return {[type]} [description]
 */
column--offest-3-4()
  column--offset--fractional(3, 4)


/**
 * [description]
 * @return {[type]} [description]
 */
column--offest-1-5()
  column--offset--fractional(1, 5)


/**
 * [description]
 * @return {[type]} [description]
 */
column--offest-2-5()
  column--offset--fractional(2, 5)


/**
 * [description]
 * @return {[type]} [description]
 */
column--offest-3-5()
  column--offset--fractional(3, 5)


/**
 * [description]
 * @return {[type]} [description]
 */
column--offest-4-5()
  column--offset--fractional(4, 5)
