/* ------------------------------------------------------------------------ *\
   mixins.util.container
\* ------------------------------------------------------------------------ */


/**
 * [container description]
 * @return {[type]} [description]
 */
container(size = $nix.mq.lg)
  margin: auto
  max-width: size


/**
 * [xxxs description]
 * @return {[type]} [description]
 */
container--xxxs()
  max-width: $nix.mq.xxxs


/**
 * [xxs description]
 * @return {[type]} [description]
 */
container--xxs()
  max-width: $nix.mq.xxs


/**
 * [xs description]
 * @return {[type]} [description]
 */
container--xs()
  max-width: $nix.mq.xs


/**
 * [sm description]
 * @return {[type]} [description]
 */
container--sm()
  max-width: $nix.mq.sm


/**
 * [md description]
 * @return {[type]} [description]
 */
container--md()
  max-width: $nix.mq.md


/**
 * [lg description]
 * @return {[type]} [description]
 */
container--lg()
  max-width: $nix.mq.lg


/**
 * [xl description]
 * @return {[type]} [description]
 */
container--xl()
  max-width: $nix.mq.xl


/**
 * [xxl description]
 * @return {[type]} [description]
 */
container--xxl()
  max-width: $nix.mq.xxl


/**
 * [xxxl description]
 * @return {[type]} [description]
 */
container--xxxl()
  max-width: $nix.mq.xxxl
