/* ------------------------------------------------------------------------ *\
   mixins.util.display
\* ------------------------------------------------------------------------ */


@import "_u.padding"


/**
 * [table description]
 * @return {[type]} [description]
 */
display--table()
  padding--horizontal--0()
  display: table


/**
 * [table__row description]
 * @return {[type]} [description]
 */
display--table__row()
  display: table-row


/**
 * [table__cell description]
 * @return {[type]} [description]
 */
display--table__cell()
  display: table-cell
  float: none
