/* ------------------------------------------------------------------------ *\
   mixins.hack
\* ------------------------------------------------------------------------ */


$ie = $nix.legacy.ie
$legacy = $nix.legacy.supported


/**
 * [ie description]
 * @return {[type]} [description]
 */
hacks--ie()
  if ($ie == true)
    if($ie == true)
      if ($ie == $legacy)
        {block}
    else
      if ($ie <= $legacy)
        {block}
