/* ------------------------------------------------------------------------ *\
   mixins.component.list
\* ------------------------------------------------------------------------ */


/**
 * [list description]
 * @return {[type]} [description]
 */
list()
  display: block
  margin: 0
  padding: 0 0 0 $nix.sizes.md
  list-style-position: outside


/**
 * [unstyled description]
 * @return {[type]} [description]
 */
list--unstyled()
  padding: 0
  list-style: none


/**
 * [nested description]
 * @return {[type]} [description]
 */
list--nested()
  padding: 0 0 0 $nix.sizes.md


/**
 * [list__item description]
 * @return {[type]} [description]
 */
list__item()
  padding: 0


/**
 * [unstyled description]
 * @return {[type]} [description]
 */
list__item--unstyled()
  list-style: none


/**
 * [ordered description]
 * @return {[type]} [description]
 */
list--ordered()
  list--unstyled()
  counter-reset: ordered


/**
 * [ordered__item description]
 * @return {[type]} [description]
 */
list--ordered__item()
  &:before
    counter-increment: ordered
    content: counters(ordered, ".") " "
    padding: 0 $nix.sizes.sm 0 0


/**
 * [inline description]
 * @return {[type]} [description]
 */
list--inline()
  padding: 0


/**
 * [inline__item description]
 * @return {[type]} [description]
 */
list--inline__item()
  display: inline-block
  padding-right: $nix.sizes.md
  width: auto


/**
 * [bullet description]
 * @return {[type]} [description]
 */
list--inline__item-bullet()
  content: "\2022"
  padding: 0 $nix.sizes.sm 0 0
