/* ------------------------------------------------------------------------ *\
   mixins.util.offset
\* ------------------------------------------------------------------------ */


/**
 * [offset description]
 * @param {[type]} cols       [description]
 * @param {[type]} breakpoint [description]
 */
offset(cols, breakpoint)
  padding-left: (100 / $nix.grid.cols) * cols * 1%


/**
 * [create description]
 * @param  {[type]} selector [description]
 * @return {[type]}          [description]
 */
offset--create(selector)
  for breakpoint in $nix.mq
    +above($nix.mq[breakpoint])
      {selector}--33\@{breakpoint}
        padding-left: 33%

      {selector}--66\@{breakpoint}
        padding-left: 66%

      for cols in 1..($nix.grid.cols / $nix.grid.interval)
        cols = cols * $nix.grid.interval
        {selector}--{cols}\\@{breakpoint}
          padding-left: (100 / $nix.grid.cols) * cols * 1%
