/* ------------------------------------------------------------------------ *\
   mixins.component.pagination
\* ------------------------------------------------------------------------ */


@import "_padding"
@import "_button"


/**
 * [pagination description]
 * @return {[type]} [description]
 */
pagination()
  padding--all--md()
  display: block
  width: 100%
  text-align: center
  font-size: $nix.text.font.size * .8


/**
 * [pagination__controls description]
 * @return {[type]} [description]
 */
pagination__controls()
  display: inline-block
  text-align: center


/**
 * [backward description]
 * @return {[type]} [description]
 */
pagination__controls--backward()
  float: left
  text-align: left


/**
 * [forward description]
 * @return {[type]} [description]
 */
pagination__controls--forward()
  float: right
  text-align: right


/**
 * [pagination__control description]
 * @param  {[type]} color: $nix.colors.grey [description]
 * @return {[type]}         [description]
 */
pagination__control(color = $nix.skin.color.gray)
  button()
  button--ghost(color)
  button--rounded()
  min-width: 2.4em


/**
 * [pagination__page description]
 * @return {[type]} [description]
 */
pagination__page()
  pagination__control($nix.skin.color.primary)


/**
 * [current description]
 * @return {[type]} [description]
 */
pagination__page--current()
  background-color: $nix.skin.color.primary
  color: $nix.skin.color.white


/**
 * [pagination__ellipsis description]
 * @return {Boolean} [description]
 */
pagination__ellipsis()
  padding--vertical--md()
