/* ------------------------------------------------------------------------ *\
   mixins.util.shadow
\* ------------------------------------------------------------------------ */


/**
 * [shadow description]
 * @param  {[type]} offset-x [description]
 * @param  {[type]} args...  [description]
 * @return {[type]}          [description]
 */
shadow(offset-x, args...)
  got-offset-x: offset-x
  -webkit-box-shadow: offset-x args
  -moz-box-shadow: offset-x args
  box-shadow: offset-x args
