/* ------------------------------------------------------------------------ *\
   mixins.util.space
\* ------------------------------------------------------------------------ */


@import "_reset"
@import "_size"


/**
 * [space description]
 * @param  {[type]} size =             $nix.sizes.md [description]
 * @return {[type]}      [description]
 */
space(size = $nix.sizes.md)
  reset--clearfix()
  size--height(size)


/**
 * [xxxs description]
 * @return {[type]} [description]
 */
space--xxxs()
  reset--clearfix()
  size--height--xxxs()


/**
 * [xxs description]
 * @return {[type]} [description]
 */
space--xxs()
  reset--clearfix()
  size--height--xxs()


/**
 * [xs description]
 * @return {[type]} [description]
 */
space--xs()
  reset--clearfix()
  size--height--xs()


/**
 * [sm description]
 * @return {[type]} [description]
 */
space--sm()
  reset--clearfix()
  size--height--sm()


/**
 * [md description]
 * @return {[type]} [description]
 */
space--md()
  reset--clearfix()
  size--height--md()


/**
 * [lg description]
 * @return {[type]} [description]
 */
space--lg()
  reset--clearfix()
  size--height--lg()


/**
 * [xl description]
 * @return {[type]} [description]
 */
space--xl()
  reset--clearfix()
  size--height--xl()


/**
 * [xxl description]
 * @return {[type]} [description]
 */
space--xxl()
  reset--clearfix()
  size--height--xxl()


/**
 * [xxxl description]
 * @return {[type]} [description]
 */
space--xxxl()
  reset--clearfix()
  size--height--xxxl()


/**
 * [create description]
 * @param  {[type]} selector [description]
 * @return {[type]}          [description]
 */
space--create(selector)
  reset--clearfix()

  for key, value in $nix.sizes
    {selector}--{key}
      size--height(value)
