/* ------------------------------------------------------------------------ *\
   mixins.util.z
\* ------------------------------------------------------------------------ */


// for group-name, group-list in z-items
//   counter = 1
//   group-map = {}
//
//   for item in group-list
//     group-map = merge(group-map, {item: counter})
//     counter = counter + 1
//
//   z-map = merge(z-map, group-name[group-map])
//
//
//
// z(group, key)
//   z-index: z-map[group[key]]
//
//
// z-index(group, key)
//   z-index: z-index[key]
