/*
 |--------------------------------------------------------------------------
 | Nixin
 |--------------------------------------------------------------------------
 | author: @kreo
 | http: //github.com/kreo
 | version: 1.0.0
 |
 | A bunch of useful mixins that provides the power necessary
 | to let you build semantic style effectively with no frustration.
 | Nixin can extend any other framework using both implicit or explicit
 | approach.
 |
 */


// Global Scope Object
//$NIX = json('')
$NIX = {}

// External Plugins
// ex. rupture

// Mixins
@require 'mixins'