.hero
	Reset--clearfix()

	.jumbotron
		padding: 5rem 2rem
		text-align: center
		background: #efede8

	.display-3
		text-transform: uppercase
		font-weight: 300
		color: #945c16

	.lead
		color: #6d5441
		font-weight: 400
