.hero
	border-bottom: 1px solid #ded9d3
	background-image: url("//d2guulkeunn7d8.cloudfront.net/assets/landing15/grocery_being_delivered_1-71da135a35a8d85274e57fe79665cb73.jpg")
	background-size: cover
	background-position: center
	Reset--clearfix()

	.heading
		text-transform: uppercase
		font-weight: 300

	.lead
		font-weight: 400

	.jumbotron
		margin: 0
		padding: 5rem 2rem
		text-align: center
		background: rgba(#efede8, 0.5)

		.heading
			color: #945c16

		.lead
			color: #6d5441

	.jumbotron--dark
		background: rgba(#2b1405, 0.5)

		.heading
			color: $color--white

		.lead
			color: rgba($color--white, .85)

	.jumbotron--yellow
		backgorund: rgba(#ffe5a4, 0.5)

