/* ------------------------------------------------------------------------ *\
   structure.mixins.calendar
\* ------------------------------------------------------------------------ */


/**
 * [calendar description]
 * @return {[type]} [description]
 */
nix-calendar()
  nix-grid()
  nix-grid--wrap()
  nix-grid--center()
  nix-grid__cell--no-gutter()
  nix-padding--all--xs()
  text-align: center
  background-color: nix.skin.white
  border: 1px solid nix.borders.color
  border-radius: nix.borders.radius
  max-width: 400px
  z-index: nix.z.middle


/**
 * [calendar__control description]
 * @param  {[type]} bg-color =             color-white [description]
 * @param  {[type]} fg-color =             color-black [description]
 * @return {[type]}          [description]
 */
nix-calendar__control(bg-color = nix.skin.white, fg-color = nix.skin.black)
  nix-button--color(bg-color, fg-color)
  nix-padding--vertical--md()
  nix-padding--horizontal--sm()
  nix-text-size--medium()
  flex: 0 0 14.28%
  max-width: 14.28%
  margin: 0
  outline: 0
  display: inline
  border: 1px solid transparent
  border-radius: nix.borders.radius
  cursor: pointer
  user-select: none


/**
 * [calendar__header description]
 * @return {[type]} [description]
 */
 nix-calendar__header()
  nix-grid__cell()
  nix-grid__cell--no-gutter()
  nix-grid__cell--width-70()
  nix-padding--horizontal--sm()


/**
 * [calendar__day description]
 * @return {[type]} [description]
 */
nix-calendar__day()
  nix-grid__cell()
  nix-grid__cell--no-gutter()
  nix-padding--horizontal--sm()
  flex: 0 0 14.28%
  max-width: 14.28%
  font-weight: 700


/**
 * [calendar__date description]
 * @return {[type]} [description]
 */
nix-calendar__date()
  nix-calendar__control(nix.skin.white, nix.skin.default)


/**
 * [hover description]
 * @return {[type]} [description]
 */
nix-calendar__date--hover()
  border: 1px solid nix.skin.border


/**
 * [month description]
 * @return {[type]} [description]
 */
nix-calendar__date--in-month()
  color: nix.skin.black


/**
 * [today description]
 * @return {[type]} [description]
 */
nix-calendar__date--today()
  border-color: nix.skin.gray--light


/**
 * [selected description]
 * @return {[type]} [description]
 */
nix-calendar__date--selected()
  border-color: nix.skin.primary
  nix-button--color(nix.skin.primary, nix.skin.white)


/**
 * [high description]
 * @return {[type]} [description]
 */
nix-calendar--high()
  box-shadow: nix.shadows.high


/**
 * [higher description]
 * @return {[type]} [description]
 */
nix-calendar--higher()
  box-shadow: nix.shadows.higher


/**
 * [highest description]
 * @return {[type]} [description]
 */
nix-calendar--highest()
  box-shadow: nix.shadows.highest
