/* ------------------------------------------------------------------------ *\
   structure.mixins.component.drawer
\* ------------------------------------------------------------------------ */


/**
 * [drawer description]
 * @return {[type]} [description]
 */
nix-drawer()
  position: absolute
  z-index: nix.z.over
  overflow-x: hidden
  overflow-y: auto
  -webkit-overflow-scrolling: touch
  background-color: nix.colors.white
  color: nix.colors.black


/**
 * [bottom description]
 * @return {[type]} [description]
 */
nix-drawer--bottom()
  top: 100%
  left: 0
  margin-left: 10%
  width: 80%
  height: auto
  transform: translate3d(0, 0, 0)


/**
 * [visible description]
 * @return {[type]} [description]
 */
nix-drawer--bottom--visible()
  transform: translate3d(0, -99%, 0)


/**
 * [top description]
 * @return {[type]} [description]
 */
nix-drawer--top()
  bottom: 100%
  left: 0
  margin-left: 10%
  width: 80%
  height: auto
  transform: translate3d(0, 0, 0)


/**
 * [visible description]
 * @return {[type]} [description]
 */
nix-drawer--top--visible()
  transform: translate3d(0, 99%, 0)


/**
 * [left description]
 * @return {[type]} [description]
 */
nix-drawer--left()
  top: 0
  left: 0
  width: 260px
  height: 100%
  transform: translate3d(-100%, 0, 0)


/**
 * [visible description]
 * @return {[type]} [description]
 */
nix-drawer--left--visible()
  transform: translate3d(-1%, 0, 0)


/**
 * [right description]
 * @return {[type]} [description]
 */
nix-drawer--right()
  top: 0;
  left: 100%
  width: 260px
  height: 100%
  transform: translate3d(0, 0, 0)


/**
 * [visible description]
 * @return {[type]} [description]
 */
nix-drawer--right--visible()
  transform: translate3d(-99%, 0, 0)


/**
 * [drawer__heading description]
 * @return {[type]} [description]
 */
nix-drawer__heading()
  nix-padding--all--md()
  nix-margin--all--0()
  text-align: center


/**
 * [drawer__menu description]
 * @return {[type]} [description]
 */
nix-drawer__menu()
  nix-border--radius(0)
  nix-margin--all--0()
  nix-border--horizontal--0()
  display: block


/**
 * [drawer__body description]
 * @return {[type]} [description]
 */
nix-drawer__body()
  nix-padding--all--md()


/**
 * [high description]
 * @return {[type]} [description]
 */
nix-drawer--high()
  box-shadow: nix.shadows.high-solid


/**
 * [higher description]
 * @return {[type]} [description]
 */
nix-drawer--higher()
  box-shadow: nix.shadows.higher-solid


/**
 * [highest description]
 * @return {[type]} [description]
 */
nix-drawer--highest()
  box-shadow: nix.shadows.highest-solid
