/* ------------------------------------------------------------------------ *\
   variables.breakpoint
\* ------------------------------------------------------------------------ */

$breakpoint--offset = .01em
$breakpoint--xxxs 	= 0
$breakpoint--xxs 		= 320px
$breakpoint--xs 		= 480px
$breakpoint--sm 		= 544px
$breakpoint--md 		= 767px
$breakpoint--lg 		= 992px
$breakpoint--xl 		= 1280px
$breakpoint--xxl 		= 1920px
$breakpoint--xxxl 	= 2560px
