// Color
// ------------------------------------------
app.color = {
  white: #FFF
  white--beige: #f5f2ef
  white--bronze: #efe8e1
  black: #000
  dark: #333
  gray: #5F5F5F
  gray--light: #999
  gray--lighter: #e5edec
  green: #43B02A
  green--dark: #338720
  cyan: #41b7d4
  cyan--dark: #2287A0
  orange--light: #fd9426
  orange: #FD9426
  orange--dark: #e08000
  yellow--light: #FDC92D
  yellow: #FDC92D
  yellow--dark: #F1BA2C
  red: #FF5600
  red--dark: #b73e00
}