/* ------------------------------------------------------------------------ *\
   variables.color
\* ------------------------------------------------------------------------ */


$color--green 					= #43B02A
$color--greenDark 			= #338720
$color--cyan 						= #41b7d4
$color--cyanDark 				= #2287A0
$color--orangeLighter   = #ffba71
$color--orangeLight 		= #ffab21
$color--orange 					= #fd9426
$color--orangeBright    = #f58000
$color--orangeDark 			= #e08000
$color--yellowLight 		= #FDC92D
$color--yellow 					= #FDC92D
$color--yellowDark 			= #F1BA2C
$color--red 						= #FF5600
$color--redDark 				= #b73e00
$color--brownLight			= #9d8371
$color--brown						= #7b583f
$color--brownDark				= #5d4431
$color--brownDarker     = #46311C
$color--brownDarken   	= #191109
$color--white 					= #FFFFFF
$color--whiteBeige 			= #f9f7f6
$color--whiteBronze 		= #efe8e1
$color--grayLighter 		= #e5edec
$color--grayLight 			= #999999
$color--gray 						= #5F5F5F
$color--grayDark 				= #333333
$color--black 					= #000000