// Color
// ------------------------------------------
color = {}
color.white = #FFF
color.white--beige = #f5f3f1
color.white--bronze = #efe8e1
color.black = #000
color.dark = #333
color.gray = #5F5F5F
color.gray--light = #999
color.gray--lighter = #e5edec
color.green = #43B02A
color.green--dark = #338720
color.cyan = #41b7d4
color.cyan--dark = #2287A0
color.orange--light = #fd9426
color.orange = #FD9426
color.orange--dark = #e08000
color.yellow--light = #FDC92D
color.yellow = #FDC92D
color.yellow--dark = #F1BA2C
color.red = #FF5600
color.red--dark = #b73e00