// Font
// ------------------------------------------
font = {}
font.default = "Helvetica Neue", Helvetica, sans-serif
font.fontAwesome = "FontAwesome"
font.simpleLine = "simple-line-icons"
font.roboto = "Roboto"
font.roboto = "Fira"
font.openSans = "Open Sans"