// Font
// ------------------------------------------
app.font = {
  default: '"Helvetica Neue", Helvetica, sans-serif'
  fontAwesome: "FontAwesome"
  simpleLine: "simple-line-icons"
  roboto: "Roboto"
  fira: "Fira"
  openSans: "Open Sans"
}