/* ------------------------------------------------------------------------ *\
   variables.z
\* ------------------------------------------------------------------------ */


$z--under 		= -1
$z--default 	= 0
$z--bottom 		= 10
$z--middle 		= 100
$z--top 			= 1000
$z--over 			= 10000
$z--master    = 100000