/* ------------------------------------------------------------------------ *\
   animations.alert
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "alert"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
