/* ------------------------------------------------------------------------ *\
   animations.drawer
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "drawer"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */

[{selector}~="container"]
  a-drawer()

  &[{selector}~="--slow"]
    a-drawer--slow()

  &[{selector}~="--fast"]
    a-drawer--fast()
