/* ------------------------------------------------------------------------ *\
   animations.drawer
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "drawer"
selector = prefix + name

