/* ------------------------------------------------------------------------ *\
   animations.menu
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "menu"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */

[{selector}~="container"]
  a-menu()

  &[{selector}~="--top"]
    a-menu--top()

  &[{selector}~="--bottom"]
    a-menu--bottom()

  &[{selector}~="--left"]
    a-menu--left()

  &[{selector}~="--right"]
    a-menu--right()

  &[{selector}~="--slow"]
    a-menu--slow()

  &[{selector}~="--fast"]
    a-menu--fast()
