/* ------------------------------------------------------------------------ *\
   animations.menu
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "menu"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
