/* ------------------------------------------------------------------------ *\
   animations.modal
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "modal"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
