/* ------------------------------------------------------------------------ *\
   animations.nav
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "nav"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */

[{selector}~="container"]
  [c-nav~="__item"]
    a-nav__item()


[{selector}~="--slow"]
  [c-nav~="__item"]
    a-nav__item--slow()


[{selector}~="--fast"]
  [c-nav~="__item"]
    a-nav__item--fast()
