/* ------------------------------------------------------------------------ *\
   animations.overlay
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "overlay"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
