/* ------------------------------------------------------------------------ *\
   animations.range
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "range"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
