/* ------------------------------------------------------------------------ *\
   animations.tab
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "tab"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
