/* ------------------------------------------------------------------------ *\
   animations.toast
\* ------------------------------------------------------------------------ */


/**
 * [toast__keyframes description]
 * @return {[type]} [description]
 */
nix-animation--toast__keyframes()
  @keyframes toast
    from
      opacity: 0
      transform: perspective(400px) rotate3d(1, 0, 0, 90deg)
      animation-timing-function: ease-in

    40%
      transform: perspective(400px) rotate3d(1, 0, 0, -20deg)
      animation-timing-function: ease-in

    60%
      opacity: 1
      transform: perspective(400px) rotate3d(1, 0, 0, 10deg)

    80%
      transform: perspective(400px) rotate3d(1, 0, 0, -5deg)

    to
      transform: perspective(400px)


/**
 * [toast description]
 * @return {[type]} [description]
 */
nix-animation--toast()
  animation-name: toast
  animation-duration: nix.animations.duration
  animation-fill-mode: both
  animation-timing-function: nix.animations.easing
  backface-visibility: visible


/**
 * [slow description]
 * @return {[type]} [description]
 */
nix-animation--toast--slow()
  animation-duration: nix.animations.duration-slow


/**
 * [fast description]
 * @return {[type]} [description]
 */
nix-animation--toast--fast()
  animation-duration: nix.animations.duration-fast
