/* ------------------------------------------------------------------------ *\
   animations.toggle
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "toggle"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
