/* ------------------------------------------------------------------------ *\
   animations.tree
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "tree"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
