/* ------------------------------------------------------------------------ *\
   structure.animations
\* ------------------------------------------------------------------------ */


/**
 * recursive n globbing import
 */
@require "*"
