/* ------------------------------------------------------------------------ *\
   structure.animations
\* ------------------------------------------------------------------------ */


/**
 * [prefix description]
 * @type {[type]}
 */
prefix = nix.prefix.root + nix.prefix.animation


/**
 * recursive n globbing import
 */
@require "*"
