/* ------------------------------------------------------------------------ *\
   structure.animations
\* ------------------------------------------------------------------------ */


/**
 * [prefix description]
 * @type {[type]}
 */
prefix = nix.prefix.root + nix.prefix.animation


/**
 * recursive n globbing import
 */
@require "*"

/* styles
\* ------------------------------------------------------------------------ */
a-global--create(selector, "fadeIn")
a-global--create(selector, "fadeInUp")
a-global--create(selector, "fadeInDown")
a-global--create(selector, "fadeInLeft")
