/* ------------------------------------------------------------------------ *\
   variables.plugins
\* ------------------------------------------------------------------------ */

@import "axis"
@import "rupture"
@import "jeet"
@import "typographic"

/* --- Axis --------------------------------------------------------------- */
// img-path = $nix.images.path
// font-stack = $nix.type.family
// font-size = $nix.type.size
// font-color = $nix.type.color

// normalize-css()
// border-box-html()
fluid-media()


/* --- Rupture ------------------------------------------------------------ */
rupture.scale = $nix.mq.xxs $nix.mq.xs $nix.mq.sm $nix.mq.md $nix.mq.lg $nix.mq.xl $nix.mq.xxl
rupture.scale-names = keys($nix.mq)
rupture.enable-em-breakpoints = true


/* --- Jeet --------------------------------------------------------------- */


/* --- Typographic -------------------------------------------------------- */

// fonts
// font-roboto = $nix.text.family.primary + "," + $nix.text.family.default
// font-fira = $nix.text.family.secondary + "," + $nix.text.family.default

// config
$line-height-ratio   = $nix.text.font.line-height
$heading-ratio       = $golden
$body-font-weight    = $nix.text.font.weight
$heading-font-weight = $nix.text.font.weight
$min-font            = $nix.text.font.size-min
$max-font            = $nix.text.font.size-max
$min-width           = 320px
$max-width           = 1280px
$vertical-rhythm     = true
// $body-font           = font-roboto
// $heading-font        = font-fira

typographic()
