/* ------------------------------------------------------------------------ *\
   variables.typography
\* ------------------------------------------------------------------------ */

/**
 * [fonts description]
 * @type {Object}
 */
$nix.text = {

  "responsive": true

  "family": {
    "default"    : unquote("'Helvetica Neue', Tahoma, sans-serif" )
    "primary"    : unquote("'Fira'")
    "secondary"  : unquote("'Roboto'")
    "third"      : unquote("'Raleway'")
    "mono"       : unquote("''")
  }

  "font": {
    "size"            : 0.95em
    "size-min"        : 14px
    "size-max"        : 18px
    "weight--light"   : 200
    "weight"          : 300
    "weight--heavy"   : 700
    "line-height"     : 1.75
    "spacing"         : 0
    "smoothing"       : true
  }

  "sizes": {
    "0"     : 0
    "xxxs"  : 0.67em
    "xxs"   : 0.83em
    "xs"    : 0.95em
    "sm"    : 1.17em
    "md"    : 1.5em
    "lg"    : 2em
    "xl"    : 2.85em
    "xxl"   : 3.6em
    "xxxl"  : 4em
  }
}


/**
 * [typography description]
 * @type {Object}
 */
$nix.typography = {
  "family"         : $nix.text.family.primary + "," $nix.text.family.secondary + "," + $nix.text.family.default
  "size"           : $nix.text.font.size
  "weight"         : $nix.text.font.weight
  "weight--light"  : $nix.text.font.weight--light
  "weight--heavy"  : $nix.text.font.weight--heavy
  "height"         : $nix.text.font.line-height
  "smoothing"      : $nix.text.font.smoothing
}
