/* ------------------------------------------------------------------------ *\
   structure.mixins.core
\* ------------------------------------------------------------------------ */


/**
 * [replaceInSelector description]
 * @param  {[type]} what [description]
 * @param  {[type]} with =             "" [description]
 * @return {[type]}      [description]
 */
nix-core--replaceInSelector(what, with = "")
  /{replace(what, with , selector())}
    {block}


/**
 * [selector description]
 * @return {[type]} [description]
 */
// nix-core--rootSelector()
//   nix-core--replaceInSelector("^(\S+)(--|__|\s|::?).+$", "$1")
//     {block}


/**
 * [getAttribute description]
 * @param  {[type]} attr     [description]
 * @param  {[type]} modifier [description]
 * @param  {[type]} element  [description]
 * @return {[type]}          [description]
 */
// nix-core--getAttribute(attr, modifier, element)
//   if modifier != null
//     [{attr}~=\"--{modifier}\"]
//
//   else if element != null
//     [{attr}~=\"__{element}\"]

/**
 * [getParent description]
 * @param  {[type]} depth =             1 [description]
 * @return {[type]}       [description]
 */
nix-core--getParent(depth = 1)
  selectors = split(",", selector())
  for selector, i in selectors
    selector = split(" ", selector)
    selector = selector[0..length(selector) - (1 + depth)]
    selectors[i] = join(" ", selector)
  return "/" + join(",", selectors)


/**
 * [calcPercentage description]
 * @param  {[type]} n [description]
 * @return {[type]}   [description]
 */
nix-core--calcPercentage(n)
  (n * 100) %


/**
 * [calcHalf description]
 * @param  {[type]} n [description]
 * @return {[type]}   [description]
 */
nix-core--calcHalf(n)
  return round(n / 2)

/**
 * [calcQuarter description]
 * @param  {[type]} n [description]
 * @return {[type]}   [description]
 */
nix-core--calcQuarter(n)
  return round(n / 4)


/**
 * [calcDouble description]
 * @param  {[type]} n [description]
 * @return {[type]}   [description]
 */
nix-core--calcDouble(n)
  return round(n * 2)


/**
 * [calcQuadruple description]
 * @param  {[type]} n [description]
 * @return {[type]}   [description]
 */
nix-core--calcQuadruple(n)
  return round(n * 4)
