/* ------------------------------------------------------------------------ *\
   mixins.animation.rainbow
\* ------------------------------------------------------------------------ */


/**
 * [rainbow__keyframes description]
 * @return {[type]} [description]
 */
a-rainbow__keyframes()
  @-webkit-keyframes rainbow
    0%,
    100%
      background-color: hsl(87, 50%, 52%)
    16%
      background-color: hsl(174, 41%, 64%)
    32%
      background-color: hsl(14, 100%, 62%)
    48%
      background-color: hsl(291, 63%, 42%)
    64%
      background-color: hsl(0, 69%, 67%)

  @keyframes rainbow
    0%,
    100%
      background-color: hsl(87, 50%, 52%)
    16%
      background-color: hsl(174, 41%, 64%)
    32%
      background-color: hsl(14, 100%, 62%)
    48%
      background-color: hsl(291, 63%, 42%)
    64%
      background-color: hsl(0, 69%, 67%)


/**
 * [rainbow description]
 * @return {[type]} [description]
 */
a-rainbow()
  animation-name: rainbow
