/* ------------------------------------------------------------------------ *\
   mixins.animation.tab
\* ------------------------------------------------------------------------ */


/**
 * [heading description]
 * @return {[type]} [description]
 */
a-tab__heading()
  transition: box-shadow
  transition-timing-function: nix.animations.easing
  transition-duration: nix.animations.duration


/**
 * [slow description]
 * @return {[type]} [description]
 */
a-tab__heading--slow()
  transition-duration: nix.animations.duration-slow


/**
 * [fast description]
 * @return {[type]} [description]
 */
a-tab__heading--fast()
  transition-duration: nix.animations.duration-fast
