/* ------------------------------------------------------------------------ *\
   mixins.animation.toggle
\* ------------------------------------------------------------------------ */


/**
 * [toggle__track description]
 * @return {[type]} [description]
 */
a-toggle__track()
  transition: background-color
  transition-timing-function: nix.animations.easing
  transition-duration: nix.animations.duration


/**
 * [toggle__handle description]
 * @return {[type]} [description]
 */
a-toggle__handle()
  transition: transform
  transition-timing-function: nix.animations.easing
  transition-duration: nix.animations.duration


/**
 * [slow description]
 * @return {[type]} [description]
 */
a-toggle__track--slow()
  transition-duration: nix.animations.duration-slow


/**
 * [slow description]
 * @return {[type]} [description]
 */
a-toggle__handle--slow()
  transition-duration: nix.animations.duration-slow


/**
 * [fast description]
 * @return {[type]} [description]
 */
a-toggle__track--fast()
  transition-duration: nix.animations.duration-fast


/**
 * [fast description]
 * @return {[type]} [description]
 */
a-toggle__handle--fast()
  transition-duration: nix.animations.duration-fast
