/* ------------------------------------------------------------------------ *\
   structure.mixins.align
\* ------------------------------------------------------------------------ */


/**
 * [container description]
 * @param  {[type]} selector [description]
 * @return {[type]}          [description]
 */
nix-align--container()
  transform-style: preserve-3d


/**
 * [align__target description]
 * @return {[type]} [description]
 */
nix-align__target()
  position: absolute
  margin: 0


/**
 * [direction description]
 * @param  {[type]} direction =             "all" [description]
 * @return {[type]}           [description]
 */
nix-align__target--direction(direction = "all")
  if(direction == "all")
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    -webkit-transform: translate(-50%, -50%)
    -ms-transform: translate(-50%, -50%)

  if(direction == "horizontal")
    left: 50%
    transform: translateX(-50%)
    -webkit-transform: translateX(-50%)
    -ms-transform: translateX(-50%)

  else if (direction == "vertical")
    top: 50%
    transform: translateY(-50%)
    -webkit-transform: translateY(-50%)
    -ms-transform: translateY(-50%)


/**
 * [flex description]
 * @return {[type]} [description]
 */
nix-align--flex()
  display: flex
  align-items: center
  justify-content: center
  padding: 0


/**
 * [create description]
 * @return {[type]} [description]
 */
nix-align--create(selector)
  [{selector}~="--center"]
    nix-align__target--direction("all")

  [{selector}~="--center"]
    nix-align("all")

  [{selector}~="--vertical"]
    nix-align("vertical")

  [{selector}~="--horizontal"]
    nix-align("horizontal")

  [{selector}~="--flex"]
    nix-align--flex()
