/* ------------------------------------------------------------------------ *\
   structure.mixins.align
\* ------------------------------------------------------------------------ */


/**
 * [container description]
 * @param  {[type]} selector [description]
 * @return {[type]}          [description]
 */
nix-align--container()
  transform-style: preserve-3d


/**
 * [align__target description]
 * @return {[type]} [description]
 */
nix-align__target(direction = "all")
  position: absolute
  margin: 0

  if(direction == "all")
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

  if(direction == "horizontal")
    left: 50%
    transform: translateX(-50%)

  else if (direction == "vertical")
    top: 50%
    transform: translateY(-50%)


/**
 * [flex description]
 * @return {[type]} [description]
 */
nix-align--flex()
  display: flex
  align-items: center
  justify-content: center
  padding: 0


/**
 * [create description]
 * @return {[type]} [description]
 */
nix-align--create(selector)
  [{selector}~="container"]
    nix-align--container()

  [{selector}~="__target"]
    &[{selector}~="--all"]
      nix-align__target("all")

    &[{selector}~="--center"]
      nix-align__target("center")

    &[{selector}~="--vertical"]
      nix-align__target("vertical")

    &[{selector}~="--horizontal"]
      nix-align__target("horizontal")

    &[{selector}~="--flex"]
      nix-align__target("flex")
