/* ------------------------------------------------------------------------ *\
   structure.mixins.animation
\* ------------------------------------------------------------------------ */


/**
 * [animation description]
 * @return {[type]} [description]
 */
nix-animation()
  if nix.animations
    body
      animation-duration: 4s
      animation-fill-mode: both

    a,
    a:before,
    a:after
      transition(all .1s ease-in)


/**
 * [fadeIn__keyframes description]
 * @return {[type]} [description]
 */
nix-animation--fadeIn__keyframes()
  @-webkit-keyframes fadeIn
    0%
      opacity: 0
    100%
      opacity: 1

  @keyframes fadeIn
    0%
      opacity: 0
    100%
      opacity: 1


/**
 * [fadeIn description]
 * @param  {[type]} class [description]
 * @return {[type]}       [description]
 */
nix-animation--fadeIn()
  animation-name: fadeIn


/**
 * [fadeInLeft__keyframes description]
 * @return {[type]} [description]
 */
nix-animation--fadeInLeft__keyframes()
  @-webkit-keyframes fadeInLeft
    0%
      opacity: 0
      transform: translate3d(-15px, 0, 0)
    100%
      opacity: 1
      transform: none

  @keyframes fadeInLeft
    0%
      opacity: 0
      transform: translate3d(-15px, 0, 0)
    100%
      opacity: 1
      transform: none


/**
 * [fadeInLeft description]
 * @return {[type]} [description]
 */
nix-animation--fadeInLeft()
  animation-name: fadeInLeft


/**
 * [fadeInDown__keyframes description]
 * @return {[type]} [description]
 */
nix-animation--fadeInDown__keyframes()
  @-webkit-keyframes fadeInDown
    0%
      opacity: 0
      transform: translate3d(0, -10px, 0)
    100%
      opacity: 1
      transform: none

  @keyframes fadeInDown
    0%
      opacity: 0
      transform: translate3d(0, -10px, 0)
    100%
      opacity: 1
      transform: none


/**
 * [fadeInDown description]
 * @return {[type]} [description]
 */
nix-animation--fadeInDown()
  animation-name: fadeInDown


/**
 * [fadeInUp__keyframes description]
 * @return {[type]} [description]
 */
nix-animation--fadeInUp__keyframes()
  @-webkit-keyframes fadeInUp
    0%
      opacity: 0
      transform: translate3d(0, 100%, 0)
    100%
      opacity: 1
      transform: none

  @keyframes fadeInUp
    0%
      opacity: 0
      transform: translate3d(0, 100%, 0)
    100%
      opacity: 1
      transform: none


/**
 * [fadeInUp description]
 * @return {[type]} [description]
 */
nix-animation--fadeInUp()
  animation-name: fadeInUp


/**
 * [rainbow__keyframes description]
 * @return {[type]} [description]
 */
nix-animation--rainbow__keyframes()
  @-webkit-keyframes rainbow
    0%,
    100%
      background-color: hsl(87, 50%, 52%)
    16%
      background-color: hsl(174, 41%, 64%)
    32%
      background-color: hsl(14, 100%, 62%)
    48%
      background-color: hsl(291, 63%, 42%)
    64%
      background-color: hsl(0, 69%, 67%)

  @keyframes rainbow
    0%,
    100%
      background-color: hsl(87, 50%, 52%)
    16%
      background-color: hsl(174, 41%, 64%)
    32%
      background-color: hsl(14, 100%, 62%)
    48%
      background-color: hsl(291, 63%, 42%)
    64%
      background-color: hsl(0, 69%, 67%)


nix-animation--rainbow()
  animation-name: rainbow

/**
 * [create description]
 * @return {[type]} [description]
 */
nix-animation--create(selector)
  [{selector}~="--fadeIn"]
    nix-animation--fadeIn()
    nix-animation--fadeIn__keyframes()

  [{selector}~="--fadeInLeft"]
    nix-animation--fadeInLeft()
    nix-animation--fadeInLeft__keyframes()

  [{selector}~="--fadeInDown"]
    nix-animation--fadeInDown()
    nix-animation--fadeInDown__keyframes()

  [{selector}~="--fadeInUp"]
    nix-animation--fadeInUp()
    nix-animation--fadeInUp__keyframes()

  [{selector}~="--rainbow"]
    nix-animation--rainbow()
    nix-animation--rainbow__keyframes()
