/* ------------------------------------------------------------------------ *\
   animations.menu
\* ------------------------------------------------------------------------ */


/**
 * [menu__keyframes description]
 * @return {[type]} [description]
 */
nix-animation--menu__keyframes()
  @keyframes menu
    from
      transform: scale3d(0, 0, 0)
      opacity: 0

    to
      transform: scale3d(1, 1, 1)
      opacity: 1


/**
 * [menu description]
 * @return {[type]} [description]
 */
nix-animation--menu()
  animation-name: menu
  animation-duration: nix.animations.duration
  animation-fill-mode: both
  animation-timing-function: nix.animations.easing


/**
 * [top description]
 * @return {[type]} [description]
 */
nix-animation--menu--top()
  transform-origin: top


/**
 * [bottom description]
 * @return {[type]} [description]
 */
nix-animation--menu--bottom()
  transform-origin: bottom


/**
 * [left description]
 * @return {[type]} [description]
 */
nix-animation--menu--left()
  transform-origin: left


/**
 * [right description]
 * @return {[type]} [description]
 */
nix-animation--menu--right()
  transform-origin: right


/**
 * [slow description]
 * @return {[type]} [description]
 */
nix-animation--menu--slow()
  animation-duration: nix.animations.duration-slow


/**
 * [fast description]
 * @return {[type]} [description]
 */
nix-animation--menu--fast()
  animation-duration: nix.animations.duration-fast
