/* ------------------------------------------------------------------------ *\
   mixins.animation.drawer
\* ------------------------------------------------------------------------ */


/**
 * [drawer description]
 * @return {[type]} [description]
 */
nix-animation--drawer()
  transition: transform
  transition-timing-function: nix.animations.easing
  transition-duration: nix.animations.duration


/**
 * [slow description]
 * @return {[type]} [description]
 */
nix-animation--drawer--slow()
  transition-duration: nix.animations.duration-slow


/**
 * [fast description]
 * @return {[type]} [description]
 */
nix-animation--drawer--fast()
  transition-duration: nix.animations.duration-fast
