/* ------------------------------------------------------------------------ *\
   structure.mixins.animation
\* ------------------------------------------------------------------------ */


// settings
nix.animation.duration-fast = 0.2s
nix.animation.duration = 0.5s
nix.animation.duration-slow = 0.9s
nix.animation.easing = ease


animation()
  if nix.animations != ("off" || false)
    body
      animation-duration: 4s
      animation-fill-mode: both

    a,
    a:before,
    a:after
      transition(all .1s ease-in)


animation--create(selector, opt)
  [{selector}~=\"{opt}\"]
    animation--{opt}()
    animation--{opt}__keyframes()
