/* ------------------------------------------------------------------------ *\
   animations.tab
\* ------------------------------------------------------------------------ */


/**
 * [heading description]
 * @return {[type]} [description]
 */
nix-animation--tab-heading()
  transition: box-shadow
  transition-timing-function: nix.animation.easing
  transition-duration: nix.animations.duration


/**
 * [slow description]
 * @return {[type]} [description]
 */
nix-animation--tab-heading--slow()
  transition-duration: nix.animations.duration-slow


/**
 * [fast description]
 * @return {[type]} [description]
 */
nix-animation--tab-heading--fast()
  transition-duration: nix.animations.duration-fast
