/* ------------------------------------------------------------------------ *\
   mixins.animation.range
\* ------------------------------------------------------------------------ */


/**
 * [range description]
 * @return {[type]} [description]
 */
nix-animation--range()
  &::-webkit-slider-thumb
    transition: transform
    transition-timing-function: nix.animations.easing
    transition-duration: nix.animations.duration

  &::-moz-range-thumb
    transition: transform
    transition-timing-function: nix.animations.easing
    transition-duration: nix.animations.duration

  &::-ms-thumb
    transition: transform
    transition-timing-function: nix.animations.easing
    transition-duration: nix.animations.duration



/**
 * [slow description]
 * @return {[type]} [description]
 */
nix-animation--range--slow()
  &::-webkit-slider-thumb
    transition-duration: nix.animations.duration-slow

  &::-moz-range-thumb
    transition-duration: nix.animations.duration-slow

  &::-ms-thumb
    transition-duration: nix.animations.duration-slow


/**
 * [fast description]
 * @return {[type]} [description]
 */
nix-animation--range--fast()
  &::-webkit-slider-thumb
    transition-duration: nix.animations.duration-fast

  &::-moz-range-thumb
    transition-duration: nix.animations.duration-fast

  &::-ms-thumb
    transition-duration: nix.animations.duration-fast
