/* ------------------------------------------------------------------------ *\
   structure.mixins.border
\* ------------------------------------------------------------------------ */


/**
 * [radius description]
 * @param  {[type]} radius [description]
 * @return {[type]}        [description]
 */
nix-border--radius(radius)
  border-radius: radius
  -webkit-border-radius: radius
  -moz-border-radius: radius
  -ms-border-radius: radius


/**
 * [border description]
 * @param  {[type]} radius  [description]
 * @param  {[type]} args... [description]
 * @return {[type]}         [description]
 */
nix-border(radius, args...)
  border: args
  nix-border--radius(radius)
