/* ------------------------------------------------------------------------ *\
   structure.mixins.boxing
\* ------------------------------------------------------------------------ */


/**
 * [boxing description]
 * @param  {[type]} direction [description]
 * @param  {[type]} size      [description]
 * @return {[type]}           [description]
 */
nix-boxing(direction, size)
  if direction == "all"
    padding: size

  if direction == "vertical"
    padding-top: size
    padding-bottom: size

  else if direction == "horizontal"
    padding-right: size
    padding-left: size


/**
 * [create description]
 * @param  {[type]} selector [description]
 * @return {[type]}          [description]
 */
nix-boxing--create(selector)
  for sk, sv in nix.sizes
    for dk, dv in nix.directions
      [{selector}~=\"--{dv}-{sk}\"]
        nix-boxing(dk, sv)
