/* ------------------------------------------------------------------------ *\
   mixins.component.address
\* ------------------------------------------------------------------------ */


@import "_c.text"


/**
 * [address description]
 * @return {[type]} [description]
 */
c-address()
  c-text--paragraph()


/**
 * [address__heading description]
 * @return {[type]} [description]
 */
c-address__heading()
  display: block
  font-weight: nix.text.font.weight--heavy
