/* ------------------------------------------------------------------------ *\
   mixins.component.address
\* ------------------------------------------------------------------------ */


/**
 * [address description]
 * @return {[type]} [description]
 */
c-address()
  e-paragraph()


/**
 * [address__heading description]
 * @return {[type]} [description]
 */
c-address__heading()
  display: block
  font-weight: nix.text.font.weight--heavy
