/* ------------------------------------------------------------------------ *\
   mixins.component.calendar
\* ------------------------------------------------------------------------ */


@import "_u.grid"
@import "_u.padding"
@import "_c.button"
@import "_c.text"


/**
 * [calendar description]
 * @return {[type]} [description]
 */
c-calendar()
  u-grid()
  u-grid--wrap()
  u-grid--center()
  u-grid__cell--no-gutter()
  u-padding--all--xs()
  text-align: center
  background-color: nix.skin.color.white
  border: 1px solid nix.borders.color
  border-radius: nix.borders.radius
  max-width: 400px
  z-index: nix.z.middle


/**
 * [calendar__control description]
 * @param  {[type]} bg-color =             color-white [description]
 * @param  {[type]} fg-color =             color-black [description]
 * @return {[type]}          [description]
 */
c-calendar__control(bg-color = nix.skin.color.white, fg-color = nix.skin.color.black)
  c-button--color(bg-color, fg-color)
  u-padding--vertical--md()
  u-padding--horizontal--sm()
  c-text--size--md()
  flex: 0 0 14.28%
  max-width: 14.28%
  margin: 0
  outline: 0
  display: inline
  border: 1px solid transparent
  border-radius: nix.borders.radius
  cursor: pointer
  user-select: none


/**
 * [calendar__header description]
 * @return {[type]} [description]
 */
 c-calendar__header()
  u-grid__cell()
  u-grid__cell--no-gutter()
  u-grid__cell--width-70()
  u-padding--horizontal--sm()


/**
 * [calendar__day description]
 * @return {[type]} [description]
 */
c-calendar__day()
  u-grid__cell()
  u-grid__cell--no-gutter()
  u-padding--horizontal--sm()
  flex: 0 0 14.28%
  max-width: 14.28%
  font-weight: 700


/**
 * [calendar__date description]
 * @return {[type]} [description]
 */
c-calendar__date()
  c-calendar__control(nix.skin.color.white, nix.skin.color.default)


/**
 * [hover description]
 * @return {[type]} [description]
 */
c-calendar__date--hover()
  border: 1px solid nix.skin.color.border


/**
 * [month description]
 * @return {[type]} [description]
 */
c-calendar__date--in-month()
  color: nix.skin.color.black


/**
 * [today description]
 * @return {[type]} [description]
 */
c-calendar__date--today()
  border-color: nix.skin.color.light


/**
 * [selected description]
 * @return {[type]} [description]
 */
c-calendar__date--selected()
  border-color: nix.skin.color.primary
  c-button--color(nix.skin.color.primary, nix.skin.color.white)


/**
 * [high description]
 * @return {[type]} [description]
 */
c-calendar--high()
  box-shadow: nix.shadows.high


/**
 * [higher description]
 * @return {[type]} [description]
 */
c-calendar--higher()
  box-shadow: nix.shadows.higher


/**
 * [highest description]
 * @return {[type]} [description]
 */
c-calendar--highest()
  box-shadow: nix.shadows.highest
