/* ------------------------------------------------------------------------ *\
   mixins.component.debug
\* ------------------------------------------------------------------------ */


/**
 * [debug description]
 * @return {[type]} [description]
 */
c-debug()
  u-position(fixed null null 0 0)
  display: block
  margin: 0
  padding: 0 20px
  width: 100%
  color: white
  text-align: left

  if !nix.debug.mq
    display: none

  // else
  //   +u-mq--max("sm")
  //     text-align: center


/**
 * [debug__heading description]
 * @return {[type]} [description]
 */
c-debug__heading()
  color: nix.skin.color.white
  font-size: 18px


/**
 * [debug__close description]
 * @return {[type]} [description]
 */
c-debug__close()
  u-position(absolute 0 5px auto auto)
  display: block
  line-height: nix.typography.line-height

  .icon
    color: nix.skin.color.white


c-debug--xxs()
  background: nix.palette.orange.light--30


c-debug--xs()
  background: nix.palette.orange.light--20


c-debug--sm()
  background: nix.palette.orange.light--10


c-debug--md()
  background: nix.palette.orange.core


c-debug--lg()
  background: nix.palette.orange.dark--10


c-debug--xl()
  background: nix.palette.orange.dark--20


c-debug--xxl()
  background: nix.palette.orange.dark--30



