/* ------------------------------------------------------------------------ *\
   mixins.component.heading
\* ------------------------------------------------------------------------ */


/**
 * [heading description]
 * @return {[type]} [description]
 */
c-heading()
  c-text--size--md()
  font-weight: nix.text.font.weight
  margin: 0
  padding: nix.sizes.md 0 nix.sizes.sm


/**
 * [heading__sub description]
 * @return {[type]} [description]
 */
c-heading__sub()
  c-heading()
  c-text--quiet()
  padding: nix.sizes.sm 0
  font-size: nix.text.font.size * .8


/**
 * [xxxl description]
 * @return {[type]} [description]
 */
c-heading--xxxl()
  font-size: nix.text.font.size * 5


/**
 * [xxl description]
 * @return {[type]} [description]
 */
c-heading--xxl()
  font-size: nix.text.font.size * 4


/**
 * [xl description]
 * @return {[type]} [description]
 */
c-heading--xl()
  font-size: nix.text.font.size * 3


/**
 * [lg description]
 * @return {[type]} [description]
 */
c-heading--lg()
  font-size: nix.text.font.size * 2


/**
 * [md description]
 * @return {[type]} [description]
 */
c-heading--md()
  font-size: nix.text.font.size * 1.5


/**
 * [sm description]
 * @return {[type]} [description]
 */
c-heading--sm()
  font-size: nix.text.font.size * 1.25


/**
 * [xs description]
 * @return {[type]} [description]
 */
c-heading--xs()
  font-size: nix.text.font.size * 1.05


/**
 * [xxs description]
 * @return {[type]} [description]
 */
c-heading--xxs()
  font-size: nix.text.font.size * .95


/**
 * [xxxs description]
 * @return {[type]} [description]
 */
c-heading--xxxs()
  font-size: nix.text.font.size * .75
