/* ------------------------------------------------------------------------ *\
   mixins.component.menu
\* ------------------------------------------------------------------------ */


@import "_c.card"
@import "_c.list"
@import "_c.text"


/**
 * [menu description]
 * @return {[type]} [description]
 */
c-menu()
  c-list--unstyled()
  c-card()
  display: block
  width: 100%
  margin-top: nix.sizes.xs
  background-color: nix.skin.color.white
  border-radius: nix.borders.radius
  overflow-y: auto
  overflow-x: hidden
  -webkit-overflow-scrolling: touch
  max-height: 280px
  z-index: nix.z.over


/**
 * [menu__item description]
 * @return {[type]} [description]
 */
c-menu__item()
  c-card__item()
  cursor: pointer


/**
 * [divider description]
 * @return {[type]} [description]
 */
c-menu__item--divider()
  c-text--quiet()
  font-weight: nix.text.font.weight--heavy


/**
 * [hover description]
 * @return {[type]} [description]
 */
c-menu__item--hover()
  c-card__item--hover()
  background-color: nix.skin.color.light


/**
 * [active description]
 * @return {[type]} [description]
 */
c-menu__item--active()
  background-color: nix.skin.color.light
  font-weight: nix.text.font.weight--heavy


/**
 * [disabled description]
 * @return {[type]} [description]
 */
c-menu__item--disabled()
  c-text--quiet()
  cursor: not-allowed


/**
 * [high description]
 * @return {[type]} [description]
 */
c-menu--high()
  c-card--high()


/**
 * [higher description]
 * @return {[type]} [description]
 */
c-menu--higher()
  c-card--higher()


/**
 * [highest description]
 * @return {[type]} [description]
 */
c-menu--highest()
  c-card--highest()
