/* ------------------------------------------------------------------------ *\
   mixins.component.media
\* ------------------------------------------------------------------------ */


// block
media =
  width: 100%
  height: 100%
  border: none
  u-position(absolute 0 0 0)


iframe, embed, object, video
  {media}

/**
 * [container description]
 * @return {[type]} [description]
 */
c-media()
  display: block
  overflow: hidden
  u-position(relative)
  u-reset(padding, height)


/**
 * [media__item description]
 * @param  {[type]} size =             "all" [description]
 * @return {[type]}      [description]
 */
c-media__item(size = "all")
  {media}

  for key, value in nix.media.sizes
    if size == key
      padding-bottom: __calcPercentage(nix.media.sizes[key])
