/* ------------------------------------------------------------------------ *\
   mixins.module.modal
\* ------------------------------------------------------------------------ */


/**
 * [modal description]
 * @return {[type]} [description]
 */
c-modal()
  u-align--block__content()
  z-index: nix.z.over
  display: block
  overflow: hidden
  max-width: 800px
  width: 80%
  border-radius: nix.borders.radius
  background-color: nix.skin.color.white


/**
 * [modal__header description]
 * @return {[type]} [description]
 */
c-modal__header()
  position: relative
  text-align: center


/**
 * [modal__close description]
 * @return {[type]} [description]
 */
c-modal__close()
  top: .7em


/**
 * [modal__body description]
 * @return {[type]} [description]
 */
c-modal__body()
  u-padding--all--md()


/**
 * [modal__footer description]
 * @return {[type]} [description]
 */
c-modal__footer()
  u-padding--all--md()


/**
 * [block description]
 * @return {[type]} [description]
 */
c-modal__footer--block()
  u-grid()
  u-grid__cell--no-gutter()
  padding: nix.sizes.lg 0 0 0


/**
 * [block description]
 * @return {[type]} [description]
 */
c-modal__footer-button--block()
  u-grid__cell()
  border-radius: 0


/**
 * [ghost description]
 * @return {[type]} [description]
 */
c-modal--ghost()
  background-color: transparent
  color: nix.colors.white


/**
 * [ghost description]
 * @return {[type]} [description]
 */
c-modal__heading--ghost()
  color: nix.colors.white


/**
 * [high description]
 * @return {[type]} [description]
 */
c-modal--high()
  box-shadow: nix.shadows.solid--high


/**
 * [higher description]
 * @return {[type]} [description]
 */
c-modal--higher()
  box-shadow: nix.shadows.solid--higher


/**
 * [highest description]
 * @return {[type]} [description]
 */
c-modal--highest()
  box-shadow: nix.shadows.solid--highest
