/* ------------------------------------------------------------------------ *\
   mixins.component.placeholder
\* ------------------------------------------------------------------------ */


/**
 * [placeholder description]
 * @return {[type]} [description]
 */
c-placeholder()
  &::-webkit-input-placeholder
    {block}

  &:-moz-placeholder
    {block}

  &::-moz-placeholder
    {block}

  &:-ms-input-placeholder
    {block}
