/* ------------------------------------------------------------------------ *\
   mixins.component.table
\* ------------------------------------------------------------------------ */


@import "_u.padding"
@import "_c.text"
@import "_c.heading"

/**
 * [table description]
 * @return {[type]} [description]
 */
c-table()
  display: flex
  flex-wrap: wrap
  width: 100%
  margin: 0
  padding: 0
  border-collapse: collapse
  border-spacing: 0


/**
 * [table__caption description]
 * @return {[type]} [description]
 */
c-table__caption()
  u-padding--horizontal--sm()
  c-text--quiet()
  display: flex
  flex: 0 0 100%
  max-width: 100%
  font-size: nix.text.font.size * .9
  text-align: left


/**
 * [table__row description]
 * @return {[type]} [description]
 */
c-table__row()
  display: flex
  flex-wrap: wrap
  flex: 0 0 100%
  max-width: 100%


/**
 * [striped description]
 * @return {[type]} [description]
 */
c-table__row--striped()
  background-color: nix.skin.color.grey--light


/**
 * [table__cell description]
 * @return {[type]} [description]
 */
c-table__cell()
  u-padding--all--sm()
  display: flex
  flex: 1
  text-align: left
  overflow: auto


/**
 * [table__heading description]
 * @return {[type]} [description]
 */
c-table__heading()
  c-heading--xs()
  display: flex
  flex: 1
  font-weight: bold
  background-color: nix.skin.color.light
  border-bottom: 1px solid nix.skin.color.gray


/**
 * [striped description]
 * @return {[type]} [description]
 */
c-table__heading--striped()
  background-color: initial


/**
 * [clickable description]
 * @return {[type]} [description]
 */
c-table-clickable()
  color: nix.skin.color.primary
  cursor: pointer


/**
 * [inactive description]
 * @return {[type]} [description]
 */
c-table--inactive()
  c-text--quiet()
  cursor: default


/**
 * [inactive description]
 * @return {[type]} [description]
 */
c-table--clickable--inactive()
  c-text--quiet()
  cursor: not-allowed


/**
 * [condensed description]
 * @return {[type]} [description]
 */
c-table--condensed()
  font-size: nix.text.font.size * .9


/**
 * [condensed description]
 * @return {[type]} [description]
 */
c-table__cell--condensed()
  u-padding--all--xs()
