/* ------------------------------------------------------------------------ *\
   mixins.component.tab
\* ------------------------------------------------------------------------ */


/**
 * [tabs description]
 * @return {[type]} [description]
 */
c-tabs()
  display: block


/**
 * [tabs__headings description]
 * @return {[type]} [description]
 */
c-tabs__headings()
  display: flex
  text-align: center
  cursor: pointer


/**
 * [heading description]
 * @return {[type]} [description]
 */
c-tab-heading()
  u-padding--all--md()
  flex: 1
  margin: 0
  box-shadow: 0 -.2em 0 0 nix.skin.color.gray inset


/**
 * [color description]
 * @param  {[type]} active-color =             nix.colors.default [description]
 * @return {[type]}              [description]
 */
c-tab-heading--color(active-color = nix.skin.color.default)
  box-shadow: 0 -.2em 0 0 active-color inset


/**
 * [disabled description]
 * @return {[type]} [description]
 */
c-tab-heading--disabled()
  c-text--quiet()
  cursor: not-allowed


/**
 * [tabs__tab description]
 * @return {[type]} [description]
 */
c-tabs__tab()
  u-padding--all--md()
  display: none


/**
 * [active description]
 * @return {[type]} [description]
 */
c-tabs__tab--active()
  display: block
