/* ------------------------------------------------------------------------ *\
   structure.mixins.clear
\* ------------------------------------------------------------------------ */


/**
 * [clear description]
 * @return {[type]} [description]
 */
nix-clear()
  overflow: auto
  zoom: 1


/**
 * [clearFix description]
 * @return {[type]} [description]
 */
nix-clearFix()
  zoom: 1
  &::after
    content: ""
    display: table
    clear: both
