/* ------------------------------------------------------------------------ *\
   structure.mixins.column
\* ------------------------------------------------------------------------ */


/**
 * [column description]
 * @param  {[type]} cols       [description]
 * @param  {[type]} breakpoint [description]
 * @return {[type]}            [description]
 */
nix-column(cols, breakpoint)
  +above(nix.mq[breakpoint])
    if cols != nix.grid.cols
      float: left
    position: relative
    top: 0
    left: 0
    padding-right: nix.grid.gutter
    padding-left: nix.grid.gutter
    min-height: 1px
    width: (100 / nix.grid.cols) * cols * 1%


/**
 * [last description]
 * @param  {[type]} nth [description]
 * @return {[type]}     [description]
 */
nix-column--last(nth)
  &:nth-child({nth})
    clear: left


/**
 * [equal description]
 * @param  {[type]} parent [description]
 * @return {[type]}        [description]
 */
nix-column--equal() // @TODO doesn't work with jeet cols
  / nix-core--getParent()
      overflow-y: hidden
  &
    margin-bottom: -9999px
    padding-bottom: 9999px
    height: 100%
