/* ------------------------------------------------------------------------ *\
   structure.mixins.component.nav
\* ------------------------------------------------------------------------ */


/**
 * [nav description]
 * @return {[type]} [description]
 */
nix-nav()
  nix-list()
  nix-list--unstyled()
  nix-list--inline()
  width: 100%
  color: nix.skin.white
  background-color: nix.skin.black
  z-index: nix.z.top


/**
 * [nav__item description]
 * @param  {[type]} bg-color: nix.colors.primary [description]
 * @param  {[type]} fg-color: nix.colors.white   [description]
 * @return {[type]}           [description]
 */
nix-nav__item(bg-color: nix.colors.primary, fg-color: nix.colors.white)
  nix-padding--all--md()
  color: fg-color

  &:not(:disabled)
    &:hover
      background-color: bg-color

    &:focus
      box-shadow: inset 0 0 0 2px lighten(nix.skin.secondary, 20%)

    &:active
      background-color: darken(bg-color, color-tint)


/**
 * [inline description]
 * @return {[type]} [description]
 */
nix-nav--inline()
  nix-list--inline()


/**
 * [item description]
 * @return {[type]} [description]
 */
nix-nav-inline-item()
  nix-list-inline-item()


/**
 * [hover description]
 * @return {[type]} [description]
 */
nix-nav__item--hover()
  background-color: darken(nix.skin.primary, 20%)
  cursor: pointer


/**
 * [active description]
 * @return {[type]} [description]
 */
nix-nav__item--active()
  background-color: darken(nix.skin.primary, 30%)


/**
 * [right description]
 * @return {[type]} [description]
 */
nix-nav__item--right()
  float: right


/**
 * [top description]
 * @return {[type]} [description]
 */
nix-nav--top()
  nix-position(fixed 0 0 auto 0)


/**
 * [bottom description]
 * @return {[type]} [description]
 */
nix-nav--bottom()
  nix-position(fixed auto 0 0 0)


/**
 * [left description]
 * @return {[type]} [description]
 */
nix-nav--left()
  nix-position(fixed 0 auto 0 0)


/**
 * [right description]
 * @return {[type]} [description]
 */
nav--right()
  nix-position(fixed 0 0 0 auto)


/**
 * [high description]
 * @return {[type]} [description]
 */
nav--high()
  box-shadow: nix.shadows.solid--high


/**
 * [higher description]
 * @return {[type]} [description]
 */
nav--higher()
  box-shadow: nix.shadows.solid--higher


/**
 * [highest description]
 * @return {[type]} [description]
 */
nav--highest()
  box-shadow: nix.shadows.solid--highest
