/* ------------------------------------------------------------------------ *\
   structure.mixins.component.pagination
\* ------------------------------------------------------------------------ */


/**
 * [pagination description]
 * @return {[type]} [description]
 */
nix-pagination()
  nix-padding--all--md()
  display: block
  width: 100%
  text-align: center
  font-size: nix.text.font-size * .8


/**
 * [pagination__controls description]
 * @return {[type]} [description]
 */
nix-pagination__controls()
  display: inline-block
  text-align: center


/**
 * [backward description]
 * @return {[type]} [description]
 */
nix-pagination__controls--backward()
  float: left
  text-align: left


/**
 * [forward description]
 * @return {[type]} [description]
 */
nix-pagination__controls--forward()
  float: right
  text-align: right


/**
 * [pagination__control description]
 * @param  {[type]} color: nix.colors.grey [description]
 * @return {[type]}         [description]
 */
nix-pagination__control(color: nix.skin.gray)
  nix-button()
  nix-button--ghost(color)
  nix-button--rounded()
  min-width: 2.4em


/**
 * [pagination__page description]
 * @return {[type]} [description]
 */
nix-pagination__page()
  nix-pagination__control(nix.skin.primary)


/**
 * [current description]
 * @return {[type]} [description]
 */
nix-pagination__page--current()
  background-color: nix.skin.primary
  color: nix.skin.white


/**
 * [pagination__ellipsis description]
 * @return {Boolean} [description]
 */
nix-pagination__ellipsis()
  nix-padding--vertical--md()
