/* ------------------------------------------------------------------------ *\
   structure.mixins.component.alert
\* ------------------------------------------------------------------------ */


alert()
  position: relative
  top: 0
  right: 0
  left: 0
  width: 100%


alert__content--color(bg-color: color-default, fg-color: color-white)
  color: fg-color
  background-color: bg-color


alert__content()
  position: relative
  margin-bottom: spacing-medium
  padding: spacing-medium
  border-radius: border-radius
  +alert__content--color()
