/* ------------------------------------------------------------------------ *\
   structure.mixins.component.toast
\* ------------------------------------------------------------------------ */


/**
 * [toasts description]
 * @return {[type]} [description]
 */
nix-toasts()
  display: block
  position: absolute
  width: 250px
  max-height: 100%
  overflow-y: auto
  background-color: transparent
  z-index: nix.z.top


/**
 * [left description]
 * @return {[type]} [description]
 */
nix-toasts--top-left()
  top: 0
  left: 0


/**
 * [right description]
 * @return {[type]} [description]
 */
nix-toasts--top-right()
  top: 0
  right: 0


/**
 * [left description]
 * @return {[type]} [description]
 */
nix-toasts--bottom-left()
  bottom: 0
  left: 0


/**
 * [right description]
 * @return {[type]} [description]
 */
nix-toasts--bottom-right()
  bottom: 0
  right: 0


/**
 * [color description]
 * @param  {[type]} bg-color: nix.colors.default [description]
 * @param  {[type]} fg-color: nix.colors.white   [description]
 * @return {[type]}           [description]
 */
nix-toast--color(bg-color = nix.skin.default, fg-color = nix.skin.white)
  background-color: bg-color
  color: fg-color


/**
 * [toast description]
 * @return {[type]} [description]
 */
nix-toast()
  nix-toast--color()
  nix-padding--all--md()
  nix-margin--all--sm()
  display: block
  position: relative
  border-radius: nix.borders.radius
  cursor: pointer
