/* ------------------------------------------------------------------------ *\
   structure.mixins.badge
\* ------------------------------------------------------------------------ */


/**
 * [color description]
 * @param  {[type]} bg-color =             color-default    [description]
 * @param  {[type]} fg-color =             nix.colors.white [description]
 * @return {[type]}          [description]
 */
nix-badge--color(bg-color = nix.skin.default, fg-color = nix.skin.white)
  background-color: bg-color
  color: fg-color


/**
 * [badge description]
 * @return {[type]} [description]
 */
nix-badge()
  nix-margin--all-0()
  nix-padding--all--xs()
  nix-badge--color()
  display: inline-block
  border-radius: nix.borders.radius
  font-weight: nix.text.font-weight-heavy
  font-size: nix.text.font-size * .8
