/* ------------------------------------------------------------------------ *\
   structure.mixins.card
\* ------------------------------------------------------------------------ */


/**
 * [card description]
 * @return {[type]} [description]
 */
nix-card()
  list--unstyled()
  display: block
  box-shadow: nix.box-shadow
  border-radius: nix.border.radius
  overflow: hidden


/**
 * [spacing description]
 * @return {[type]} [description]
 */
nix-card-spacing()
  margin-top: nix.sizes.md


/**
 * [paragraph description]
 * @return {[type]} [description]
 */
nix-card-first-last-paragraph()
  padding: 0


/**
 * [card__content description]
 * @return {[type]} [description]
 */
nix-card__content()
  nix-padding--all--sm()


/**
 * [divider description]
 * @return {[type]} [description]
 */
nix-card__content--divider()
  background-color: nix.colors.dark-grey
  color: nix.colors.white
  font-weight: nix.text.font-weight-heavy


/**
 * [card__item description]
 * @return {[type]} [description]
 */
nix-card__item()
  nix-padding--all--sm()
  &:not(:last-child) {
    border-bottom: 1px solid nix.colors.light-grey


/**
 * [divider description]
 * @return {[type]} [description]
 */
nix-card__item--divider()
  nix-card__content--divider()


/**
 * [hover description]
 * @return {[type]} [description]
 */
nix-card__item--hover()
  cursor: pointer


/**
 * [active description]
 * @return {[type]} [description]
 */
nix-card__item--active()
  background-color: nix.colors.light-grey


/**
 * [high description]
 * @return {[type]} [description]
 */
nix-card--high()
  box-shadow: nix.shadows.high


/**
 * [higher description]
 * @return {[type]} [description]
 */
nix-card--higher()
  box-shadow: nix.shadows.higher


/**
 * [highest description]
 * @return {[type]} [description]
 */
nix-card--highest()
  box-shadow: nix.shadows.highest
