/* ------------------------------------------------------------------------ *\
   mixins.component.tag
\* ------------------------------------------------------------------------ */


/**
 * [tag description]
 * @return {[type]} [description]
 */
nix-tag()
  nix-padding--all--sm()
  padding-right: nix.sizes.lg
  position: relative
  margin: nix.sizes.xs
  text-transform: none


/**
 * [tag__close description]
 * @return {[type]} [description]
 */
nix-tag__close()
  nix-position(absolute 7px 5px null null)
  color: lighten(nix.skin.color.gray, 20%)


/**
 * [tags description]
 * @return {[type]} [description]
 */
nix-tags()
  position: relative
  width: 100%
  text-align: left


/**
 * [menu description]
 * @return {[type]} [description]
 */
nix-tags--menu()
  position: absolute
  width: 100%


/**
 * [tags__container description]
 * @return {[type]} [description]
 */
nix-tags__container()
  display: inline-block
  padding-right: nix.sizes.xs
  max-width: 70%


/**
 * [container description]
 * @return {[type]} [description]
 */
nix-tags__field()
  position: absolute
  width: 30%
  display: inline-block
  cursor: pointer
