/* ------------------------------------------------------------------------ *\
   structure.mixins.component.debug
\* ------------------------------------------------------------------------ */

@require "_util.mediaquery"


/**
 * [debug description]
 * @return {[type]} [description]
 */
nix-debug()
  if !nix.debug.mq
    display: none

  else
    +nix-mq--max("sm")
      text-align: center

    position: relative
    color: white


    &__heading
      font-size: 18px

    &__close
      display: block
      line-height: 1.5
      nix-position(absolute 0 5px auto auto)

      .icon
        color: white


/**
 * [create description]
 * @param  {[type]} selector [description]
 * @return {[type]}          [description]
 */
nix-debug--create(selector)
  [{selector}~="--xxs"]
    background: nix.palette.orange.light--20

  [{selector}~="--xs"]
    background: nix.palette.orange.light--10

  [{selector}~="--sm"]
    background: nix.palette.orange.core

  [{selector}~="--md"]
    background: nix.palette.orange.dark--10

  [{selector}~="--lg"]
    background: nix.palette.orange.dark--20

  [{selector}~="--xl"]
    background: nix.palette.orange.dark--30
