/* ------------------------------------------------------------------------ *\
   structure.mixins.component.overlay
\* ------------------------------------------------------------------------ */


/**
 * [color description]
 * @param  {[type]} bg-color =             nix.colors.black [description]
 * @return {[type]}          [description]
 */
nix-overlay--color(bg-color = nix.skin.black)
  background-color: transparentify(bg-color, .6)


/**
 * [overlay description]
 * @return {[type]} [description]
 */
nix-overlay()
  nix-overlay--color()
  nix-position(absolute 0 0 0 0)
  display: block
  width: 100%
  height: 100%
  z-index: nix.z.top


/**
 * [fullpage description]
 * @return {[type]} [description]
 */
nix-overlay--fullpage()
  position: fixed


/**
 * [transparent description]
 * @return {[type]} [description]
 */
nix-overlay--transparent()
  background-color: transparent


/**
 * [dismissable description]
 * @return {[type]} [description]
 */
nix-overlay--dismissable()
  cursor: pointer
