/* ------------------------------------------------------------------------ *\
   structure.mixins.display
\* ------------------------------------------------------------------------ */


/**
 * [table description]
 * @return {[type]} [description]
 */
nix-display--table()
  display: table
  padding-right: 0
  padding-left: 0


/**
 * [table__row description]
 * @return {[type]} [description]
 */
nix-display--table__row()
  display: table-row


/**
 * [table__cell description]
 * @return {[type]} [description]
 */
nix-display--table__cell()
  display: table-cell
  float: none
