/* ------------------------------------------------------------------------ *\
   structure.mixins.element.image
\* ------------------------------------------------------------------------ */


/**
 * [responsive description]
 * @return {[type]} [description]
 */
nix-image--responsive()
  display: block
  max-width: 100%
  height: auto


/**
 * [background description]
 * @param  {[type]} name     [description]
 * @param  {[type]} size     =             null      [description]
 * @param  {[type]} position =             center    [description]
 * @param  {[type]} repeat   =             no-repeat [description]
 * @return {[type]}          [description]
 */
nix-image--background(name, size = null, position = center, repeat = no-repeat)
  bg = nix.images.path + name
  background-image: url(bg)

  if size !null
      background-size: size

  background-position: position
  background-repeat: repeat
