/* ------------------------------------------------------------------------ *\
   structure.mixins.address
\* ------------------------------------------------------------------------ */


/**
 * [address description]
 * @return {[type]} [description]
 */
nix-address()
  nix-paragraph()


/**
 * [address__heading description]
 * @return {[type]} [description]
 */
nix-address__heading()
  display: block
  font-weight: nix.text.font-weight-heavy
