// /* ------------------------------------------------------------------------ *\
//    structure.mixins.element.table
// \* ------------------------------------------------------------------------ */
//
//
// /**
//  * [table description]
//  * @return {[type]} [description]
//  */
// nix-table()
//   display: flex
//   flex-wrap: wrap
//   width: 100%
//   margin: 0
//   padding: 0
//   border-collapse: collapse
//   border-spacing: 0
//
//
// /**
//  * [table__caption description]
//  * @return {[type]} [description]
//  */
// nix-table__caption()
//   nix-padding--horizontal--sm()
//   nix-text--quiet()
//   display: flex
//   flex: 0 0 100%
//   max-width: 100%
//   font-size: nix.text.font-size * .9
//   text-align: left
//
//
// /**
//  * [table__row description]
//  * @return {[type]} [description]
//  */
// nix-table__row()
//   display: flex
//   flex-wrap: wrap
//   flex: 0 0 100%
//   max-width: 100%
//
//
// /**
//  * [striped description]
//  * @return {[type]} [description]
//  */
// nix-table__row--striped()
//   background-color: nix.skin.grey--light
//
//
// /**
//  * [table__cell description]
//  * @return {[type]} [description]
//  */
// nix-table__cell()
//   nix-padding--all--sm()
//   display: flex
//   flex: 1
//   text-align: left
//   overflow: auto
//
//
// /**
//  * [table__heading description]
//  * @return {[type]} [description]
//  */
// nix-table__heading()
//   nix-heading--xsmall()
//   display: flex
//   flex: 1
//   font-weight: bold
//   background-color: nix.skin.gray--light
//   border-bottom: 1px solid nix.skin.gray
//
//
// /**
//  * [striped description]
//  * @return {[type]} [description]
//  */
// nix-table__heading--striped()
//   background-color: initial
//
//
// /**
//  * [clickable description]
//  * @return {[type]} [description]
//  */
// nix-table-clickable()
//   color: nix.skin.primary
//   cursor: pointer
//
//
// /**
//  * [inactive description]
//  * @return {[type]} [description]
//  */
// nix-table--inactive()
//   nix-text--quiet()
//   cursor: default
//
//
// /**
//  * [inactive description]
//  * @return {[type]} [description]
//  */
// nix-table--clickable--inactive()
//   nix-text--quiet()
//   cursor: not-allowed
//
//
// /**
//  * [condensed description]
//  * @return {[type]} [description]
//  */
// nix-table--condensed()
//   font-size: nix.text.font-size * .9
//
//
// /**
//  * [condensed description]
//  * @return {[type]} [description]
//  */
// nix-table__cell--condensed()
//   nix-padding--all--xs()
