// /* ------------------------------------------------------------------------ *\
//    structure.mixins.element.placeholder
// \* ------------------------------------------------------------------------ */
//
//
// /**
//  * [placeholder description]
//  * @return {[type]} [description]
//  */
// nix-placeholder()
//   &::-webkit-input-placeholder
//     {block}
//
//   &:-moz-placeholder
//     {block}
//
//   &::-moz-placeholder
//     {block}
//
//   &:-ms-input-placeholder
//     {block}
