// /* ------------------------------------------------------------------------ *\
//    structure.mixins.element.media
// \* ------------------------------------------------------------------------ */
//
//
// /**
//  * [container description]
//  * @return {[type]} [description]
//  */
// nix-media--container()
//   [{selector}~=\"container\"]
//     display: block
//     overflow: hidden
//     position(relative)
//     reset(padding, height)
//
//
// /**
//  * [media__item description]
//  * @param  {[type]} size =             "all" [description]
//  * @return {[type]}      [description]
//  */
// nix-media__item(size = "all")
//   baseStyle =
//     width: 100%
//     height: 100%
//     border: none
//     position(absolute 0 0 0)
//
//   iframe, embed, object, video
//     {baseStyle}
//
//   for key, value in nix.media.sizes
//     if size == key
//       [{selector}~=\"__item--{key}\"]
//         {baseStyle}
//         padding-bottom: nix-calcPercentage(value)
//       return
//
//     else if size == "all"
//       [{selector}~=\"__item--{key}\"]
//         {baseStyle}
//         padding-bottom: nix-calcPercentage(value)
//
//
// /**
//  * [create description]
//  * @param  {[type]} selector [description]
//  * @return {[type]}          [description]
//  */
// nix-media--create(selector)
//   nix-media--container()
//   nix-media__item()
