// /* ------------------------------------------------------------------------ *\
//    structure.mixins.element.heading
// \* ------------------------------------------------------------------------ */
//
//
// /**
//  * [heading description]
//  * @return {[type]} [description]
//  */
// nix-heading()
//   nix-text-size--medium()
//   font-weight: nix.text.font-weight
//   margin: 0
//   padding: nix.sizes.md 0 nix.sizes.sm
//
//
// /**
//  * [heading__subheading description]
//  * @return {[type]} [description]
//  */
// nix-heading__subheading()
//   nix-heading()
//   nix-text--quiet()
//   padding: nix.sizes.sm 0
//   font-size: nix.text.font-size * .8
//
//
// /**
//  * [super description]
//  * @return {[type]} [description]
//  */
// nix-heading--super()
//   font-size: nix.text.font-size * 4
//
//
// /**
//  * [xlarge description]
//  * @return {[type]} [description]
//  */
// nix-heading--xlarge()
//   font-size: nix.text.font-size * 3
//
//
// /**
//  * [large description]
//  * @return {[type]} [description]
//  */
// nix-heading--large()
//   font-size: nix.text.font-size * 2
//
//
// /**
//  * [medium description]
//  * @return {[type]} [description]
//  */
// nix-heading--medium()
//   font-size: nix.text.font-size * 1.5
//
//
// /**
//  * [small description]
//  * @return {[type]} [description]
//  */
// nix-heading--small()
//   font-size: nix.text.font-size * 1.25
//
//
// /**
//  * [xsmall description]
//  * @return {[type]} [description]
//  */
// nix-heading--xsmall()
//   font-size: nix.text.font-size * 1.05
