// /* ------------------------------------------------------------------------ *\
//    structure.mixins.util.text
// \* ------------------------------------------------------------------------ */
//
//
// /**
//  * [text description]
//  * @return {[type]} [description]
//  */
// nix-text()
//   font-family: nix.typography.family
//   font-weight: nix.typography.weight
//   color: nix.skin.black
//   line-height: nix.typography.height
//   -moz-osx-font-smoothing: grayscale
//   -webkit-font-smoothing: antialiased
//   text-rendering: optimizeLegibility
//
//
// /**
//  * [ellipsis description]
//  * @param  {[type]}  no-wrap =             true [description]
//  * @return {Boolean}         [description]
//  */
// nix-text--ellipsis(no-wrap = true)
//   overflow: hidden
//   text-overflow: ellipsis
//   if no-wrap
//     white-space: nowrap
//
//
// /**
//  * [hide description]
//  * @return {[type]} [description]
//  */
// nix-text--hide()
//   overflow: hidden
//   text-indent: 110%
//   white-space: nowrap
//
//
// /**
//  * [direction description]
//  * @param  {[type]} direction [description]
//  * @return {[type]}           [description]
//  */
// nix-text--direction(direction)
//   text-align: direction
//
//
// /**
//  * [mono description]
//  * @return {[type]} [description]
//  */
// nix-text--mono()
//   font-family: nix.text.family
//
//
// /**
//  * [highlight description]
//  * @return {[type]} [description]
//  */
// nix-text--highlight()
//   nix-padding(nix.sizes.sm nix.sizes.xs  nix.sizes.xs)
//   margin: 0 -(nix.sizes.xxs)
//   background-color: saturate(nix.skin.selection, 30%)
//   color: nix.colors.black
//
//
// /**
//  * [quiet description]
//  * @return {[type]} [description]
//  */
// nix-text--quiet()
//   color: nix.skin.default
//
//
// /**
//  * [loud description]
//  * @return {[type]} [description]
//  */
// nix-text--loud()
//   font-weight: nix.text.font-weight-heavy
//
//
// /**
//  * [help description]
//  * @return {[type]} [description]
//  */
// nix-text--help()
//   cursor: help
//   border-bottom: 1px dashed nix.skin.gray--dark
//
//
// /**
//  * [xxxl description]
//  * @return {[type]} [description]
//  */
// nix-text--size--xxxl()
//   font-size: nix.text.font-size * 4
//
//
// /**
//  * [xxl description]
//  * @return {[type]} [description]
//  */
// nix-text--size--xxl()
//   font-size: nix.text.font-size * 3
//
//
// /**
//  * [xl description]
//  * @return {[type]} [description]
//  */
// nix-text--size--xl()
//   font-size: nix.text.font-size * 2
//
//
// /**
//  * [lg description]
//  * @return {[type]} [description]
//  */
// nix-text--size--lg()
//   font-size: nix.text.font-size * 1.5
//
//
// /**
//  * [md description]
//  * @return {[type]} [description]
//  */
// nix-text--size--md()
//   font-size: nix.text.font-size
//
//
// /**
//  * [sm description]
//  * @return {[type]} [description]
//  */
// nix-text--size--sm()
//   font-size: nix.text.font-size * .9
//
//
// /**
//  * [xs description]
//  * @return {[type]} [description]
//  */
// nix-text--size--xs()
//   font-size: nix.text.font-size * .7
//
//
// /**
//  * [xs description]
//  * @return {[type]} [description]
//  */
// nix-text--size--xxs()
//   font-size: nix.text.font-size * .6
//
//
// /**
//  * [xs description]
//  * @return {[type]} [description]
//  */
// nix-text--size--xxxs()
//   font-size: nix.text.font-size * .5
//
//
// /**
//  * [paragraph description]
//  * @return {[type]} [description]
//  */
// nix-text--paragraph()
//   display: block
//   padding: nix.sizes.sm 0
//   margin: 0
//   font-style: normal
//
//
// /**
//  * [code description]
//  * @return {[type]} [description]
//  */
// nix-text--code()
//   nix-text--highlight()
//   display: inline
//   background-color: nix.skin.gray--light
//   font-family: nix.text.font-family-mono
//   font-weight: nix.text.font-weight
//
//
// /**
//  * [multiline description]
//  * @return {[type]} [description]
//  */
// nix-text--code--multiline()
//   display: block
//   white-space: pre
//   padding: nix.sizes.sm nix.sizes.md
//   overflow-x: auto
//   border-radius: nix.borders.radius
//
//
// /**
//  * [keys description]
//  * @return {[type]} [description]
//  */
// nix-text--keyboard-keys()
//   nix-text--code()
//   background-color: nix.skin.primary
//   color: nix.skin.white
//   border-radius: 4px
//   border-bottom: 2px solid darken(nix.skin.primary, 20%)
//
//
// /**
//  * [quotation description]
//  * @return {[type]} [description]
//  */
// nix-text--quotation()
//   display: block
//   margin: 0
//   padding: nix.sizes.md nix.sizes.lg
//   border-left: 5px solid nix.skin.gray
//   font-family: nix.text.font-family-serif
//
//
// /**
//  * [quotation__body description]
//  * @return {[type]} [description]
//  */
// nix-text--quotation__body()
//   nix-text--paragraph()
//   font-size: nix.text.font-size * 1.3
//
//
// /**
//  * [quotation__footer description]
//  * @return {[type]} [description]
//  */
// nix-text--quotation__footer()
//   nix-text--paragraph()
//   nix-text--quiet()
//   font-style: italic
//
//
// /**
//  * [create description]
//  * @param  {[type]} selector [description]
//  * @return {[type]}          [description]
//  */
// nix-text--create(selector)
//   for size in nix.fonts.sizes
//     [{selector}~=\"--{size}\"]
//       font-size: nix.fonts.sizes[size]
