/* ------------------------------------------------------------------------ *\
   structure.mixins.float
\* ------------------------------------------------------------------------ */


/**
 * [setFloatLeft description]
 * @param {[type]} margin = nix.sizes["3"] [description]
 */
nix-setFloatLeft(margin = nix.sizes["3"])
  float: left
  margin-right: margin


/**
 * [setFloatRight description]
 * @param {[type]} margin = nix.sizes["3"] [description]
 */
nix-setFloatRight(margin = nix.sizes["3"])
  float: right
  margin-left: margin
