/* ------------------------------------------------------------------------ *\
   structure.mixins.float
\* ------------------------------------------------------------------------ */


/**
 * [left description]
 * @param  {[type]} margin =             nix.sizes["xs"] [description]
 * @return {[type]}        [description]
 */
nix-float--left(margin = nix.sizes["xs"])
  float: left
  margin-right: margin


/**
 * [right description]
 * @param  {[type]} margin =             nix.sizes["xs"] [description]
 * @return {[type]}        [description]
 */
nix-float--right(margin = nix.sizes["xs"])
  float: right
  margin-left: margin
