/* ------------------------------------------------------------------------ *\
   mixin.mixins.hack
\* ------------------------------------------------------------------------ */


/**
 * [isIE description]
 * @type {Boolean}
 */
ie = nix.legacy.ie
legacy = nix.legacy.supported


/**
 * [ie description]
 * @return {[type]} [description]
 */
nix-hack--ie()
  if (ie == true)
    if(ie == true)
      if (version == legacy)
        {block}
    else
      if (version <= legacy)
        {block}
