/* ------------------------------------------------------------------------ *\
   mixin.mixins.ie
\* ------------------------------------------------------------------------ */


/**
 * [isIE description]
 * @type {Boolean}
 */
ie = nix.legacy.ie
legacy = nix.legacy.supported


/**
 * [ie description]
 * @param  {Boolean} isIE--version [description]
 * @param  {[type]}  strictMode    =             false [description]
 * @return {[type]}                [description]
 */
nix-ie()
  if (ie == true)
    if(ie == true)
      if (version == legacy)
        {block}
    else
      if (version <= legacy)
        {block}
