/* ------------------------------------------------------------------------ *\
   structure.mixins.margin
\* ------------------------------------------------------------------------ */


/**
 * [margin description]
 * @param  {[type]} direction [description]
 * @param  {[type]} size      [description]
 * @return {[type]}           [description]
 */
nix-margin(direction, size)
  if direction == "all"
    margin: size
  else if direction == "vertical"
    margin-top: size
    margin-bottom: size
  else if direction == "horizontal"
    margin-right: size
    margin-left: size
  else if direction == "top"
    margin-top: size
  else if direction == "right"
    margin-right: size
  else if direction == "bottom"
    margin-bottom: size
  else
    margin-left: size


/**
 * [create description]
 * @return {[type]} [description]
 */
nix-margin--create(selector)
  for dk, dv in nix.directions
    for sk, sv in nix.sizes
      [{selector}~=\"--{dv}{sk}\"]
        nix-margin(dk, sv)
