/* ------------------------------------------------------------------------ *\
   structure.mixins.media
\* ------------------------------------------------------------------------ */


/**
 * [container description]
 * @return {[type]} [description]
 */
nix-media--container()
  [{selector}~=\"container\"]
    display: block
    overflow: hidden
    nix-set--position(relative)
    nix-set--reset(padding, height)


/**
 * [media__item description]
 * @param  {[type]} size =             "all" [description]
 * @return {[type]}      [description]
 */
nix-media__item(size = "all")
  baseStyle =
    width: 100%
    height: 100%
    border: none
    nix-set--position(absolute top = 0 bottom = 0 left = 0)

  iframe, embed, object, video
    {baseStyle}

  for key, value in nix.media.sizes
    if size == key
      [{selector}~=\"__item--{key}\"]
        {baseStyle}
        padding-bottom: nix-core--calcPercentage(value)
      return

    else if size == "all"
      [{selector}~=\"__item--{key}\"]
        {baseStyle}
        padding-bottom: nix-core--calcPercentage(value)


/**
 * [create description]
 * @return {[type]} [description]
 */
nix-media--create(selector)
  nix-media--container()
  nix-media__item()
