/* ------------------------------------------------------------------------ *\
   structure.mixins.mq
\* ------------------------------------------------------------------------ */


/**
 * [mq description]
 * @type {Object}
 */
mq = {}
mq.offset = .01em


/**
 * [min description]
 * @param  {[type]} size  [description]
 * @param  {[type]} block =             null [description]
 * @return {[type]}       [description]
 */
nix-mq--min(size, block = null)
  @media (min-width: nix.mq[size] - mq.offset)
    {block}


/**
 * [max description]
 * @param  {[type]} size  [description]
 * @param  {[type]} block =             null [description]
 * @return {[type]}       [description]
 */
nix-mq--max(size, block = null)
  @media (max-width: (nix.mq[size] - mq.offset))
    {block}



/**
 * [range description]
 * @param  {[type]} sizeMin [description]
 * @param  {[type]} sizeMax [description]
 * @param  {[type]} block   =             null [description]
 * @return {[type]}         [description]
 */
nix-mq--range(sizeMin, sizeMax, block = null)
  @media (min-width: nix.mq[sizeMin]) and (max-width: (nix.mq[sizeMax] - mq.offset))
    {block}

/**
 * [mq description]
 * @param  {[type]} min =             null [description]
 * @param  {[type]} max =             null [description]
 * @return {[type]}     [description]
 */
nix-mq(sizeMin = null, sizeMax = null)
  if sizeMin && sizeMax != null
    nix-mq--range(sizeMin, sizeMax, block)

  else if sizeMin != null
    nix-mq--min(sizeMin, block)

  else
    nix-mq--max(sizeMax, block)
