/* ------------------------------------------------------------------------ *\
   structure.mixins.padding
\* ------------------------------------------------------------------------ */


/**
 * [padding description]
 * @param  {[type]} direction [description]
 * @param  {[type]} size      [description]
 * @return {[type]}           [description]
 */
nix-padding(direction, size)
  if direction == "all"
    padding: size
  else if direction == "vertical"
    padding-top: size
    padding-bottom: size
  else if direction == "horizontal"
    padding-right: size
    padding-left: size
  else if direction == "top"
    padding-top: size
  else if direction == "right"
    padding-right: size
  else if direction == "bottom"
    padding-bottom: size
  else
    padding-left: size


/**
 * [create description]
 * @return {[type]} [description]
 */
nix-padding--create(selector)
  for dk, dv in nix.directions
    for sk, sv in nix.sizes
      [{selector}~=\"--{dv}{sk}\"]
        nix-padding(dk, sv)
