/* ------------------------------------------------------------------------ *\
   structure.mixins.position
\* ------------------------------------------------------------------------ */


/**
 * [setPosition description]
 */
nix-setPosition()
  position: arguments
  z-index: 1 unless @z-index
