/* ------------------------------------------------------------------------ *\
   structure.mixins.reset
\* ------------------------------------------------------------------------ */


/**
 * [reset description]
 */
nix-reset()
  properties = {
    "border": none
    "background": none
    "border-radius": 0
    "padding": 0
    "margin": 0
    "width": auto
    "height": auto
    "z-index": 0
    "font-size": initial
    "font-weight": normal
    "text-shadow": none
    "box-shadow": none
    "visibility": visible
    "display": inline-block
    "position": static
    "float": none
  }

  for prop, value in properties
    for arg in arguments
      if(prop == arg[0])
        {arg[0]}: value
