/* ------------------------------------------------------------------------ *\
   structure.mixins.reset
\* ------------------------------------------------------------------------ */


/**
 * [clear description]
 * @return {[type]} [description]
 */
nix-reset--clear()
  overflow: auto
  zoom: 1


/**
 * [clearfix description]
 * @return {[type]} [description]
 */
nix-reset--clearfix()
  zoom: 1
  &::after
    display: table
    clear: both
    content: ""


/**
 * [reset description]
 */
nix-reset()
  for prop, value in nix.reset
    for arg in arguments
      if(prop == arg[0])
        {arg[0]}: value


/**
 * [create description]
 * @return {[type]} [description]
 */
nix-reset--create(selector)
  for prop, value in nix.reset
    [{selector}~=\"--{prop}\"]
      {prop}: value
