/* ------------------------------------------------------------------------ *\
   structure.mixins.size
\* ------------------------------------------------------------------------ */


/**
 * [size description]
 * @param {[type]} width  = null [description]
 * @param {[type]} height = null [description]
 */
nix-size(width = null, height = null)
  if(width != null)
    width: width
  if(height != null)
    height: height
