/* ------------------------------------------------------------------------ *\
   structure.mixins.skin
\* ------------------------------------------------------------------------ */


/**
 * [cold description]
 * @param  {[type]} color [description]
 * @return {[type]}       [description]
 */
nix-color--cold(color)
  mix(origin, nix.tint.cold, 95%)


/**
 * [warm description]
 * @param  {[type]} color [description]
 * @return {[type]}       [description]
 */
nix-color--warm(color)
  mix(origin, nix.tint.warm, 95%)


/**
 * [lightOrDark description]
 * @param  {[type]} color [description]
 * @return {[type]}       [description]
 */
nix-color--lightOrDark(color)
  if dark(color)
    color: mix(nix.colors.white, color, 85%)

  else
    color: mix(nix.colors.black, color, 85%)


/**
 * [grid description]
 * @param  {[type]} hash [description]
 * @return {[type]}      [description]
 */
nix-colors--grid(hash)
  for key, value in hash
    &__cell--{key}
      background: value
      nix-color--lightOrDark(value)


/**
 * [set description]
 * @param {[type]} background [description]
 * @param {[type]} color      [description]
 * @param {[type]} border     [description]
 */
nix-skin--set(background, color, border)
  background-color: background
  color: color
  border-color: border


/**
 * [gradient description]
 * @param  {[type]} color1   [description]
 * @param  {[type]} color2   [description]
 * @param  {[type]} strength [description]
 * @return {[type]}          [description]
 */
nix-skin--gradient(color1, color2, strength)
  gradient(color1, color2, strength)


/**
 * [grid description]
 * @return {[type]} [description]
 */
nix-skin--grid--create()
  nix-colors--grid(nix.skin.color)


/**
 * [create description]
 * @param  {[type]} selector [description]
 * @return {[type]}          [description]
 */
nix-skin--create(selector)
  selection =
    background-color: nix.skin.color.selection
    color: nix.skin.color.white
    text-shadow: none

  background-color: nix.skin.color.white
  color: nix.skin.color.default

  ::selection
    {selection}

  ::-moz-selection
    {selection}

  h1, h2, h3, h4, h5, h6, .heading
    color: nix.skin.color.heading

  b, optgroup, strong, legend, th, dt, .text.--bold, .text.--strong
    color: nix.skin.color.heavy

  hr
    background-color: nix.skin.color.divider

  a
    background-color: transparent
    color: nix.skin.color.link

    &:hover
      color: nix.skin.color.hover

  fieldset
    border-color: nix.skin.third
