/* ------------------------------------------------------------------------ *\
   structure.mixins.space
\* ------------------------------------------------------------------------ */


/**
 * [create description]
 * @return {[type]} [description]
 */
nix-space--create(selector)
  &
    {nix-reset--clearfix}

  for key, value in nix.sizes
    [{selector}~=\"--{key}\"]
      height: value
