/* ------------------------------------------------------------------------ *\
   structure.mixins.space
\* ------------------------------------------------------------------------ */


/**
 * [spaces description]
 * @param  {[type]} class [description]
 * @return {[type]}       [description]
 */
nix-spaces()
  &
    {clearFix}

  for key, value in nix.sizes
    [{selector}~=\"--{key}\"]
      height: value
