/* ------------------------------------------------------------------------ *\
   mixins.typography.rhythm
\* ------------------------------------------------------------------------ */


/**
 * [rhythm description]
 * @return {[type]} [description]
 */
t-rhythm()
  font-size: nix.typography.size
  font-family: nix.typography.family
  line-height: nix.typography.line-height

  h1, h2, h3, h4, h5, h6, p, .heading, .text
    margin: 0 0 .67rem 0
    font-weight: 200
    font-family: nix.typography.family
    line-height: nix.typography.line-height

  h1
    font-size: nix.text.sizes.lg

  h2
    font-size: nix.text.sizes.md

  h3
    font-size: nix.text.sizes.sm

  h4
    font-size: nix.text.sizes.xs

  h5
    font-size: nix.text.sizes.xxs

  h6
    font-size: nix.text.sizes.xxxs

  p
    font-size: nix.text.sizes.xs
    letter-spacing: .3px

    &:last-child, &[nix.prefix.root + nix.prefix.util + "-grid"~="__cell"]
      margin-bottom: 0

  code, kbd, pre, samp
    font-family: monospace, monospace
    font-size: 1em

  b, optgroup, strong, legend, th, dt
    font-weight: 500

  e-text--create(nix.prefix.root + nix.prefix.util + "text")
