/* ------------------------------------------------------------------------ *\
   mixins.typography.stack
\* ------------------------------------------------------------------------ */


/**
 * [fira description]
 * @return {[type]} [description]
 */
t-stack--fira()
  t-font--face("Fira Sans", "FiraSans-Thin", "200")
  t-font--face("Fira Sans", "FiraSans-Light", "300")
  t-font--face("Fira Sans", "FiraSans-Regular", "400")
  t-font--face("Fira Sans", "FiraSans-Medium", "500")
  t-font--face("Fira Sans", "FiraSans-Bold", "700")


/**
 * [roboto description]
 * @return {[type]} [description]
 */
t-stack--roboto()
  t-font--face("Roboto", "Roboto-Thin", "200")
  t-font--face("Roboto", "Roboto-Light", "300")
  t-font--face("Roboto", "Roboto-Regular", "400")
  t-font--face("Roboto", "Roboto-Medium", "500")
  t-font--face("Roboto", "Roboto-Bold", "700")
