/* ------------------------------------------------------------------------ *\
   mixins.theme.typography
\* ------------------------------------------------------------------------ */


/**
 * [font description]
 * @param  {[type]} family [description]
 * @param  {[type]} size   [description]
 * @param  {[type]} style  =             normal [description]
 * @param  {[type]} weight =             normal [description]
 * @return {[type]}        [description]
 */
t-typography(family, size, style = normal, weight = normal)
  font-family: family, nix.text.family.default
  font-style: style
  font-weight: weight
  font-size: size


/**
 * [face description]
 * @param  {[type]} name   [description]
 * @param  {[type]} weight =             "normal" [description]
 * @param  {[type]} style  =             "normal" [description]
 * @return {[type]}        [description]
 */
t-typography--face(family, name, weight = "normal", style = "normal")
  url-fallback = "url('" + nix.fonts.path + "/" + name + ".eot')"
  url = "url('" + nix.fonts.path + "/" + name + ".eot?#iefix') format('embedded-opentype'), "
  url = url + "url('" + nix.fonts.path + "/" + name + ".woff') format('woff'), "
  url = url + "url('" + nix.fonts.path + "/" + name + ".ttf') format('truetype'), "
  url = url + "url('" + nix.fonts.path + "/" + name + ".svg#svg" + name + "') format('svg')"

  @font-face
    src: unquote(url-fallback)
    src: unquote(url)
    font-family: family
    font-style: unquote(style)
    font-weight: unquote(weight)


/**
 * [family description]
 * @param  {[type]} family [description]
 * @return {[type]}        [description]
 */
t-typography--family(family)
  font-family: family, nix.text.family.default


/**
 * [size description]
 * @param  {[type]} size [description]
 * @return {[type]}      [description]
 */
t-typography--size(size)
  font-size: size


/**
 * [smoothing description]
 * @param  {[type]} value =             true [description]
 * @return {[type]}       [description]
 */
t-typography--smoothing(value = true)
  if value
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
  else
    -webkit-font-smoothing: subpixel-antialiased
    -moz-osx-font-smoothing: auto


/**
 * [base description]
 * @param  {[type]} type [description]
 * @return {[type]}      [description]
 */
t-typography--base(type)
  t-typography--smoothing(type.smoothing)
  font-size: type.size
  font-weight: type.weight
  font-family: type.family
  line-height: type.line-height
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%
  -webkit-tap-highlight-color: rgba(128, 203, 196, .1)


/**
 * [fira description]
 * @return {[type]} [description]
 */
t-typography--fira()
  t-typography--face("Fira Sans", "FiraSans-Thin", "200")
  t-typography--face("Fira Sans", "FiraSans-Light", "300")
  t-typography--face("Fira Sans", "FiraSans-Regular", "400")
  t-typography--face("Fira Sans", "FiraSans-Medium", "500")
  t-typography--face("Fira Sans", "FiraSans-Bold", "700")


/**
 * [roboto description]
 * @return {[type]} [description]
 */
t-typography--roboto()
  t-typography--face("Roboto", "Roboto-Thin", "200")
  t-typography--face("Roboto", "Roboto-Light", "300")
  t-typography--face("Roboto", "Roboto-Regular", "400")
  t-typography--face("Roboto", "Roboto-Medium", "500")
  t-typography--face("Roboto", "Roboto-Bold", "700")


/**
 * [rhythm description]
 * @return {[type]} [description]
 */
t-typography--rhythm()
  font-size: nix.typography.size
  font-family: nix.typography.family
  line-height: nix.typography.line-height

  h1, h2, h3, h4, h5, h6, p, .heading, .text
    margin: 0 0 .67rem 0
    font-weight: 200
    font-family: nix.typography.family
    line-height: nix.typography.line-height

  h1
    font-size: nix.text.sizes.lg

  h2
    font-size: nix.text.sizes.md

  h3
    font-size: nix.text.sizes.sm

  h4
    font-size: nix.text.sizes.xs

  h5
    font-size: nix.text.sizes.xxs

  h6
    font-size: nix.text.sizes.xxxs

  p
    font-size: nix.text.sizes.xs
    letter-spacing: .3px

    &:last-child, &[nix-u-grid~="__cell"]
      margin-bottom: 0

  code, kbd, pre, samp
    font-family: monospace, monospace
    font-size: 1em

  b, optgroup, strong, legend, th, dt
    font-weight: 500

  c-text--create(nix.prefix.root + nix.prefix.util + "text")
