/* ------------------------------------------------------------------------ *\
   structure.mixins.text
\* ------------------------------------------------------------------------ */


/**
 * [text--ellipsis description]
 * @param  {[type]}  nowrap =             true [description]
 * @return {Boolean}        [description]
 */
nix-text--ellipsis(no-wrap = true)
  overflow: hidden
  text-overflow: ellipsis
  if no-wrap
    white-space: nowrap


/**
 * [text--hide description]
 * @return {[type]} [description]
 */
nix-text--hide()
  overflow: hidden
  text-indent: 110%
  white-space: nowrap


/**
 * [create description]
 * @param  {[type]} selector [description]
 * @return {[type]}          [description]
 */
nix-text--create(selector)
  for size in nix.fonts.sizes
    [{selector}~=\"--{size}\"]
      font-size: nix.fonts.sizes[size]
