/* ------------------------------------------------------------------------ *\
   mixins.util.column
\* ------------------------------------------------------------------------ */


/**
 * [set description]
 * @param {[type]} cols [description]
 */
u-column--set(cols = 100)
  if cols != nix.grid.cols
    float: left

  position: relative
  top: 0
  left: 0
  padding-right: nix.grid.gutter
  padding-left: nix.grid.gutter
  min-height: 1px


/**
 * [column description]
 * @param  {[type]} cols       [description]
 * @param  {[type]} breakpoint =             null [description]
 * @return {[type]}            [description]
 */
u-column(cols, breakpoint = null)
  if breakpoint != null
    +above(nix.mq[breakpoint])
      u-column--set(cols)

  else
    u-column--set(cols)


/**
 * [last description]
 * @param  {[type]} nth [description]
 * @return {[type]}     [description]
 */
u-column--last(nth)
  &:nth-child({nth})
    clear: left


/**
 * [equal description]
 * @return {[type]} [description]
 */
u-column--equal() // @TODO doesn't work with jeet cols
  / __getParent()
      overflow-y: hidden
  &
    margin-bottom: -9999px
    padding-bottom: 9999px
    height: 100%


/**
 * [column-width description]
 * @param  {[type]} number-of-columns [description]
 * @return {[type]}                   [description]
 */
u-column--width(number-of-columns)
  width: number-of-columns / 100 * 100%


/**
 * [width-fractional description]
 * @param  {[type]} numerator   [description]
 * @param  {[type]} denominator [description]
 * @return {[type]}             [description]
 */
u-column--width--fractional(numerator, denominator)
  width: numerator / denominator * 100%


/**
 * [offset description]
 * @param {[type]} number-of-columns [description]
 */
u-column--offset(number-of-columns)
  margin-left: number-of-columns / 100 * 100%


/**
 * [offset-fractional description]
 * @param  {[type]} numerator   [description]
 * @param  {[type]} denominator [description]
 * @return {[type]}             [description]
 */
u-column--offset--fractional(numerator, denominator)
  margin-left: numerator / denominator * 100%


/**
 * [description]
 * automatic mixins generation
 * u-column--{cols}()
 * u-column--offset-{cols}()
 * @param  {[type]} nix.grid.cols /             nix.grid.interval [description]
 * @return {[type]}               [description]
 */
for cols in 1..(nix.grid.cols / nix.grid.interval)
  cols = cols * nix.grid.interval

  u-column--{cols}()
    u-column--set()
    u-column--width(cols)

  u-column--offset-{cols}()
    u-column--offset(cols)


/**
 * [description]
 * @return {[type]} [description]
 */
u-column--1-1()
  u-column--set()
  u-column--width--fractional(1, 1)


/**
 * [description]
 * @return {[type]} [description]
 */
u-column--1-2()
  u-column--set()
  u-column--width--fractional(1, 2)


/**
 * [description]
 * @return {[type]} [description]
 */
u-column--1-3()
  u-column--set()
  u-column--width--fractional(1, 3)


/**
 * [description]
 * @return {[type]} [description]
 */
u-column--2-3()
  u-column--set()
  u-column--width--fractional(2, 3)


/**
 * [description]
 * @return {[type]} [description]
 */
u-column--1-4()
  u-column--set()
  u-column--width--fractional(1, 4)


/**
 * [description]
 * @return {[type]} [description]
 */
u-column--3-4()
  u-column--set()
  u-column--width--fractional(3, 4)


/**
 * [description]
 * @return {[type]} [description]
 */
u-column--1-5()
  u-column--set()
  u-column--width--fractional(1, 5)


/**
 * [description]
 * @return {[type]} [description]
 */
u-column--2-5()
  u-column--set()
  u-column--width--fractional(2, 5)


/**
 * [description]
 * @return {[type]} [description]
 */
u-column--3-5()
  u-column--set()
  u-column--width--fractional(3, 5)


/**
 * [description]
 * @return {[type]} [description]
 */
u-column--4-5()
  u-column--set()
  u-column--width--fractional(4, 5)


/**
 * [description]
 * @return {[type]} [description]
 */
u-column--offest-1-2()
  u-column--offset--fractional(1, 2)


/**
 * [description]
 * @return {[type]} [description]
 */
u-column--offest-1-3()
  u-column--offset--fractional(1, 3)


/**
 * [description]
 * @return {[type]} [description]
 */
u-column--offest-2-3()
  u-column--offset--fractional(2, 3)


/**
 * [description]
 * @return {[type]} [description]
 */
u-column--offest-1-4()
  u-column--offset--fractional(1, 4)


/**
 * [description]
 * @return {[type]} [description]
 */
u-column--offest-3-4()
  u-column--offset--fractional(3, 4)


/**
 * [description]
 * @return {[type]} [description]
 */
u-column--offest-1-5()
  u-column--offset--fractional(1, 5)


/**
 * [description]
 * @return {[type]} [description]
 */
u-column--offest-2-5()
  u-column--offset--fractional(2, 5)


/**
 * [description]
 * @return {[type]} [description]
 */
u-column--offest-3-5()
  u-column--offset--fractional(3, 5)


/**
 * [description]
 * @return {[type]} [description]
 */
u-column--offest-4-5()
  u-column--offset--fractional(4, 5)
