/* ------------------------------------------------------------------------ *\
   mixins.util.divider
\* ------------------------------------------------------------------------ */


/**
 * [divider description]
 * @return {[type]} [description]
 */
u-divider()
  u-margin--vertical--md()
  u-reset--clear--fix()
  width: 100%
  line-height: nix.sizes.sm


/**
 * [solid description]
 * @return {[type]} [description]
 */
u-divider--thick--solid()
  u-border--bottom(6px, solid)


/**
 * [dashed description]
 * @return {[type]} [description]
 */
u-divider--thick--dashed()
  u-border--bottom(6px, dashed)


/**
 * [dotted description]
 * @return {[type]} [description]
 */
u-divider--thick--dotted()
  u-border--bottom(6px, dotted)


/**
 * [solid description]
 * @return {[type]} [description]
 */
u-divider--thin--solid()
  u-border--bottom(1px, solid)


/**
 * [dashed description]
 * @return {[type]} [description]
 */
u-divider--thin--dashed()
  u-border--bottom(1px, dashed)


/**
 * [dotted description]
 * @return {[type]} [description]
 */
u-divider--thin--dotted()
  u-border--bottom(1px, dotted)


/**
 * [solid description]
 * @return {[type]} [description]
 */
u-divider--single--solid()
  u-border--vertical(1px, solid)
  height: 1px


/**
 * [dashed description]
 * @return {[type]} [description]
 */
u-divider--single--dashed()
  u-border--vertical(1px, dashed)
  height: 1px


/**
 * [dotted description]
 * @return {[type]} [description]
 */
u-divider--single--dotted()
  u-border--vertical(1px, dotted)
  height: 1px


/**
 * [solid description]
 * @return {[type]} [description]
 */
u-divider--double--solid()
  u-border--vertical(2px, solid)
  height: 6px


/**
 * [dashed description]
 * @return {[type]} [description]
 */
u-divider--double--dashed()
  u-border--vertical(2px, dashed)
  height: 6px


/**
 * [double description]
 * @param  {[type]} style =             dotted [description]
 * @return {[type]}       [description]
 */
u-divider--double(style = dotted)
  u-border--vertical(2px, style)
  height: 6px


/**
 * [divider__content description]
 * @return {[type]} [description]
 */
u-divider__content()
  u-container()
  display: inline-block
  width: 100%
  line-height: nix.sizes.sm
  background: #F0ECE8
