/* ------------------------------------------------------------------------ *\
   mixins.util.display
\* ------------------------------------------------------------------------ */


/**
 * [table description]
 * @return {[type]} [description]
 */
u-display--table()
  u-padding--horizontal--0()
  display: table


/**
 * [table__row description]
 * @return {[type]} [description]
 */
u-display--table__row()
  display: table-row


/**
 * [table__cell description]
 * @return {[type]} [description]
 */
u-display--table__cell()
  display: table-cell
  float: none
