/* ------------------------------------------------------------------------ *\
   mixins.util.float
\* ------------------------------------------------------------------------ */


/**
 * [left description]
 * @return {[type]} [description]
 */
nix-float--left()
  float: left
  margin-right: 0


/**
 * [xxxs description]
 * @return {[type]} [description]
 */
nix-float--left--xxxs()
  float: left
  margin-right: nix.sizes["xxxs"]


/**
 * [xxs description]
 * @return {[type]} [description]
 */
nix-float--left--xxs()
  float: left
  margin-right: nix.sizes["xxs"]


/**
 * [xs description]
 * @return {[type]} [description]
 */
nix-float--left--xs()
  float: left
  margin-right: nix.sizes["xs"]


/**
 * [sm description]
 * @return {[type]} [description]
 */
nix-float--left--sm()
  float: left
  margin-right: nix.sizes["sm"]


/**
 * [md description]
 * @return {[type]} [description]
 */
nix-float--left--md()
  float: left
  margin-right: nix.sizes["md"]


/**
 * [lg description]
 * @return {[type]} [description]
 */
nix-float--left--lg()
  float: left
  margin-right: nix.sizes["lg"]


/**
 * [xl description]
 * @return {[type]} [description]
 */
nix-float--left--xl()
  float: left
  margin-right: nix.sizes["xl"]


/**
 * [xxl description]
 * @return {[type]} [description]
 */
nix-float--left--xxl()
  float: left
  margin-right: nix.sizes["xxl"]


/**
 * [xxxl description]
 * @return {[type]} [description]
 */
nix-float--left--xxxl()
  float: left
  margin-right: nix.sizes["xxxl"]


/**
 * [right description]
 * @return {[type]} [description]
 */
nix-float--right()
  float: right
  margin-left: 0


/**
 * [right description]
 * @return {[type]} [description]
 */
nix-float--right--xxxs()
  float: right
  margin-left: nix.sizes["xxxs"]


/**
 * [xxs description]
 * @return {[type]} [description]
 */
nix-float--right--xxs()
  float: right
  margin-left: nix.sizes["xxs"]


/**
 * [xs description]
 * @return {[type]} [description]
 */
nix-float--right--xs()
  float: right
  margin-left: nix.sizes["xs"]


/**
 * [sm description]
 * @return {[type]} [description]
 */
nix-float--right--sm()
  float: right
  margin-left: nix.sizes["sm"]


/**
 * [md description]
 * @return {[type]} [description]
 */
nix-float--right--md()
  float: right
  margin-left: nix.sizes["md"]


/**
 * [lg description]
 * @return {[type]} [description]
 */
nix-float--right--lg()
  float: right
  margin-left: nix.sizes["lg"]


/**
 * [xl description]
 * @return {[type]} [description]
 */
nix-float--right--xl()
  float: right
  margin-left: nix.sizes["xl"]


/**
 * [xxl description]
 * @return {[type]} [description]
 */
nix-float--right--xxl()
  float: right
  margin-left: nix.sizes["xxl"]


/**
 * [xxxl description]
 * @return {[type]} [description]
 */
nix-float--right--xxxl()
  float: right
  margin-left: nix.sizes["xxxl"]
