/* ------------------------------------------------------------------------ *\
   structure.mixins.util.outer
\* ------------------------------------------------------------------------ */


/**
 * [outer description]
 * @param  {[type]} direction [description]
 * @param  {[type]} size      [description]
 * @return {[type]}           [description]
 */
nix-outer(direction, size)
  if direction == "all"
    margin: size

  else if direction == "vertical"
    margin-top: size
    margin-bottom: size

  else if direction == "horizontal"
    margin-right: size
    margin-left: size

  else if direction == "top"
    margin-top: size

  else if direction == "right"
    margin-right: size

  else if direction == "bottom"
    margin-bottom: size

  else
    margin-left: size


/**
 * [top description]
 * @param  {[type]} size [description]
 * @return {[type]}      [description]
 */
nix-outer--top(size)
  margin-top: size


/**
 * [xxxl description]
 * @return {[type]} [description]
 */
nix-outer--top--xxxl()
  margin-top: nix.sizes.xxxl


/**
 * [xxl description]
 * @return {[type]} [description]
 */
nix-outer--top--xxl()
  margin-top: nix.sizes.xxl


/**
 * [xl description]
 * @return {[type]} [description]
 */
nix-outer--top--xl()
  margin-top: nix.sizes.xl


/**
 * [lg description]
 * @return {[type]} [description]
 */
nix-outer--top--lg()
  margin-top: nix.sizes.lg


/**
 * [md description]
 * @return {[type]} [description]
 */
nix-outer--top--md()
  margin-top: nix.sizes.md


/**
 * [sm description]
 * @return {[type]} [description]
 */
nix-outer--top--sm()
  margin-top: nix.sizes.sm


/**
 * [xs description]
 * @return {[type]} [description]
 */
nix-outer--top--xs()
  margin-top: nix.sizes.xs


/**
 * [xxs description]
 * @return {[type]} [description]
 */
nix-outer--top--xxs()
  margin-top: nix.sizes.xxs


/**
 * [xxxs description]
 * @return {[type]} [description]
 */
nix-outer--top--xxxs()
  margin-top: nix.sizes.xxxs


/**
 * [right description]
 * @param  {[type]} size [description]
 * @return {[type]}      [description]
 */
nix-outer--right(size)
  margin-right: size


/**
 * [xxxl description]
 * @return {[type]} [description]
 */
nix-outer--right--xxxl()
  margin-right: nix.sizes.xxxl


/**
 * [xxl description]
 * @return {[type]} [description]
 */
nix-outer--right--xxl()
  margin-right: nix.sizes.xxl


/**
 * [xl description]
 * @return {[type]} [description]
 */
nix-outer--right--xl()
  margin-right: nix.sizes.xl


/**
 * [lg description]
 * @return {[type]} [description]
 */
nix-outer--right--lg()
  margin-right: nix.sizes.lg


/**
 * [md description]
 * @return {[type]} [description]
 */
nix-outer--right--md()
  margin-right: nix.sizes.md


/**
 * [sm description]
 * @return {[type]} [description]
 */
nix-outer--right--sm()
  margin-right: nix.sizes.sm


/**
 * [xs description]
 * @return {[type]} [description]
 */
nix-outer--right--xs()
  margin-right: nix.sizes.xs


/**
 * [xxs description]
 * @return {[type]} [description]
 */
nix-outer--right--xxs()
  margin-right: nix.sizes.xxs


/**
 * [xxxs description]
 * @return {[type]} [description]
 */
nix-outer--right--xxxs()
  margin-right: nix.sizes.xxxs


/**
 * [bottom description]
 * @param  {[type]} size [description]
 * @return {[type]}      [description]
 */
nix-outer--bottom(size)
  margin-bottom: size


/**
 * [xxxl description]
 * @return {[type]} [description]
 */
nix-outer--bottom--xxxl()
  margin-bottom: nix.sizes.xxxl


/**
 * [xxl description]
 * @return {[type]} [description]
 */
nix-outer--bottom--xxl()
  margin-bottom: nix.sizes.xxl


/**
 * [xl description]
 * @return {[type]} [description]
 */
nix-outer--bottom--xl()
  margin-bottom: nix.sizes.xl


/**
 * [lg description]
 * @return {[type]} [description]
 */
nix-outer--bottom--lg()
  margin-bottom: nix.sizes.lg


/**
 * [md description]
 * @return {[type]} [description]
 */
nix-outer--bottom--md()
  margin-bottom: nix.sizes.md


/**
 * [sm description]
 * @return {[type]} [description]
 */
nix-outer--bottom--sm()
  margin-bottom: nix.sizes.sm


/**
 * [xs description]
 * @return {[type]} [description]
 */
nix-outer--bottom--xs()
  margin-bottom: nix.sizes.xs


/**
 * [xxs description]
 * @return {[type]} [description]
 */
nix-outer--bottom--xxs()
  margin-bottom: nix.sizes.xxs


/**
 * [xxxs description]
 * @return {[type]} [description]
 */
nix-outer--bottom--xxxs()
  margin-bottom: nix.sizes.xxxs


/**
 * [left description]
 * @param  {[type]} size [description]
 * @return {[type]}      [description]
 */
nix-outer--left(size)
  margin-left: size


/**
 * [xxxl description]
 * @return {[type]} [description]
 */
nix-outer--left--xxxl()
  margin-left: nix.sizes.xxxl


/**
 * [xxl description]
 * @return {[type]} [description]
 */
nix-outer--left--xxl()
  margin-left: nix.sizes.xxl


/**
 * [xl description]
 * @return {[type]} [description]
 */
nix-outer--left--xl()
  margin-left: nix.sizes.xl


/**
 * [lg description]
 * @return {[type]} [description]
 */
nix-outer--left--lg()
  margin-left: nix.sizes.lg


/**
 * [md description]
 * @return {[type]} [description]
 */
nix-outer--left--md()
  margin-left: nix.sizes.md


/**
 * [sm description]
 * @return {[type]} [description]
 */
nix-outer--left--sm()
  margin-left: nix.sizes.sm


/**
 * [xs description]
 * @return {[type]} [description]
 */
nix-outer--left--xs()
  margin-left: nix.sizes.xs


/**
 * [xxs description]
 * @return {[type]} [description]
 */
nix-outer--left--xxs()
  margin-left: nix.sizes.xxs


/**
 * [xxxs description]
 * @return {[type]} [description]
 */
nix-outer--left--xxxs()
  margin-left: nix.sizes.xxxs


/**
 * [vertical description]
 * @param  {[type]} size [description]
 * @return {[type]}      [description]
 */
nix-outer--vertical(size)
  nix-outer--top(size)
  nix-outer--bottom(size)


/**
 * [xxxl description]
 * @return {[type]} [description]
 */
nix-outer--vertical--xxxl()
  nix-outer--top--xxxl()
  nix-outer--bottom--xxxl()


/**
 * [xxl description]
 * @return {[type]} [description]
 */
nix-outer--vertical--xxl()
  nix-outer--top--xxl()
  nix-outer--bottom--xxl()


/**
 * [xl description]
 * @return {[type]} [description]
 */
nix-outer--vertical--xl()
  nix-outer--top--xl()
  nix-outer--bottom--xl()


/**
 * [lg description]
 * @return {[type]} [description]
 */
nix-outer--vertical--lg()
  nix-outer--top--lg()
  nix-outer--bottom--lg()


/**
 * [md description]
 * @return {[type]} [description]
 */
nix-outer--vertical--md()
  nix-outer--top--md()
  nix-outer--bottom--md()


/**
 * [sm description]
 * @return {[type]} [description]
 */
nix-outer--vertical--sm()
  nix-outer--top--sm()
  nix-outer--bottom--sm()


/**
 * [xs description]
 * @return {[type]} [description]
 */
nix-outer--vertical--xs()
  nix-outer--top--xs()
  nix-outer--bottom--xs()


/**
 * [xxs description]
 * @return {[type]} [description]
 */
nix-outer--vertical--xxs()
  nix-outer--top--xxs()
  nix-outer--bottom--xxs()


/**
 * [xxxs description]
 * @return {[type]} [description]
 */
nix-outer--vertical--xxxs()
  nix-outer--top--xxxs()
  nix-outer--bottom--xxxs()


/**
 * [horizontal description]
 * @param  {[type]} size [description]
 * @return {[type]}      [description]
 */
nix-outer--horizontal(size)
  nix-outer--right(size)
  nix-outer--left(size)


/**
 * [xxxl description]
 * @return {[type]} [description]
 */
nix-outer--horizontal--xxxl()
  nix-outer--right--xxxl()
  nix-outer--left--xxxl()


/**
 * [xxl description]
 * @return {[type]} [description]
 */
nix-outer--horizontal--xxl()
  nix-outer--right--xxl()
  nix-outer--left--xxl()


/**
 * [xl description]
 * @return {[type]} [description]
 */
nix-outer--horizontal--xl()
  nix-outer--right--xl()
  nix-outer--left--xl()


/**
 * [lg description]
 * @return {[type]} [description]
 */
nix-outer--horizontal--lg()
  nix-outer--right--lg()
  nix-outer--left--lg()


/**
 * [md description]
 * @return {[type]} [description]
 */
nix-outer--horizontal--md()
  nix-outer--right--md()
  nix-outer--left--md()


/**
 * [sm description]
 * @return {[type]} [description]
 */
nix-outer--horizontal--sm()
  nix-outer--right--sm()
  nix-outer--left--sm()


/**
 * [xs description]
 * @return {[type]} [description]
 */
nix-outer--horizontal--xs()
  nix-outer--right--xs()
  nix-outer--left--xs()


/**
 * [xxs description]
 * @return {[type]} [description]
 */
nix-outer--horizontal--xxs()
  nix-outer--right--xxs()
  nix-outer--left--xxs()


/**
 * [xxxs description]
 * @return {[type]} [description]
 */
nix-outer--horizontal--xxxs()
  nix-outer--right--xxxs()
  nix-outer--left--xxxs()


/**
 * [all description]
 * @param  {[type]} size [description]
 * @return {[type]}      [description]
 */
nix-outer--all(size)
  nix-outer--vertical(size)
  nix-outer--horizontal(size)


/**
 * [xxxl description]
 * @return {[type]} [description]
 */
nix-outer--all--xxxl()
  nix-outer--vertical--xxxl()
  nix-outer--horizontal--xxxl()


/**
 * [xxl description]
 * @return {[type]} [description]
 */
nix-outer--all--xxl()
  nix-outer--vertical--xxl()
  nix-outer--horizontal--xxl()


/**
 * [xl description]
 * @return {[type]} [description]
 */
nix-outer--all--xl()
  nix-outer--vertical--xl()
  nix-outer--horizontal--xl()


/**
 * [lg description]
 * @return {[type]} [description]
 */
nix-outer--all--lg()
  nix-outer--vertical--lg()
  nix-outer--horizontal--lg()


/**
 * [md description]
 * @return {[type]} [description]
 */
nix-outer--all--md()
  nix-outer--vertical--md()
  nix-outer--horizontal--md()


/**
 * [sm description]
 * @return {[type]} [description]
 */
nix-outer--all--sm()
  nix-outer--vertical--sm()
  nix-outer--horizontal--sm()


/**
 * [xs description]
 * @return {[type]} [description]
 */
nix-outer--all--xs()
  nix-outer--vertical--xs()
  nix-outer--horizontal--xs()


/**
 * [xxs description]
 * @return {[type]} [description]
 */
nix-outer--all--xxs()
  nix-outer--vertical--xxs()
  nix-outer--horizontal--xxs()


/**
 * [xxxs description]
 * @return {[type]} [description]
 */
nix-outer--all--xxxs()
  nix-outer--vertical--xxxs()
  nix-outer--horizontal--xxxs()


/**
 * [create description]
 * @param  {[type]} selector [description]
 * @return {[type]}          [description]
 */
nix-outer--create(selector)
  for dk, dv in nix.directions
    for sk, sv in nix.sizes
      [{selector}~=\"--{dv}--{sk}\"]
        nix-outer(dk, sv)
