/* ------------------------------------------------------------------------ *\
   structure.mixins.util.display
\* ------------------------------------------------------------------------ */


nix-display--table()
  display: table
  padding-right: 0
  padding-left: 0


nix-display--table__row()
  display: table-row


nix-display--table__cell()
  display: table-cell
  float: none
