/* ------------------------------------------------------------------------ *\
   mixins.util.space
\* ------------------------------------------------------------------------ */


/**
 * [space description]
 * @param  {[type]} size =             nix.sizes.md [description]
 * @return {[type]}      [description]
 */
nix-space(size = nix.sizes.md)
  nix-reset--clearfix()
  nix-size--height(size)


/**
 * automatic mixins generation
 * nix-space--{size}()
 */
for key, value in nix.sizes
  nix-space--{key}()
    nix-space(value)


/**
 * [create description]
 * @param  {[type]} selector [description]
 * @return {[type]}          [description]
 */
nix-space--create(selector)
  nix-reset--clearfix()

  for key, value in nix.sizes
    [{selector}~=\"--{key}\"]
      nix-size--height(value)
