/* ------------------------------------------------------------------------ *\
   mixins.util.padding
\* ------------------------------------------------------------------------ */


/**
 * [set description]
 */
nix-padding--set()
  if null in arguments
    padding-top: arguments[0] if arguments[0] != null
    padding-right: arguments[1] if arguments[1] != null
    if length(arguments) == 2
      padding-bottom: arguments[0] if arguments[0] != null
      padding-left: arguments[1] if arguments[1] != null
    else if length(arguments) == 3
      padding-bottom: arguments[2] if arguments[2] != null
      padding-left: arguments[1] if arguments[1] != null
    else if length(arguments) == 4
      padding-bottom: arguments[2] if arguments[2] != null
      padding-left: arguments[3] if arguments[3] != null
  else
    padding: arguments


/**
 * [padding description]
 * @param  {[type]} direction [description]
 * @param  {[type]} size      [description]
 * @return {[type]}           [description]
 */
nix-padding(direction, size)
  if direction == "all"
    nix-padding--set(size)

  else if direction == "vertical"
    nix-padding--set(size null)

  else if direction == "horizontal"
    nix-padding--set(null size)

  else if direction == "top"
    nix-padding--set(size null null null)

  else if direction == "right"
    nix-padding--set(null size null null)

  else if direction == "bottom"
    nix-padding--set(null null size null)

  else
    nix-padding--set(null null null size)



/**
 * automatic mixins generation
 * nix-padding--{direction}(size)
 * nix-padding--{direction}--{size}()
 */
for dk in nix.directions
  nix-padding--{dk}(size)
    nix-padding(dk, size)

  for sk in nix.sizes
    nix-padding--{dk}--{sk}()
      nix-padding(dk, nix.sizes[sk])


/**
 * [create description]
 * @param  {[type]} selector [description]
 * @return {[type]}          [description]
 */
nix-padding--create(selector)
  for dk, dv in nix.directions
    for sk, sv in nix.sizes
      [{selector}~=\"--{dv}--{sk}\"]
        nix-padding(dk, sv)
