/* ------------------------------------------------------------------------ *\
   structure.mixins.util.float
\* ------------------------------------------------------------------------ */


nix-float--left(margin = nix.sizes["xs"])
  float: left
  margin-right: margin


nix-float--right(margin = nix.sizes["xs"])
  float: right
  margin-left: margin
