/* ------------------------------------------------------------------------ *\
   structure.mixins.util.position
\* ------------------------------------------------------------------------ */


/**
 * [position description]
 * @return {[type]} [description]
 */
nix-position()
  position: arguments
  z-index: 1 unless @z-index
