/* ------------------------------------------------------------------------ *\
   mixins.util.margin
\* ------------------------------------------------------------------------ */


/**
 * [set description]
 */
nix-margin--set()
  if null in arguments
    margin-top: arguments[0] if arguments[0] != null
    margin-right: arguments[1] if arguments[1] != null
    if length(arguments) == 2
      margin-bottom: arguments[0] if arguments[0] != null
      margin-left: arguments[1] if arguments[1] != null
    else if length(arguments) == 3
      margin-bottom: arguments[2] if arguments[2] != null
      margin-left: arguments[1] if arguments[1] != null
    else if length(arguments) == 4
      margin-bottom: arguments[2] if arguments[2] != null
      margin-left: arguments[3] if arguments[3] != null
  else
    margin: arguments


/**
 * [margin description]
 * @param  {[type]} direction [description]
 * @param  {[type]} size      [description]
 * @return {[type]}           [description]
 */
nix-margin(direction, size)
  if direction == "all"
    nix-margin--set(size)

  else if direction == "vertical"
    nix-margin--set(size null)

  else if direction == "horizontal"
    nix-margin--set(null size)

  else if direction == "top"
    nix-margin--set(size null null null)

  else if direction == "right"
    nix-margin--set(null size null null)

  else if direction == "bottom"
    nix-margin--set(null null size null)

  else
    nix-margin--set(null null null size)


/**
 * [top description]
 * @param  {[type]} size [description]
 * @return {[type]}      [description]
 */
nix-margin--top(size)
  nix-margin("top", size)


/**
 * [xxxl description]
 * @return {[type]} [description]
 */
nix-margin--top--xxxl()
  nix-margin("top", nix.sizes.xxxl)


/**
 * [xxl description]
 * @return {[type]} [description]
 */
nix-margin--top--xxl()
  nix-margin("top", nix.sizes.xxl)


/**
 * [xl description]
 * @return {[type]} [description]
 */
nix-margin--top--xl()
  nix-margin("top", nix.sizes.xl)


/**
 * [lg description]
 * @return {[type]} [description]
 */
nix-margin--top--lg()
  nix-margin("top", nix.sizes.lg)


/**
 * [md description]
 * @return {[type]} [description]
 */
nix-margin--top--md()
  nix-margin("top", nix.sizes.md)


/**
 * [sm description]
 * @return {[type]} [description]
 */
nix-margin--top--sm()
nix-margin("top", nix.sizes.sm)


/**
 * [xs description]
 * @return {[type]} [description]
 */
nix-margin--top--xs()
  nix-margin("top", nix.sizes.xs)


/**
 * [xxs description]
 * @return {[type]} [description]
 */
nix-margin--top--xxs()
  nix-margin("top", nix.sizes.xxs)


/**
 * [xxxs description]
 * @return {[type]} [description]
 */
nix-margin--top--xxxs()
  nix-margin("top", nix.sizes.xxxs)


/**
 * [0 description]
 * @return {[type]} [description]
 */
nix-margin--top--0()
  nix-margin("top", 0)


/**
 * [horizontal description]
 * @param  {[type]} size [description]
 * @return {[type]}      [description]
 */
nix-margin--right(size)
  nix-margin("right", size)


/**
 * [xxxl description]
 * @return {[type]} [description]
 */
nix-margin--right--xxxl()
  nix-margin("right", nix.sizes.xxxl)


/**
 * [xxl description]
 * @return {[type]} [description]
 */
nix-margin--right--xxl()
  nix-margin("right", nix.sizes.xxl)


/**
 * [xl description]
 * @return {[type]} [description]
 */
nix-margin--right--xl()
  nix-margin("right", nix.sizes.xl)


/**
 * [lg description]
 * @return {[type]} [description]
 */
nix-margin--right--lg()
  nix-margin("right", nix.sizes.lg)


/**
 * [md description]
 * @return {[type]} [description]
 */
nix-margin--right--md()
  nix-margin("right", nix.sizes.md)


/**
 * [sm description]
 * @return {[type]} [description]
 */
nix-margin--right--sm()
  nix-margin("right", nix.sizes.sm)


/**
 * [xs description]
 * @return {[type]} [description]
 */
nix-margin--right--xs()
  nix-margin("right", nix.sizes.xs)


/**
 * [xxs description]
 * @return {[type]} [description]
 */
nix-margin--right--xxs()
  nix-margin("right", nix.sizes.xxs)


/**
 * [xxxs description]
 * @return {[type]} [description]
 */
nix-margin--right--xxxs()
  nix-margin("right", nix.sizes.xxxs)


/**
 * [0 description]
 * @return {[type]} [description]
 */
nix-margin--right--0()
  nix-margin("right", 0)


/**
 * [horizontal description]
 * @param  {[type]} size [description]
 * @return {[type]}      [description]
 */
nix-margin--bottom(size)
  nix-margin("bottom", size)


/**
 * [xxxl description]
 * @return {[type]} [description]
 */
nix-margin--bottom--xxxl()
  nix-margin("bottom", nix.sizes.xxxl)


/**
 * [xxl description]
 * @return {[type]} [description]
 */
nix-margin--bottom--xxl()
  nix-margin("bottom", nix.sizes.xxl)


/**
 * [xl description]
 * @return {[type]} [description]
 */
nix-margin--bottom--xl()
  nix-margin("bottom", nix.sizes.xl)


/**
 * [lg description]
 * @return {[type]} [description]
 */
nix-margin--bottom--lg()
  nix-margin("bottom", nix.sizes.lg)


/**
 * [md description]
 * @return {[type]} [description]
 */
nix-margin--bottom--md()
  nix-margin("bottom", nix.sizes.md)


/**
 * [sm description]
 * @return {[type]} [description]
 */
nix-margin--bottom--sm()
  nix-margin("bottom", nix.sizes.sm)


/**
 * [xs description]
 * @return {[type]} [description]
 */
nix-margin--bottom--xs()
  nix-margin("bottom", nix.sizes.xs)


/**
 * [xxs description]
 * @return {[type]} [description]
 */
nix-margin--bottom--xxs()
  nix-margin("bottom", nix.sizes.xxs)


/**
 * [xxxs description]
 * @return {[type]} [description]
 */
nix-margin--bottom--xxxs()
  nix-margin("bottom", nix.sizes.xxxs)


/**
 * [0 description]
 * @return {[type]} [description]
 */
nix-margin--bottom--0()
  nix-margin("bottom", 0)


/**
 * [horizontal description]
 * @param  {[type]} size [description]
 * @return {[type]}      [description]
 */
nix-margin--left(size)
  nix-margin("left", size)


/**
 * [xxxl description]
 * @return {[type]} [description]
 */
nix-margin--left--xxxl()
  nix-margin("left", nix.sizes.xxxl)


/**
 * [xxl description]
 * @return {[type]} [description]
 */
nix-margin--left--xxl()
  nix-margin("left", nix.sizes.xxl)


/**
 * [xl description]
 * @return {[type]} [description]
 */
nix-margin--left--xl()
  nix-margin("left", nix.sizes.xl)


/**
 * [lg description]
 * @return {[type]} [description]
 */
nix-margin--left--lg()
  nix-margin("left", nix.sizes.lg)


/**
 * [md description]
 * @return {[type]} [description]
 */
nix-margin--left--md()
  nix-margin("left", nix.sizes.md)


/**
 * [sm description]
 * @return {[type]} [description]
 */
nix-margin--left--sm()
  nix-margin("left", nix.sizes.sm)


/**
 * [xs description]
 * @return {[type]} [description]
 */
nix-margin--left--xs()
  nix-margin("left", nix.sizes.xs)


/**
 * [xxs description]
 * @return {[type]} [description]
 */
nix-margin--left--xxs()
  nix-margin("left", nix.sizes.xxs)


/**
 * [xxxs description]
 * @return {[type]} [description]
 */
nix-margin--left--xxxs()
  nix-margin("left", nix.sizes.xxxs)


/**
 * [0 description]
 * @return {[type]} [description]
 */
nix-margin--left--0()
  nix-margin("left", 0)


/**
 * [vertical description]
 * @param  {[type]} size [description]
 * @return {[type]}      [description]
 */
nix-margin--vertical(size)
  nix-margin--top(size)
  nix-margin--bottom(size)


/**
 * [xxxl description]
 * @return {[type]} [description]
 */
nix-margin--vertical--xxxl()
  nix-margin--top--xxxl()
  nix-margin--bottom--xxxl()


/**
 * [xxl description]
 * @return {[type]} [description]
 */
nix-margin--vertical--xxl()
  nix-margin--top--xxl()
  nix-margin--bottom--xxl()


/**
 * [xl description]
 * @return {[type]} [description]
 */
nix-margin--vertical--xl()
  nix-margin--top--xl()
  nix-margin--bottom--xl()


/**
 * [lg description]
 * @return {[type]} [description]
 */
nix-margin--vertical--lg()
  nix-margin--top--lg()
  nix-margin--bottom--lg()


/**
 * [md description]
 * @return {[type]} [description]
 */
nix-margin--vertical--md()
  nix-margin--top--md()
  nix-margin--bottom--md()


/**
 * [sm description]
 * @return {[type]} [description]
 */
nix-margin--vertical--sm()
  nix-margin--top--sm()
  nix-margin--bottom--sm()


/**
 * [xs description]
 * @return {[type]} [description]
 */
nix-margin--vertical--xs()
  nix-margin--top--xs()
  nix-margin--bottom--xs()


/**
 * [xxs description]
 * @return {[type]} [description]
 */
nix-margin--vertical--xxs()
  nix-margin--top--xxs()
  nix-margin--bottom--xxs()


/**
 * [xxxs description]
 * @return {[type]} [description]
 */
nix-margin--vertical--xxxs()
  nix-margin--top--xxxs()
  nix-margin--bottom--xxxs()


/**
 * [0 description]
 * @return {[type]} [description]
 */
nix-margin--vertical--0()
  nix-margin--top--0()
  nix-margin--bottom--0()


/**
 * [horizontal description]
 * @param  {[type]} size [description]
 * @return {[type]}      [description]
 */
nix-margin--horizontal(size)
  nix-margin--right(size)
  nix-margin--left(size)


/**
 * [xxxl description]
 * @return {[type]} [description]
 */
nix-margin--horizontal--xxxl()
  nix-margin--right--xxxl()
  nix-margin--left--xxxl()


/**
 * [xxl description]
 * @return {[type]} [description]
 */
nix-margin--horizontal--xxl()
  nix-margin--right--xxl()
  nix-margin--left--xxl()


/**
 * [xl description]
 * @return {[type]} [description]
 */
nix-margin--horizontal--xl()
  nix-margin--right--xl()
  nix-margin--left--xl()


/**
 * [lg description]
 * @return {[type]} [description]
 */
nix-margin--horizontal--lg()
  nix-margin--right--lg()
  nix-margin--left--lg()


/**
 * [md description]
 * @return {[type]} [description]
 */
nix-margin--horizontal--md()
  nix-margin--right--md()
  nix-margin--left--md()


/**
 * [sm description]
 * @return {[type]} [description]
 */
nix-margin--horizontal--sm()
  nix-margin--right--sm()
  nix-margin--left--sm()


/**
 * [xs description]
 * @return {[type]} [description]
 */
nix-margin--horizontal--xs()
  nix-margin--right--xs()
  nix-margin--left--xs()


/**
 * [xxs description]
 * @return {[type]} [description]
 */
nix-margin--horizontal--xxs()
  nix-margin--right--xxs()
  nix-margin--left--xxs()


/**
 * [xxxs description]
 * @return {[type]} [description]
 */
nix-margin--horizontal--xxxs()
  nix-margin--right--xxxs()
  nix-margin--left--xxxs()


/**
 * [0 description]
 * @return {[type]} [description]
 */
nix-margin--horizontal--0()
  nix-margin--right--0()
  nix-margin--left--0()


/**
 * [all description]
 * @param  {[type]} size [description]
 * @return {[type]}      [description]
 */
nix-margin--all(size)
  nix-margin--vertical(size)
  nix-margin--horizontal(size)


/**
 * [xxxl description]
 * @return {[type]} [description]
 */
nix-margin--all--xxxl()
  nix-margin--vertical--xxxl()
  nix-margin--horizontal--xxxl()


/**
 * [xxl description]
 * @return {[type]} [description]
 */
nix-margin--all--xxl()
  nix-margin--vertical--xxl()
  nix-margin--horizontal--xxl()


/**
 * [xl description]
 * @return {[type]} [description]
 */
nix-margin--all--xl()
  nix-margin--vertical--xl()
  nix-margin--horizontal--xl()


/**
 * [lg description]
 * @return {[type]} [description]
 */
nix-margin--all--lg()
  nix-margin--vertical--lg()
  nix-margin--horizontal--lg()


/**
 * [md description]
 * @return {[type]} [description]
 */
nix-margin--all--md()
  nix-margin--vertical--md()
  nix-margin--horizontal--md()


/**
 * [sm description]
 * @return {[type]} [description]
 */
nix-margin--all--sm()
  nix-margin--vertical--sm()
  nix-margin--horizontal--sm()


/**
 * [xs description]
 * @return {[type]} [description]
 */
nix-margin--all--xs()
  nix-margin--vertical--xs()
  nix-margin--horizontal--xs()


/**
 * [xxs description]
 * @return {[type]} [description]
 */
nix-margin--all--xxs()
  nix-margin--vertical--xxs()
  nix-margin--horizontal--xxs()


/**
 * [xxxs description]
 * @return {[type]} [description]
 */
nix-margin--all--xxxs()
  nix-margin--vertical--xxxs()
  nix-margin--horizontal--xxxs()


/**
 * [0 description]
 * @return {[type]} [description]
 */
nix-margin--all--0()
  nix-margin--vertical--0()
  nix-margin--horizontal--0()


/**
 * [create description]
 * @param  {[type]} selector [description]
 * @return {[type]}          [description]
 */
nix-margin--create(selector)
  for dk, dv in nix.directions
    for sk, sv in nix.sizes
      [{selector}~=\"--{dv}--{sk}\"]
        nix-margin(dk, sv)
