/* ------------------------------------------------------------------------ *\
   mixins.util.container
\* ------------------------------------------------------------------------ */


/**
 * [container description]
 * @return {[type]} [description]
 */
nix-container(size = nix.mq.lg)
  margin: auto
  max-width: size


/**
 * automatic mixins generation
 * nix-container--{size}()
 */
for key, value in nix.sizes
  nix-container--{key}()
    nix-container(value)
