/* ------------------------------------------------------------------------ *\
   structure.mixins.util.container
\* ------------------------------------------------------------------------ */


container()
  margin: auto


container--xsmall()
  max-width: $screen-width-xsmall


container--small()
  max-width: $screen-width-small


container--medium()
  max-width: $screen-width-medium


container--large()
  max-width: $screen-width-large


container--xlarge()
  max-width: $screen-width-xlarge


container--super()
  max-width: $screen-width-super
