/* ------------------------------------------------------------------------ *\
   structure.mixins.util.space
\* ------------------------------------------------------------------------ */


/// dependencies ///////////////////////////
@import "_util.reset"
@import "_util.size"


/**
 * [space description]
 * @param  {[type]} size =             nix.sizes.md [description]
 * @return {[type]}      [description]
 */
nix-space(size = nix.sizes.md)
  nix-reset--clearfix()
  nix-size--height(size)


/**
 * [xxxs description]
 * @return {[type]} [description]
 */
nix-space--xxxs()
  nix-reset--clearfix()
  nix-size--height--xxxs()


/**
 * [xxs description]
 * @return {[type]} [description]
 */
nix-space--xxs()
  nix-reset--clearfix()
  nix-size--height--xxs()


/**
 * [xs description]
 * @return {[type]} [description]
 */
nix-space--xs()
  nix-reset--clearfix()
  nix-size--height--xs()


/**
 * [sm description]
 * @return {[type]} [description]
 */
nix-space--sm()
  nix-reset--clearfix()
  nix-size--height--sm()


/**
 * [md description]
 * @return {[type]} [description]
 */
nix-space--md()
  nix-reset--clearfix()
  nix-size--height--md()


/**
 * [lg description]
 * @return {[type]} [description]
 */
nix-space--lg()
  nix-reset--clearfix()
  nix-size--height--lg()


/**
 * [xl description]
 * @return {[type]} [description]
 */
nix-space--xl()
  nix-reset--clearfix()
  nix-size--height--xl()


/**
 * [xxl description]
 * @return {[type]} [description]
 */
nix-space--xxl()
  nix-reset--clearfix()
  nix-size--height--xxl()


/**
 * [xxxl description]
 * @return {[type]} [description]
 */
nix-space--xxxl()
  nix-reset--clearfix()
  nix-size--height--xxxl()


/**
 * [create description]
 * @param  {[type]} selector [description]
 * @return {[type]}          [description]
 */
nix-space--create(selector)
  nix-reset--clearfix()

  for key, value in nix.sizes
    [{selector}~=\"--{key}\"]
      nix-size--height(value)
