/* ------------------------------------------------------------------------ *\
   structure.mixins.align
\* ------------------------------------------------------------------------ */


/**
 * [block description]
 * @return {[type]} [description]
 */
nix-align--block()
  position: relative
  transform-style: preserve-3d


/**
 * [block__content description]
 * @param  {[type]} direction =             "center" [description]
 * @return {[type]}           [description]
 */
nix-align--block__content(direction = "center")
  position: absolute
  margin: 0

  if direction == "center"
    top: 50%
    left: 50%
    transform: translate3d(-50%, -50%, 0)

  else if direction == "vertical"
    transform: translateY(-50%)
    left: auto

  else if direction == "horizontal"
    transform: translateX(-50%)
    top: auto


/**
 * [flex description]
 * @return {[type]} [description]
 */
nix-align--flex()
  display: flex
  align-items: center
  justify-content: center
  padding: 0


/**
 * [create description]
 * @param  {[type]} selector [description]
 * @return {[type]}          [description]
 */
nix-align--create(selector)
  [{selector}~="block"]
    nix-align--block()

  [{selector}~="block__content"]
    &[{selector}~="--center"]
      nix-align--block__content("center")

    &[{selector}~="--vertical"]
      nix-align--block__content("vertical")

    &[{selector}~="--horizontal"]
      nix-align--block__content("horizontal")

    &[{selector}~="--flex"]
      nix-align__target("flex")
