/* ------------------------------------------------------------------------ *\
   mixins.util.display
\* ------------------------------------------------------------------------ */


/**
 * [table description]
 * @return {[type]} [description]
 */
nix-display--table()
  nix-padding--horizontal--0()
  display: table


/**
 * [table__row description]
 * @return {[type]} [description]
 */
nix-display--table__row()
  display: table-row


/**
 * [table__cell description]
 * @return {[type]} [description]
 */
nix-display--table__cell()
  display: table-cell
  float: none
