/* ------------------------------------------------------------------------ *\
   structure.mixins.util.shadow
\* ------------------------------------------------------------------------ */


shadow(offset-x, args...)
  got-offset-x: offset-x
  -webkit-box-shadow: offset-x args
  -moz-box-shadow: offset-x args
  box-shadow: offset-x args
