/* ------------------------------------------------------------------------ *\
   structure.mixins.visibility
\* ------------------------------------------------------------------------ */


/**
 * [create description]
 * @return {[type]} [description]
 */
nix-visibility--create(selector)
  property = null
  value = null

  if (name == "hide")
    property = display
    value = none

  else if (name == "show")
    property = display
    value = block

  else if (name == "visible")
    property = visibility
    value = visible

  else if (name == "invisible")
    property = visibility
    value = hidden

  for breakpoint in nix.mq
    +above(nix.mq[breakpoint])
      [{selector}~=\"\\@{breakpoint}\"]
        {property}: value
