/* ------------------------------------------------------------------------ *\
   structure.mixins.width
\* ------------------------------------------------------------------------ */


/**
 * [get description]
 * @param  {[type]} property   [description]
 * @param  {[type]} expression [description]
 * @return {[type]}            [description]
 */
nix-width--get(property, expression)
  property: -webkit-calc(expression)
  property: calc(expression)


/**
 * [set description]
 * @param {[type]} width      [description]
 * @param {[type]} breakpoint [description]
 */
nix-width--set(width, breakpoint)
  +above(nix.mq[breakpoint])
    width: (100 / nix.grid.cols) * width * 1%


/**
 * [create description]
 * @return {[type]} [description]
 */
nix-width--create(selector)
  for breakpoint in nix.mq
    +above(nix.mq[breakpoint])
      &--33\\@{breakpoint}
        width: 33%

      &--66\\@{breakpoint}
        width: 66%

      for cols in 1..(nix.grid.cols / nix.grid.interval)
        cols = cols * nix.grid.interval
        &--{cols}\\@{breakpoint}
          width: (100 / nix.grid.cols) * cols * 1%
