// .block--center
//   display: block !important
  
//   &__child
//   	display: inline-block !important
//   	position: absolute
//     transform: translate3d(-50%, -50%, 0) !important
//   	width: auto !important
//   	max-width: 100% !important
//   	max-height: 100% !important
//   	top: 50%
//     left: 50%
  	

