// Color
// ------------------------------------------
color = {}
color.white = #FFF
color.black = #000
color.dark = #333
color.gray = #5F5F5F
color.gray--light = #999
color.gray--lighter = #e5edec
color.green = #43B02A
color.green--dark = #338720
color.cyan = #41b7d4
color.cyan--dark = #2287A0
color.orange = #FD9426
color.orange--dark = #e08000
color.red = #FF5600
color.red--dark = #b73e00


// Font
// ------------------------------------------
font = {}
font.default = "Helvetica Neue", Helvetica, sans-serif
font.fontAwesome = "FontAwesome"
font.simpleLine = "simple-line-icons"
font.roboto = "Roboto"
font.roboto = "Fira"
font.openSans = "Open Sans"


// Breakpoint
// ------------------------------------------
breakpoint = {}
breakpoint.xxxs = 0
breakpoint.xxs = 320px
breakpoint.xs = 480px
breakpoint.sm = 544px
breakpoint.md = 767px
breakpoint.lg = 992px
breakpoint.xl = 1280px
breakpoint.xxl = 1920px
breakpoint.xxxl = 2560px