@require "variables"
@require "structure"
@require "utils"
@require "elements"
@require "components"
@require "modules"


.body
  padding: 0	

.header
  img
  	width: 100%
  	
.page
  padding: 20px
  margin: 0 auto  	