/* ------------------------------------------------------------------------ *\
   utils.align
\* ------------------------------------------------------------------------ */

/**
 * settings
 */
prefix = nix.prefix.root + nix.prefix.util
name = "align"
selector = prefix + name


/**
 * styles
 */
nix-align--create(selector)
