/* ------------------------------------------------------------------------ *\
   utils.align
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "align"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
u-align--create(selector)
