/* ------------------------------------------------------------------------ *\
   utils.animation
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.root + nix.prefix.util
name = "animation"
selector = prefix + name


/**
 * styles
 */
nix-animation--create(selector)
