/* ------------------------------------------------------------------------ *\
   utils.animation
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.root + nix.prefix.util
name = "animation"
selector = prefix + name


/**
 * styles
 */
nix-animation--create(selector, "fadeIn")
nix-animation--create(selector, "fadeInUp")
nix-animation--create(selector, "fadeInDown")
nix-animation--create(selector, "fadeInLeft")

/** to fill with other animations **/
