/* ------------------------------------------------------------------------ *\
   utils.animation
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.util
name = "animation"
class = prefix + name


.{class}
  nix-animation--fadeIn(class)
  nix-animation--fadeInLeft(class)
  nix-animation--fadeInDown(class)
  nix-animation--fadeInUp(class)
