/* ------------------------------------------------------------------------ *\
   utils.border
\* ------------------------------------------------------------------------ */

/**
 * settings
 */
prefix = nix.prefix.util
name = "border"
class = prefix + name


/**
 * styles
 */
