/* ------------------------------------------------------------------------ *\
   utils.boxing
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.root + nix.prefix.util
name = "boxing"
selector = prefix + name


/**
 * styles
 */
nix-boxing--create(selector)
