/* ------------------------------------------------------------------------ *\
   utils.clear
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.util
name = "clear"
class = prefix + name


/**
 * styles
 */
.{class}
  nix-clear()

  &--fix
    nix-clearFix()
