/* ------------------------------------------------------------------------ *\
   utils.column
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "column"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
