/* ------------------------------------------------------------------------ *\
   utils.color
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.root + nix.prefix.util
name = "color"
selector = prefix + name
