/* ------------------------------------------------------------------------ *\
   utils.color
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "color"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
