/* ------------------------------------------------------------------------ *\
   utils.color
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.util
name = "color"
class = prefix + name
