/* ------------------------------------------------------------------------ *\
   utils.debug
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.root + nix.prefix.util
name = "debug"
selector = prefix + name


/**
 * [create description]
 * @param  {[type]} selector [description]
 * @return {[type]}          [description]
 */
nix-debug--create(selector)
