/* ------------------------------------------------------------------------ *\
   utils.divider
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "divider"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
