/* ------------------------------------------------------------------------ *\
   utils.divider
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.util
name = "divider"
class = prefix + name
