/* ------------------------------------------------------------------------ *\
   utils.frame
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "frame"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
