/* ------------------------------------------------------------------------ *\
   utils.frame
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.util
name = "frame"
class = prefix + name
