/* ------------------------------------------------------------------------ *\
   utils.gradient
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "gradient"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
