/* ------------------------------------------------------------------------ *\
   utils.grid
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "grid"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
[{selector}~="container"]
  u-grid()


  &[{selector}~="--wrap"]
    u-grid--wrap()


  &[{selector}~="--top"]
    u-grid--top()


  &[{selector}~="--center"]
    u-grid--center()


  &[{selector}~="--bottom"]
    u-grid--bottom()


  &[{selector}~="--no-gutter"]
    [{selector}~="__cell"]
      u-grid__cell--no-gutter()


  +above(nix.mq.xxs)
    &[{selector}~="--fit@xxs"] > [{selector}~="__cell"]:not("--width")
      u-grid__cell--fit()

    &[{selector}~="--full@xxs"]
      u-grid--full()

      > [{selector}~="__cell"]
        u-grid__cell--full()


  +above(nix.mq.xs)
    &[{selector}~="--fit@xs"] > [{selector}~="__cell"]:not("--width")
      u-grid__cell--fit()

    &[{selector}~="--full@xs"]
      u-grid--full()

      > [{selector}~="__cell"]
        u-grid__cell--full()


  +above(nix.mq.sm)
    &[{selector}~="--fit@sm"] > [{selector}~="__cell"]:not("--width")
      u-grid__cell--fit()

    &[{selector}~="--full@sm"]
      u-grid--full()

      > [{selector}~="__cell"]
        u-grid__cell--full()


  +above(nix.mq.md)
    &[{selector}~="--fit@md"] > [{selector}~="__cell"]:not("--width")
      u-grid__cell--fit()

    &[{selector}~="--full@md"]
      u-grid--full()

      > [{selector}~="__cell"]
        u-grid__cell--full()


  +above(nix.mq.lg)
    &[{selector}~="--fit@lg"] > [{selector}~="__cell"]:not("--width")
      u-grid__cell--fit()

    &[{selector}~="--full@lg"]
      u-grid--full()

      > [{selector}~="__cell"]
        u-grid__cell--full()


  [{selector}~="__cell"]
    u-grid__cell()
    margin-bottom: 0

    &[{selector}~="--top"]
      u-grid__cell--top()

    &[{selector}~="--center"]
      u-grid__cell--center()

    &[{selector}~="--bottom"]
      u-grid__cell--bottom()

      &[{selector}~="--gutter"]
        u-grid__cell--no-gutter()


    u-grid__cell--create(selector)
