/* ------------------------------------------------------------------------ *\
   utils.hide
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.util
name = "hide"
class = prefix + name


/**
 * [createVisibility description]
 * @param  {[type]} prefix [description]
 * @param  {[type]} name   [description]
 * @return {[type]}        [description]
 */
.{class}
  nix-visibility(prefix, name)
