/* ------------------------------------------------------------------------ *\
   utils.invisible
\* ------------------------------------------------------------------------ */

/**
 * settings
 */
prefix = nix.prefix.root + nix.prefix.util
name = "invisible"
selector = prefix + name


/**
 * [visibility description]
 * @return {[type]} [description]
 */
nix-visibility(selector)
