/* ------------------------------------------------------------------------ *\
   utils.layout
\* ------------------------------------------------------------------------ */

/**
 * settings
 */
name = "layout"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */

/**
 * page
 * a. default: 100% content
 */
[{selector}~="container"]
  u-layout()


/**
 * page
 * b. --unboxed: 100% with boxed content
 */
[{selector}~="--unboxed"] [{selector}~="__wrap"]
  u-layout--unboxed__wrap()


/**
 * page
 * c. --boxed: totally boxed content
 */
[{selector}~="--boxed"]
  u-layout--boxed()


/**
 * __wrap
 * boxed: boxed content
 */
[{selector}~="__wrap"]
  u-layout__wrap()


/**
 * __row
 * boxed: boxed cols
 */
[{selector}~="__row"]
  u-layout__row()
