/* ------------------------------------------------------------------------ *\
   utils.margin
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.root + nix.prefix.util
name = "margin"
selector = prefix + name


/**
 * [margin description]
 * @return {[type]} [description]
 */
nix-margin(selector)
