/* ------------------------------------------------------------------------ *\
   utils.margin
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.util
name = "margin"
class = prefix + name


/**
 * [createMargin description]
 * @param  {[type]} class [description]
 * @return {[type]}       [description]
 */
.{class}
  nix-margin()
