/* ------------------------------------------------------------------------ *\
   utils.margin
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "margin"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */

/**
 * [margin description]
 * @return {[type]} [description]
 */
u-margin--create(selector)
