/* ------------------------------------------------------------------------ *\
   utils.media
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.util
name = "media"
class = prefix + name


/**
 * [createMedia description]
 * @param  {[type]} class [description]
 * @return {[type]}       [description]
 */
nix-createMedia(class)
