/* ------------------------------------------------------------------------ *\
   utils.offset
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.util
name = "offset"
class = prefix + name


/**
 * [createWidth description]
 * @param  {[type]} class [description]
 * @return {[type]}       [description]
 */
.{class}
  nix-offsets()
