/* ------------------------------------------------------------------------ *\
   utils.offset
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "offset"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */

/**
 * [create description]
 * @return {[type]} [description]
 */
u-offset--create(selector)
