/* ------------------------------------------------------------------------ *\
   utils.padding
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.util
name = "padding"
class = prefix + name


/**
 * [createPadding description]
 * @param  {[type]} class [description]
 * @return {[type]}       [description]
 */
.{class}
  nix-padding()
