/* ------------------------------------------------------------------------ *\
   utils.padding
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.root + nix.prefix.util
name = "padding"
selector = prefix + name


/**
 * [padding description]
 * @return {[type]} [description]
 */
nix-padding(selector)
