/* ------------------------------------------------------------------------ *\
   utils.padding
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "padding"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */

/**
 * [create description]
 * @return {[type]} [description]
 */
u-padding--create(selector)
