/* ------------------------------------------------------------------------ *\
   utils.position
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "position"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
