/* ------------------------------------------------------------------------ *\
   utils.position
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.util
name = "position"
class = prefix + name
