/* ------------------------------------------------------------------------ *\
   utils.reset
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "reset"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
[{selector}~="--clear"]
  u-reset--clear()


[{selector}~="--clearfix"]
  u-reset--clearfix()


u-reset--create(selector)
