/* ------------------------------------------------------------------------ *\
   utils.reset
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.root + nix.prefix.util
name = "reset"
selector = prefix + name


/**
 * styles
 */
[{selector}~="--clear"]
  nix-reset--clear()

[{selector}~="--clearfix"]
  nix-reset--clearfix()

nix-reset--create(selector)
