/* ------------------------------------------------------------------------ *\
   utils.row
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.util
name = "row"
class = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
