/* ------------------------------------------------------------------------ *\
   utils.row
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "row"
class = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
