/* ------------------------------------------------------------------------ *\
   utils.shadow
\* ------------------------------------------------------------------------ */

/**
 * settings
 */
name = "shadow"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
