/* ------------------------------------------------------------------------ *\
   utils.shadow
\* ------------------------------------------------------------------------ */

/**
 * settings
 */
prefix = nix.prefix.util
name = "shadow"
class = prefix + name
