/* ------------------------------------------------------------------------ *\
   utils.shape
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "shape"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */


// /**
//  * rectangle
//  */
// [{selector}~="--rectangle"]
//   u-shape--rectangle(width, height, color)
//
//
// /**
//  * parallelogram
//  */
// [{selector}~="--parallelogram"]
//   u-shape--parallelogram(width, height, skew, color)
//
//
// /**
//  * square
//  */
// [{selector}~="--square"]
//   u-shape--square(size, color)
//
//
// /**
//  * oval
//  */
// [{selector}~="--oval"]
//   u-shape--oval(width, height, color)
//
//
// /**
//  * circle
//  */
// [{selector}~="--oval"]
//   u-shape--circle(size, color)
//
//
// /**
//  * triangle
//  */
// [{selector}~="--triangle"]
//   u-shape--triangle(size, color, direction: "up")
//
//
// /**
//  * triangle--corner
//  */
// [{selector}~="--triangle--corner"]
//   u-shape--triangle--corner(size, color, corner: "top-left")
//
//
// /**
//  * trapezoid
//  */
// [{selector}~="--trapezoid"]
//   u-shape--trapezoid(width, color)
//
//
// /**
//  * chevron
//  */
// [{selector}~="--trapezoid"]
//   u-shape--chevron(width, height, skew, color, direction: "up")
