/* ------------------------------------------------------------------------ *\
   utils.show
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.root + nix.prefix.util
name = "show"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */

/**
 * [create description]
 * @param  {[type]} selector [description]
 * @param  {[type]} name     [description]
 * @return {[type]}          [description]
 */
nix-visibility--create(selector, name)
