/* ------------------------------------------------------------------------ *\
   utils.space
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "space"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */

/**
 * [create description]
 * @return {[type]} [description]
 */
u-space--create(selector)
