/* ------------------------------------------------------------------------ *\
   utils.space
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.util
name = "space"
class = prefix + name


/**
 * [createSpace description]
 * @param  {[type]} class [description]
 * @return {[type]}       [description]
 */
.{class}
  nix-spaces()
