/* ------------------------------------------------------------------------ *\
   utils.space
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.root + nix.prefix.util
name = "space"
selector = prefix + name


/**
 * [spaces description]
 * @param  {[type]} selector [description]
 * @return {[type]}          [description]
 */
nix-spaces(selector)
