/* ------------------------------------------------------------------------ *\
   utils.text
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.util
name = "text"
class = prefix + name

.{class}
  //nix-text--sizes()
