/* ------------------------------------------------------------------------ *\
   utils.text
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "text"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */

/**
 * [sizes description]
 * @return {[type]} [description]
 */
// e-text--size(selector)
