/* ------------------------------------------------------------------------ *\
   utils.visibility
\* ------------------------------------------------------------------------ */

/**
 * settings
 */
prefix = nix.prefix.root + nix.prefix.util
name = "visibility"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */

/**
 * [create description]
 * @param  {[type]} selector [description]
 * @param  {[type]} name     [description]
 * @return {[type]}          [description]
 */
nix-visibility--create(selector, "invisible")
nix-visibility--create(selector, "visible")
nix-visibility--create(selector, "hide")
nix-visibility--create(selector, "show")
