/* ------------------------------------------------------------------------ *\
   utils.visibility
\* ------------------------------------------------------------------------ */

/**
 * settings
 */
name = "visibility"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */

/**
 * [create description]
 * @param  {[type]} selector [description]
 * @param  {[type]} name     [description]
 * @return {[type]}          [description]
 */
u-visibility--create(selector, "invisible")
u-visibility--create(selector, "visible")
u-visibility--create(selector, "hide")
u-visibility--create(selector, "show")
