/* ------------------------------------------------------------------------ *\
   utils.visible
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.root + nix.prefix.util
name = "visible"
selector = prefix + name


/**
 * [create description]
 * @return {[type]} [description]
 */
nix-visibility--create(selector)
