/* ------------------------------------------------------------------------ *\
   utils.width
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.root + nix.prefix.util
name = "width"
selector = prefix + name


/**
 * [create description]
 * @return {[type]} [description]
 */
nix-width--create(selector)
