/* ------------------------------------------------------------------------ *\
   utils.width
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.util
name = "width"
class = prefix + name


/**
 * [createWidth description]
 * @param  {[type]} class [description]
 * @return {[type]}       [description]
 */
.{class}
  nix-widths()
