/* ------------------------------------------------------------------------ *\
   utils.width
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "width"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */

/**
 * [create description]
 * @return {[type]} [description]
 */
u-width--create(selector)
