/* ------------------------------------------------------------------------ *\
   utils
\* ------------------------------------------------------------------------ */


/**
 * [prefix description]
 * @type {[type]}
 */
prefix = nix.prefix.root + nix.prefix.util


/**
 * recursive n globbing import
 */
@require "*"
