/*
 |--------------------------------------------------------------------------
 | Nixin - Framework
 |--------------------------------------------------------------------------
 | author: @kreo
 | https://github.com/kreo
 |
 */

@require "variables"
@require "mixins"

if nix.styles != false
  @require "animations"
  @require "structure"
  @require "components"
  @require "utils"
