// Tags
// ------------------------------------------
*, ::after, ::before
 -webkit-box-sizing: border-box
 box-sizing: border-box


html, 
body
  min-height: 100%
  -webkit-font-smoothing: antialiased

 
body
  font-size: 17px
  font-family: $font--roboto, $font--default
  background: $color--whiteBeige

  
img
  max-width: 100%
  width: auto\9
  height: auto
  vertical-align: middle
  border: 0
  -ms-interpolation-mode: bicubic
  

a, .link
  &, &:hover, &:focus
    text-decoration: none 
  
 
a, .link, button, .button, .btn
  &, &:hover, &:focus
    outline: none     