/* ------------------------------------------------------------------------ *\
   Font
\* ------------------------------------------------------------------------ */


$NIX.Font = {
  'path'            : '/_dist/fonts/'
}

Font() {
	
}