/* ------------------------------------------------------------------------ *\
   Image
\* ------------------------------------------------------------------------ */

$NIX.Image = {
   'path'            : '/_dist/images/'
}

Image() {
	
}