/* ------------------------------------------------------------------------ *\
   Vendor
\* ------------------------------------------------------------------------ */

$NIX.Vendor = {

}

Vendor--reset(){
	@import '../node_modules/normalize.css/normalize.css'
}