/* ------------------------------------------------------------------------ *\
   components.address
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.component
name = "address"
class = prefix + name


/**
 * styles
 */
