/* ------------------------------------------------------------------------ *\
   components.address
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "address"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */

.c-address
  c-address()


.c-address__heading
  c-address__heading()
