/* ------------------------------------------------------------------------ *\
   components.alert
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "alert"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */

[{selector}]
  nix-alert()


[{selector}~=\"{__content}\"]
  nix-alert__content()


[{selector}~=\"{--primary}\"]
  nix-alert__content--color(nix.skin.color.primary)


[{selector}~=\"{--secondary}\"]
  nix-alert__content--color(nix.skin.color.secondary)


[{selector}~=\"{--success}\"]
  nix-alert__content--color(nix.skin.color.success)


[{selector}~=\"{--warning}\"]
  nix-alert__content--color(nix.skin.color.warning)


[{selector}~=\"{--error}\"]
  nix-alert__content--color(nix.skin.color.error)


// [{selector}~=\"{--info}\"]
//   nix-alert__content--color(nix.skin.color.info)
