/* ------------------------------------------------------------------------ *\
   components.alert
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "alert"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */

[{selector}]
  nix-alert()
