/* ------------------------------------------------------------------------ *\
   components.alert
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.component
name = "alert"
class = prefix + name


/**
 * styles
 */
