/* ------------------------------------------------------------------------ *\
   components.badge
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "badge"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */

[{selector}]
  nix-badge()


[{selector}~=\"--primary\"]
  nix-badge--color(nix.skin.color.primary)


[{selector}~=\"--secondary\"]
  nix-badge--color(nix.skin.color.secondary)


[{selector}~=\"--success\"]
  nix-badge--color(nix.skin.color.success)


[{selector}~=\"--warning\"]
  nix-badge--color(nix.skin.color.warning)


[{selector}~=\"--error\"]
  nix-badge--color(nix.skin.color.error)


// [{selector}~=\"--info\"]
//   nix-badge--color(nix.skin.color.info)
