/* ------------------------------------------------------------------------ *\
   components.badge
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "badge"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */

[{selector}~="container"]
  c-badge()


[{selector}~="--primary"]
  c-badge--color(nix.skin.color.primary)


[{selector}~="--secondary"]
  c-badge--color(nix.skin.color.secondary)


[{selector}~="--success"]
  c-badge--color(nix.skin.color.success)


[{selector}~="--warning"]
  c-badge--color(nix.skin.color.warning)


[{selector}~="--error"]
  c-badge--color(nix.skin.color.error)


// [{selector}~="--info"]
//   c-badge--color(nix.skin.color.info)
