/* ------------------------------------------------------------------------ *\
   components.badge
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "badge"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
[{selector}]
  nix-badge()
