/* ------------------------------------------------------------------------ *\
   components.box
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.component
name = "box"
class = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
