/* ------------------------------------------------------------------------ *\
   components.breadcrumb
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "breadcrumb"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
