/* ------------------------------------------------------------------------ *\
   components.breadcrumbs
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.component
name = "breadcrumbs"
class = prefix + name


/**
 * styles
 */
