/* ------------------------------------------------------------------------ *\
   components.breadcrumb
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.component
name = "breadcrumb"
class = prefix + name


/**
 * styles
 */
