/* ------------------------------------------------------------------------ *\
   components.bubble
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.component
name = "bubble"
class = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
