/* ------------------------------------------------------------------------ *\
   components.bubble
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "bubble"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
