/* ------------------------------------------------------------------------ *\
   components.button
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "button"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */

[{selector}~="container"]
  c-button()


[{selector}~="--close"]
  c-button--close()


[{selector}~="--block"]
  c-button--block()


[{selector}~="--rounded"]
  c-button--rounded()


[{selector}~="--xxxl"]
  c-text--size--xxxl()


[{selector}~="--xxl"]
  c-text--size--xxl()


[{selector}~="--xl"]
  c-text--size--xl()


[{selector}~="--lg"]
  c-text--size--lg()


[{selector}~="--md"]
  c-text--size--md()


[{selector}~="--sm"]
  c-text--size--sm()


[{selector}~="--xs"]
  c-text--size--xs()


[{selector}~="--xxs"]
  c-text--size--xxs()


[{selector}~="--xxxs"]
  c-text--size--xxxs()


[{selector}~="--primary"]
  c-button--color(nix.skin.color.primary, nix.skin.color.white)


[{selector}~="--secondary"]
  c-button--color(nix.skin.color.secondary, nix.skin.color.white)


[{selector}~="--success"]
  c-button--color(nix.skin.color.success, nix.skin.color.white)


[{selector}~="--error"]
  c-button--color(nix.skin.color.error, nix.skin.color.white)


[{selector}~="--ghost"]
  c-button--ghost(nix.skin.color.primary)


[{selector}~="--ghost--primary"]
  c-button--ghost(nix.skin.color.primary)


[{selector}~="--ghost--secondary"]
  c-button--ghost(nix.skin.color.secondary)


[{selector}~="--ghost--success"]
  c-button--ghost(nix.skin.color.success)


[{selector}~="--ghost--error"]
  c-button--ghost(nix.skin.color.error)


[{selector}~="--group"]
  c-button--group()


[{selector}~="--grouped"]
  [{selector}]
    c-button--grouped()


[{selector}~="--group--rounded"]
  [{selector}]
    c-button--group--rounded()


[{selector}~="__icon-left"]
  c-button__icon-left()


[{selector}~="__icon-right"]
  c-button__icon-right()
