/* ------------------------------------------------------------------------ *\
   components.calendar
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "calendar"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */

[{selector}~="container"]
  c-calendar()


[{selector}~="__control"]
  c-calendar__control()


[{selector}~="__header"]
  c-calendar__header()


[{selector}~="__day"]
  c-calendar__day()


[{selector}~="__date"]
  c-calendar__date()

  &:hover
    c-calendar__date--hover()


  &[{selector}~="--in-month"]
    c-calendar__date--in-month()


  &[{selector}~="--today"]
    c-calendar__date--today()


  &[{selector}~="--selected"],
  &[{selector}~="--selected"]:hover
    c-calendar__date--selected()


[{selector}~="--high"]
  c-calendar--high()


[{selector}~="--higher"]
  c-calendar--higher()


[{selector}~="--highest"]
  c-calendar--highest()
