/* ------------------------------------------------------------------------ *\
   components.calendar
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.component
name = "calendar"
class = prefix + name


/**
 * styles
 */
