/* ------------------------------------------------------------------------ *\
   components.caption
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.component
name = "caption"
class = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
