/* ------------------------------------------------------------------------ *\
   components.caption
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "caption"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
