/* ------------------------------------------------------------------------ *\
   components.card
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.component
name = "card"
class = prefix + name


/**
 * styles
 */
