/* ------------------------------------------------------------------------ *\
   components.carousel
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.component
name = "carousel"
class = prefix + name


/**
 * styles
 */
