/* ------------------------------------------------------------------------ *\
   components.carousel
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "carousel"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
