/* ------------------------------------------------------------------------ *\
   components.card
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "card"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
