/* ------------------------------------------------------------------------ *\
   components.collapse
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "collapse"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
