/* ------------------------------------------------------------------------ *\
   components.collapse
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.component
name = "collapse"
class = prefix + name


/**
 * styles
 */
