/* ------------------------------------------------------------------------ *\
   components.debug
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "debug"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
.debug
  nix-debug()
