/* ------------------------------------------------------------------------ *\
   components.debug
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.component
name = "debug"
class = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
.debug
  nix-debug()
