/* ------------------------------------------------------------------------ *\
   components.debug
\* ------------------------------------------------------------------------ */


.debug
  nix-debug()
