/* ------------------------------------------------------------------------ *\
   components.drawer
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.component
name = "drawer"
class = prefix + name


/**
 * styles
 */
