/* ------------------------------------------------------------------------ *\
   components.dropdown
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.component
name = "dropdown"
class = prefix + name


/**
 * styles
 */
