/* ------------------------------------------------------------------------ *\
   components.hamburger
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.component
name = "hamburger"
class = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
