/* ------------------------------------------------------------------------ *\
   components.hamburger
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "hamburger"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
