/* ------------------------------------------------------------------------ *\
   components.heading
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.component
name = "heading"
class = prefix + name


/**
 * styles
 */
