/* ------------------------------------------------------------------------ *\
   components.heading
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.root + nix.prefix.component
name = "heading"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
