/* ------------------------------------------------------------------------ *\
   components.icon
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "icon"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
