/* ------------------------------------------------------------------------ *\
   components.link
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "link"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
