/* ------------------------------------------------------------------------ *\
   components.list
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "list"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
