/* ------------------------------------------------------------------------ *\
   components.map
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.component
name = "map"
class = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
