/* ------------------------------------------------------------------------ *\
   components.map
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "map"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
