/* ------------------------------------------------------------------------ *\
   components.map
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.root + nix.prefix.component
name = "map"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
