/* ------------------------------------------------------------------------ *\
   components.menu
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "menu"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */

[{selector}~="container"]
  c-menu()

[{selector}~="__item"]
  c-menu__item()

  &:not([{selector}~="__item --disabled"]):not([{selector}~="__item --divider"]):hover
    c-menu__item--hover()


[{selector}~="__item --hover"]
  c-menu__item--hover()


[{selector}~="__item --disabled"]
  c-menu__item--disabled()


[{selector}~="__item --divider"]
  c-menu__item--divider()


[{selector}~="__item --active"]
  c-menu__item--active()


[{selector}~="--high"]
  c-menu--high()


[{selector}~="--higher"]
  c-menu--higher()


[{selector}~="--highest"]
  c-menu--highest()

