/* ------------------------------------------------------------------------ *\
   components.menu
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.component
name = "menu"
class = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
