/* ------------------------------------------------------------------------ *\
   components.modal
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.component
name = "modal"
class = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
