/* ------------------------------------------------------------------------ *\
   components.navbar
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "navbar"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
