/* ------------------------------------------------------------------------ *\
   components.nav
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "nav"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
