/* ------------------------------------------------------------------------ *\
   components.navbar
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.component
name = "navbar"
class = prefix + name


/**
 * styles
 */
