/* ------------------------------------------------------------------------ *\
   components.nav
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.root + nix.prefix.component
name = "nav"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
