/* ------------------------------------------------------------------------ *\
   components.nav
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "nav"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */


[{selector}~="container"]
  c-nav()


[{selector}~="__item"]
  c-nav__item()
  c-list--inline__item()


[{selector}~="__item"]:hover
  c-nav__item--hover()


[{selector}~="__item"]:active
  c-nav__item--active()


[{selector}~="--inline"]
  c-nav--inline()

  [{selector}~="__item"]
    c-nav--inline__item()

  [{selector}~="__item --right"]
    nav__item--right()


[{selector}~="--top"]
  c-nav--top()


[{selector}~="--bottom"]
  c-nav--bottom()


[{selector}~="--left"]
  c-nav--left()


[{selector}~="--right"]
  c-nav--right()


[{selector}~="--high"]
  c-nav--high()


[{selector}~="--higher"]
  c-nav--higher()


[{selector}~="--highest"]
  c-nav--highest()

