/* ------------------------------------------------------------------------ *\
   components.notify
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "notify"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
