/* ------------------------------------------------------------------------ *\
   components.notify
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.component
name = "notify"
class = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
