/* ------------------------------------------------------------------------ *\
   components.overlay
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.component
name = "overlay"
class = prefix + name


/**
 * styles
 */
