/* ------------------------------------------------------------------------ *\
   components.pagination
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "pagination"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
