/* ------------------------------------------------------------------------ *\
   components.pagination
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.component
name = "pagination"
class = prefix + name


/**
 * styles
 */
