/* ------------------------------------------------------------------------ *\
   components.placeholder
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "placeholder"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
