/* ------------------------------------------------------------------------ *\
   components.popover
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "popover"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
