/* ------------------------------------------------------------------------ *\
   components.popover
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.component
name = "popover"
class = prefix + name


/**
 * styles
 */
