/* ------------------------------------------------------------------------ *\
   components.popup
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "popup"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
