/* ------------------------------------------------------------------------ *\
   components.popup
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.component
name = "popup"
class = prefix + name


/**
 * styles
 */
