/* ------------------------------------------------------------------------ *\
   components.progress
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.component
name = "progress"
class = prefix + name


/**
 * styles
 */
