/* ------------------------------------------------------------------------ *\
   components.progress
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "progress"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
