/* ------------------------------------------------------------------------ *\
   components.range
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.component
name = "range"
class = prefix + name


/**
 * styles
 */
