/* ------------------------------------------------------------------------ *\
   components.rating
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "rating"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
