/* ------------------------------------------------------------------------ *\
   components.rating
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.component
name = "rating"
class = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
