/* ------------------------------------------------------------------------ *\
   components.ribbon
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "ribbon"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
