/* ------------------------------------------------------------------------ *\
   components.ribbon
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.component
name = "ribbon"
class = prefix + name


/**
 * styles
 */
