/* ------------------------------------------------------------------------ *\
   components.slideout
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "slideout"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
