/* ------------------------------------------------------------------------ *\
   components.slider
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "slider"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
