/* ------------------------------------------------------------------------ *\
   components.slider
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.component
name = "slider"
class = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
