/* ------------------------------------------------------------------------ *\
   components.slideout
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.component
name = "slideout"
class = prefix + name


/**
 * styles
 */
