/* ------------------------------------------------------------------------ *\
   components.tab
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.component
name = "tab"
class = prefix + name


/**
 * styles
 */
