/* ------------------------------------------------------------------------ *\
   components.tag
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "tag"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
