/* ------------------------------------------------------------------------ *\
   components.tag
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.component
name = "tag"
class = prefix + name


/**
 * styles
 */
