/* ------------------------------------------------------------------------ *\
   components.toast
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.component
name = "toast"
class = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
