/* ------------------------------------------------------------------------ *\
   components.toast
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "toast"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
