/* ------------------------------------------------------------------------ *\
   components.toggle
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.component
name = "toggle"
class = prefix + name


/**
 * styles
 */
