/* ------------------------------------------------------------------------ *\
   components.tooltip
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.component
name = "tooltip"
class = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
