/* ------------------------------------------------------------------------ *\
   components.tree
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.component
name = "tree"
class = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
