/* ------------------------------------------------------------------------ *\
   components
\* ------------------------------------------------------------------------ */


/**
 * [prefix description]
 * @type {[type]}
 */
prefix = nix.prefix.root + nix.prefix.component

/**
 * recursive n globbing import
 */
@require "*"
