/* ------------------------------------------------------------------------ *\
   components
\* ------------------------------------------------------------------------ */


/**
 * recursive n globbing import
 */
@require "*"
