.breadcrumb
	margin: 0
	background: #f9f6ee
	border-bottom: 1px solid #efe8e1

	&, > li , > li + li:before
		color: #b98318

	li
		&:not(.active)
			a
				color: #b98318

				&:hover
					color: $color--orangeBright

		&.active
			color: $color--orangeBright