/* ------------------------------------------------------------------------ *\
   components.color
\* ------------------------------------------------------------------------ */


.color--green
	Color($color--green)


.color--greenDark
	Color($color--greenDark)


.color--green--noFill
	Color--noFill($color--green)


.color--greenDark--noFill
	Color--noFill($color--greenDark)


.color--red
	Color($color--red)


.color--redDark
	Color($color--redDark)


.color--red--noFill
	Color--noFill($color--red)


.color--redDark--noFill
	Color--noFill($color--redDark)