/* ------------------------------------------------------------------------ *\
   components.color
\* ------------------------------------------------------------------------ */


.color--green
	Color($color--green)

.color--red
	Color($color--red)