/* ------------------------------------------------------------------------ *\
   components.heading
\* ------------------------------------------------------------------------ */


.heading
	margin: 0 0 10px 0

	.text
		font-weight: 300
		color: #6d5441

	.text--lg
		font-size: 32px
		padding: 12px 0



