/* ------------------------------------------------------------------------ *\
   components.hover
\* ------------------------------------------------------------------------ */


// Hover Effeckts
[class*="hvr-"]
	&:before
		z-index: $z--middle
		top: -1px
		background: $color--orangeLight