.menu
	margin-top: 1px
	border: none
	border-radius: 0 0 3px 3px
	-webkit-box-shadow: 0 5px 10px rgba($color--black, 0.2)
	-moz-box-shadow: 0 5px 10px rgba($color--black, 0.2)
	box-shadow: 0 5px 10px rgba($color--black, 0.2)