.nav
	position: relative
	display: block
	padding: 0
	text-align: center

.nav__item
	display: inline-block
	position: relative
	padding: 17px 21px
	background: transparent
	border: none
	font-size: 17px
	font-weight: bold
	color: $color--white

	> *
		display: inline-block
		vertical-align: middle

	.icon
		padding-right: 8px

.nav--group
	display: inline-block
	position: relative
	line-height: 50px
	text-align: center

	.badge
		top: 3px
		left: 9px

	.menu
		margin-top: 2px
		left: 0

.nav__button
	position: relative
	height: 34px
	margin: 0 auto
	padding: 3px 18px
	line-height: 22px
	font-size: 17px
	font-weight: 600
	border-radius: 3px
	border: 1px solid transparent

	.icon,
	.text
		display: inline-block
		vertical-align: middle
		line-height: 1

	.icon
		padding-right: 5px
		font-size: 18px

	.text
		font-style: italic
		font-weight: 700
		letter-spacing: .03em


.nav-pills
	Reset--clearfix()

	.nav-link
		border: 1px solid transparent
		font-size: 18px

		&:hover
			background-color: #f9f6ee
			border-color: #f3bf82

	.nav-item.open .nav-link,
	.nav-item.open .nav-link:focus,
	.nav-item.open .nav-link:hover,
	.nav-link.active,
	.nav-link.active:focus,
	.nav-link.active:hover
		background-color: #ffab21