/* ------------------------------------------------------------------------ *\
   components.popup
\* ------------------------------------------------------------------------ */

.mfp-bg
	background: $color--brownDarken

.mfp-wrap
	transition: opacity 0.3s
	background: transparent
	z-index: $z--over

.mfp-bg,
.mfp-wrap
	@media (max-width: $breakpoint--md)
		z-index: $z--master + 1

.mfp-container
	@media (max-width: $breakpoint--md)
		padding-left: 50px
		padding-right: 50px


.mfp-close
	position: absolute
	top: -55px
	right: -55px
	width: 60px
	height: 60px
	line-height: 60px
	font-size: 70px

	&:active
		top: -50px


.mfp-close-btn-in .mfp-close
	color: $color--white


.popup
	position: relative
	top: 140px
	width: auto
	max-width: 992px
	margin: 0 auto
	padding: 0
	border: none
	transition-property: -webkit-transform
	transition-property: transform
	transition-duration: .3s
	background-color: $color--white
	box-shadow: 0 2px 5px rgba(0, 0, 0 , .06)
	border-radius: .5em
