/* ------------------------------------------------------------------------ *\
   structure.layout
\* ------------------------------------------------------------------------ */

/**
 * global classes
 */
section, .section,
.header, .preHeader, .postHeader,
.footer, .preFooter, .postFooter,
.hero, .tools, .main
  overflow-x: hidden
  box-sizing: border-box
  margin: auto
  padding: 1rem 0
  min-width: nix.grid.min-width


/**
 * wrapped content
 */
.wrap
  position: relative
  overflow-x: hidden
  box-sizing: border-box
  margin: auto
  padding-right: nix.grid.gutter
  padding-left: nix.grid.gutter
  min-width: nix.grid.min-width
  max-width: 100%
  width: nix.grid.width
  nix-clearFix()


/**
 * wrap
 * a. default: 100% content
 * b. unboxed: 100% with boxed content
 * c. boxed: totally boxed content
 */
.page, .wrap
  position: relative
  margin: auto
  min-height: 1px

  &--unboxed .wrap
    max-width: nix.grid.max-width

  &--boxed
    max-width: nix.grid.max-width

/**
 * cols wrapper that flush floats
 */
.row
  min-height: 1px
  max-width: 100%
  width: auto
  nix-clearFix()
