/* ------------------------------------------------------------------------ *\
   structure.tags
\* ------------------------------------------------------------------------ */

/**
 * Base tags
 */

*:focus
  outline: none

html
  height: 100%

body
  position: relative
  top: 0
  left: 0
  z-index: 0
  margin: 0
  padding: 0
  nix-animation()

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary
  display: block

audio,
canvas,
progress,
video
  display: inline-block
  vertical-align: baseline

audio:not([controls])
  display: none
  height: 0

[hidden],
template
  display: none

ul,
ol,
dl
  margin: 0

nav
  margin-bottom: 0
  padding-left: 0
  list-style: none

form
  width: 100%

hr,
input[type=search]
  box-sizing: content-box

abbr[title]
  border-bottom: 1px dotted

dfn
  font-style: italic

mark
  background: #ff0
  color: #000

small
  font-size: 80%

sub,
sup
  font-size: 75%
  line-height: 0
  vertical-align: baseline

sup
  top: -.5em

sub
  bottom: -.25em

img
  border: 0

svg:not(:root)
  overflow: hidden

figure
  margin: 1em 40px

hr
  margin: 1.5rem 0
  height: 1px
  border: none

button,
input,
optgroup,
select,
textarea
  margin: 0
  color: inherit
  font: inherit

button
  overflow: visible

button,
select
  text-transform: none

button,
html input[type=button],
input[type=reset],
input[type=submit]
  -webkit-appearance: button
  cursor: pointer

button[disabled],
html input[disabled]
  cursor: default

input
  line-height: normal

input[type=checkbox],
input[type=radio]
  box-sizing: border-box
  padding: 0

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  height: auto

input[type=search]
  -webkit-appearance: textfield

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration
  -webkit-appearance: none

fieldset
  margin: 0 2px
  padding: .35em .625em .75em
  border: 1px solid


table
  border-spacing: 0
  border-collapse: collapse

pre,
textarea
  overflow: auto

button::-moz-focus-inner,
input::-moz-focus-inner,
legend
  padding: 0
  border: none

a
  text-decoration: none

  &:hover
    text-decoration: none
    cursor: pointer

  &:hover,
  &:active,
  &:focus
    outline: none
    text-decoration: none

  img
    border: none
