/* ------------------------------------------------------------------------ *\
   elements.address
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "address"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
