/* ------------------------------------------------------------------------ *\
   elements.address
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.element
name = "address"
class = prefix + name


/**
 * styles
 */
