/* ------------------------------------------------------------------------ *\
   elements.button
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.element
name = "button"
class = prefix + name


/**
 * styles
 */
