/* ------------------------------------------------------------------------ *\
   elements.button
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "button"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
