/* ------------------------------------------------------------------------ *\
   elements.caption
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.element
name = "caption"
class = prefix + name


/**
 * styles
 */
