/* ------------------------------------------------------------------------ *\
   elements.color
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.element
name = "color"
class = prefix + name


/**
 * styles
 */
