/* ------------------------------------------------------------------------ *\
   elements.form
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "form"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
