/* ------------------------------------------------------------------------ *\
   elements.form
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.element
name = "form"
class = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
