/* ------------------------------------------------------------------------ *\
   elements.gradient
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.element
name = "gradient"
class = prefix + name


/**
 * styles
 */
