/* ------------------------------------------------------------------------ *\
   elements.heading
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.element
name = "heading"
class = prefix + name


/**
 * styles
 */
