/* ------------------------------------------------------------------------ *\
   elements.heading
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "heading"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
