/* ------------------------------------------------------------------------ *\
   elements.icon
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.element
name = "icon"
class = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
