/* ------------------------------------------------------------------------ *\
   elements.image
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.element
name = "image"
class = prefix + name


/**
 * styles
 */
