/* ------------------------------------------------------------------------ *\
   elements.image
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "image"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
