/* ------------------------------------------------------------------------ *\
   elements.label
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.element
name = "label"
class = prefix + name


/**
 * styles
 */
