/* ------------------------------------------------------------------------ *\
   elements.list
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.element
name = "list"
class = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
