/* ------------------------------------------------------------------------ *\
   elements.media
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.element
name = "media"
class = prefix + name


/**
 * styles
 */
