/* ------------------------------------------------------------------------ *\
   elements.media
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "media"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
