/* ------------------------------------------------------------------------ *\
   elements.overlay
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.element
name = "overlay"
class = prefix + name


/**
 * styles
 */
