/* ------------------------------------------------------------------------ *\
   elements.rating
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.element
name = "rating"
class = prefix + name


/**
 * styles
 */
