/* ------------------------------------------------------------------------ *\
   elements.ribbon
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.element
name = "ribbon"
class = prefix + name


/**
 * styles
 */
