/* ------------------------------------------------------------------------ *\
   elements.row
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.element
name = "row"
class = prefix + name


/**
 * styles
 */
