/* ------------------------------------------------------------------------ *\
   elements.table
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.element
name = "table"
class = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
