/* ------------------------------------------------------------------------ *\
   elements.table
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
name = "table"
selector = prefix + name


/* styles
\* ------------------------------------------------------------------------ */
