/* ------------------------------------------------------------------------ *\
   elements
\* ------------------------------------------------------------------------ */


/**
 * [prefix description]
 * @type {[type]}
 */
prefix = nix.prefix.root + nix.prefix.element


/**
 * recursive n globbing import
 */
@require "*"
