/* ------------------------------------------------------------------------ *\
   modules.basket
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.module
name = "basket"
class = prefix + name


/**
 * styles
 */
