/* ------------------------------------------------------------------------ *\
   modules.capFinder
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.module
name = "capFinder"
class = prefix + name


/**
 * styles
 */
