/* ------------------------------------------------------------------------ *\
   modules.cart
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.module
name = "cart"
class = prefix + name


/**
 * styles
 */
