/* ------------------------------------------------------------------------ *\
   modules.footer
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.module
name = "footer"
class = prefix + name


/**
 * styles
 */
