/* ------------------------------------------------------------------------ *\
   modules.header
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.module
name = "header"
class = prefix + name


/**
 * styles
 */
