/* ------------------------------------------------------------------------ *\
   modules.hero
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.module
name = "hero"
class = prefix + name


/**
 * styles
 */
