/* ------------------------------------------------------------------------ *\
   modules.product
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.module
name = "product"
class = prefix + name


/**
 * styles
 */
