/* ------------------------------------------------------------------------ *\
   modules.stores
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
prefix = nix.prefix.module
name = "stores"
class = prefix + name


/**
 * styles
 */
