/* ------------------------------------------------------------------------ *\
   structure.layout
\* ------------------------------------------------------------------------ */

/**
 * global classes
 */
section, .section,
.header, .preHeader, .postHeader,
.footer, .preFooter, .postFooter,
.hero, .tools, .main
  /*overflow-x: hidden*/
  box-sizing: border-box
  margin: auto
  padding: 1rem 0
  min-width: $nix.grid.min-width
