/* ------------------------------------------------------------------------ *\
   structure
\* ------------------------------------------------------------------------ */


/**
 * recursive n globbing import
 */
@require "*"
