// Mixins
// ------------------------------------------ 
Button(buttonType, buttonColor, buttonColorHover)
  .button--{buttonType}
    Color(buttonColor)    

  .button--{buttonType},
  .button--{buttonType}.button--noFill
    &:hover, 
    &:focus, 
    &.focus, 
    &:active, 
    &.active
      Color(buttonColorHover)  
      
  .open 
    & > .button--{buttonType}.dropdown-toggle,
    & > .button--{buttonType}.button--noFill.dropdown-toggle
      Color(buttonColorHover)    
  
  .button--noFill
    &.button--{buttonType}
      Color--noFill(buttonColor)


// element.button
// ------------------------------------------   
.button
  display: inline-block
  margin-bottom: 0
  padding: 6px 14px
  font-weight: 600
  text-align: center
  vertical-align: middle
  touch-action: manipulation
  cursor: pointer
  background-image: none
  border: 1px solid rgba(0, 0, 0, 0)
  white-space: nowrap
  -webkit-font-smoothing: antialiased
  font-size: 14px
  font-weight: 700
  line-height: 1.42857
  border-radius: 4px
  user-select: none
  background: transparent
  
.button--sm
  padding: 5px 10px
  font-size: 12px
  line-height: 1.5
  
  .icon
    font-size: 12px    


Button(success, color.green, color.green--dark)
Button(warning, color.orange, color.orange--dark)   
Button(danger, color.red, color.red--dark)   
Button(info, color.cyan, color.cyan--dark) 