::selection
	Skin--selection($color--yellow, $color--white)


::-moz-selection
	Skin--selection($color--yellow, $color--white)


.skin--orange

	[class*="hvr-"]:before
		z-index: 100
		background: $color--orange

	/*.overlay
		background: $color--orangeLight
		background: rgba($color--orangeLight, 0.65)*/

	.product
		&:before
			background: #FFAB21
		&:after
			background: $color--orange



.skin--yellow
	[class*="hvr-"]:before
		z-index: 100
		background: $color--yellow

	.overlay
		background: $color--yellowLight
		background: rgba($color--yellowLight, 0.65)

	.product
		&:after
			border-bottom-color: $color--yellow