align--center()
  transform-style: preserve-3d


align--center__content()
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  -webkit-font-smoothing: subpixel-antialiased
  -webkit-perspective: 1000