/* ------------------------------------------------------------------------ *\
   mixins.reset
\* ------------------------------------------------------------------------ */


/**
 * [reset description]
 */
Reset()
	for prop, value in $nix--reset
		for arg in arguments
			if(prop == arg[0])
				{arg[0]}: value


/**
 * [global description]
 * @return {[type]} [description]
 */
Reset--global()
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td
		Reset--box-model()
		Reset--font()

	body
		Reset--body()

	ol, ul
		list-style: none

	table
		Reset--table()

	caption, th, td
		Reset--table-cell()

	a img
		border: none


/**
 * [nested description]
 * @return {[type]} [description]
 */
Reset--nested()
	div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
	pre, a, abbr, acronym, address, code, del, dfn, em, img,
	dl, dt, dd, ol, ul, li, fieldset, form, label,
	legend, caption, tbody, tfoot, thead, tr
		Reset--box-model()
		Reset--font()

	table
		Reset-table()

	caption, th, td
		Reset-table-cell()

	a img
		border: none


/**
 * [model description]
 * @return {[type]} [description]
 */
Reset--box-model()
	Reset(margin, padding, border, outline)


/**
 * [font description]
 * @return {[type]} [description]
 */
Reset--font()
	font-weight: inherit
	font-style: inherit
	font-family: inherit
	font-size: 100%
	vertical-align: baseline


/**
 * [body description]
 * @return {[type]} [description]
 */
Reset--body()
	line-height: 1
	color: $color--black
	background: $color--white


/**
 * [table description]
 * @return {[type]} [description]
 */
Reset--table()
	border-collapse: separate
	border-spacing: 0
	vertical-align: middle


/**
 * [cell description]
 * @return {[type]} [description]
 */
Reset--table-cell()
	text-align: left
	font-weight: normal
	vertical-align: middle


/**
 * [html5 description]
 * @return {[type]} [description]
 */
Reset--html5()
	article, aside, canvas, details, figcaption,
	figure, footer, header, hgroup, menu, nav,
	section, summary, main
		Reset--box-model()
		display: block

	audio, canvas, video
		display inline-block
		*display inline
		*zoom 1

audio:not([controls]),[hidden]
	display none


/**
 * [tags description]
 * @return {[type]} [description]
 */
Reset--tags()
	html, *:before, *:after
		box-sizing: border-box

	body
		margin: 0


/**
 * [clear description]
 * @return {[type]} [description]
 */
Reset--clear()
	overflow: auto
	zoom: 1


/**
 * [clearfix description]
 * @return {[type]} [description]
 */
Reset--clearfix()
	zoom: 1 if $nix--legacy

	&:before
	&:after
		content: ""
		display: table

	&:after
		clear: both
