/* ------------------------------------------------------------------------ *\
   mixins.text
\* ------------------------------------------------------------------------ */


Text--ellipsis(size)
	max-height: size
	overflow: hidden
	display: block
	text-overflow: ellipsis
	text-align: justify

	&:after
		content: "..."
		z-index: $z--default
		position: absolute
		right: 0
		bottom: 25px


Text--mask()
	display: block
	position: relative
	height: 100%

	&:before
		content: ""
		z-index: $z--default
		position: absolute
		left: 0
		bottom: -5px
		width: 100%
		height: 65px
		background: linear-gradient(transparent 5px, $color--white)