/* ------------------------------------------------------------------------ *\
   components.alert
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "alert"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */

{$s}
  alert()


{$s}__content
  alert__content()


{$s}--primary
  alert__content--color($nix.skin.color.primary)


{$s}--secondary
  alert__content--color($nix.skin.color.secondary)


{$s}--success
  alert__content--color($nix.skin.color.success)


{$s}--warning
  alert__content--color($nix.skin.color.warning)


{$s}--error
  alert__content--color($nix.skin.color.error)


{$s}--info
  alert__content--color($nix.skin.color.info)
