/* ------------------------------------------------------------------------ *\
   utils.align
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "align"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */
align--create($s)
