/* ------------------------------------------------------------------------ *\
   components.badge
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "badge"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */

{$s}
  badge()


{$s}--primary
  badge--color($nix.skin.color.primary)


{$s}--secondary
  badge--color($nix.skin.color.secondary)


{$s}--success
  badge--color($nix.skin.color.success)


{$s}--warning
  badge--color($nix.skin.color.warning)


{$s}--error
  badge--color($nix.skin.color.error)


{$s}--info
  badge--color($nix.skin.color.info)
