/* ------------------------------------------------------------------------ *\
   utils.border
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "border"
$selector = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */
