/* ------------------------------------------------------------------------ *\
   components.box
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "box"
$selector = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */
