/* ------------------------------------------------------------------------ *\
   components.bubble
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "bubble"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */

{$s}
  bubble()


{$s}__arrow
  bubble__arrow()

  &--top
    bubble__arrow--top()

  &--right
    bubble__arrow--right()

  &--bottom
    bubble__arrow--bottom()

  &--left
    bubble__arrow--left()
