/* ------------------------------------------------------------------------ *\
   components.button
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "button"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */

{$s}
  button()


{$s}--close
  button--close()


{$s}--block
  button--block()


{$s}--rounded
  button--rounded()


{$s}--xxxl
  text--size--xxxl()


{$s}--xxl
  text--size--xxl()


{$s}--xl
  text--size--xl()


{$s}--lg
  text--size--lg()


{$s}--md
  text--size--md()


{$s}--sm
  text--size--sm()


{$s}--xs
  text--size--xs()


{$s}--xxs
  text--size--xxs()


{$s}--xxxs
  text--size--xxxs()


{$s}--primary
  button--color($nix.skin.color.primary, $nix.skin.color.white)


{$s}--secondary
  button--color($nix.skin.color.secondary, $nix.skin.color.white)


{$s}--success
  button--color($nix.skin.color.success, $nix.skin.color.white)


{$s}--error
  button--color($nix.skin.color.error, $nix.skin.color.white)


{$s}--ghost
  button--ghost($nix.skin.color.primary)


{$s}--ghost--primary
  button--ghost($nix.skin.color.primary)


{$s}--ghost--secondary
  button--ghost($nix.skin.color.secondary)


{$s}--ghost--success
  button--ghost($nix.skin.color.success)


{$s}--ghost--error
  button--ghost($nix.skin.color.error)


{$s}--group
  button--group()


{$s}--grouped
  {$s}
    button--grouped()


[{$selector}~="--group--rounded"]
  [{$selector}]
    button--group--rounded()


[{$selector}~="__icon-left"]
  button__icon-left()


[{$selector}~="__icon-right"]
  button__icon-right()
