/* ------------------------------------------------------------------------ *\
   components.caption
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "caption"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */
