/* ------------------------------------------------------------------------ *\
   components.carousel
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "carousel"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */
