/* ------------------------------------------------------------------------ *\
   components.card
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "card"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */

{$s}
  card()

  + {$s}
    card--spacing()

  .paragraph:first-child,
  .paragraph:last-child
    card__first-last-paragraph()


{$s}__content
  card__content()

  &--divider
    card__content--divider()


{$s}__item
  card__item()

  &--divider
    card__item--divider()


{$s}--high
  card--high()


{$s}--higher
  card--higher()


{$s}--highest
  card--highest()
