/* ------------------------------------------------------------------------ *\
   utils.color
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "color"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */
