/* ------------------------------------------------------------------------ *\
   utils.column
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "column"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */
