/* ------------------------------------------------------------------------ *\
   components.collapse
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "collapse"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */
