/* ------------------------------------------------------------------------ *\
   utils.divider
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "divider"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */
