/* ------------------------------------------------------------------------ *\
   components.drawer
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "drawer"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */
