/* ------------------------------------------------------------------------ *\
   components.form
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "form"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */
