/* ------------------------------------------------------------------------ *\
   utils.frame
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "frame"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */
