/* ------------------------------------------------------------------------ *\
   utils.gradient
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "gradient"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */
