/* ------------------------------------------------------------------------ *\
   components.hamburger
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "hamburger"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */
