/* ------------------------------------------------------------------------ *\
   components.heading
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "heading"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */
