/* ------------------------------------------------------------------------ *\
   components.icon
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "icon"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */
