/* ------------------------------------------------------------------------ *\
   components.image
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "image"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */
