/* ------------------------------------------------------------------------ *\
   components.link
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "link"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */
