/* ------------------------------------------------------------------------ *\
   components.list
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "list"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */
