/* ------------------------------------------------------------------------ *\
   components.map
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "map"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */
