/* ------------------------------------------------------------------------ *\
   utils.margin
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "margin"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */

/**
 * [margin description]
 * @return {[type]} [description]
 */
margin--create($s)
