/* ------------------------------------------------------------------------ *\
   components.media
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "media"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */
