/* ------------------------------------------------------------------------ *\
   components.menu
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "menu"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */

{$s}
  menu()


{$s}__item
  menu__item()

  &:not({$s}__item--disabled):not({$s}__item--divider):hover
    menu__item--hover()


{$s}__item--hover
  menu__item--hover()


{$s}__item--disabled
  menu__item--disabled()


{$s}__item--divider
  menu__item--divider()


{$s}__item--active
  menu__item--active()


{$s}--high
  menu--high()


{$s}--higher
  menu--higher()


{$s}--highest
  menu--highest()

