/* ------------------------------------------------------------------------ *\
   components.modal
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "modal"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */
