/* ------------------------------------------------------------------------ *\
   components.navbar
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "navbar"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */
