/* ------------------------------------------------------------------------ *\
   components.nav
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "nav"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */


{$s}
  nav()


{$s}__item
  nav__item()
  list--inline__item()


{$s}__item:hover
  nav__item--hover()


{$s}__item:active
  nav__item--active()


{$s}--inline
  nav--inline()

  {$s}__item
    nav--inline__item()

  {$s}__item--right
    nav__item--right()


{$s}--top
  nav--top()


{$s}--bottom
  nav--bottom()


{$s}--left
  nav--left()


{$s}--right
  nav--right()


{$s}--high
  nav--high()


{$s}--higher
  nav--higher()


{$s}--highest
  nav--highest()

