/* ------------------------------------------------------------------------ *\
   components.notify
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "notify"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */
