/* ------------------------------------------------------------------------ *\
   utils.offset
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "offset"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */

/**
 * [create description]
 * @return {[type]} [description]
 */
offset--create($s)
