/* ------------------------------------------------------------------------ *\
   components.overlay
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "overlay"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */
