/* ------------------------------------------------------------------------ *\
   utils.padding
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "padding"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */

/**
 * [create description]
 * @return {[type]} [description]
 */
padding--create($s)
