/* ------------------------------------------------------------------------ *\
   components.pagination
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "pagination"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */
