/* ------------------------------------------------------------------------ *\
   components.placeholder
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "placeholder"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */
