/* ------------------------------------------------------------------------ *\
   components.popover
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "popover"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */
