/* ------------------------------------------------------------------------ *\
   components.popup
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "popup"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */
