/* ------------------------------------------------------------------------ *\
   utils.position
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "position"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */
