/* ------------------------------------------------------------------------ *\
   components.progress
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "progress"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */
