/* ------------------------------------------------------------------------ *\
   components.range
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "range"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */
