/* ------------------------------------------------------------------------ *\
   components.rating
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "rating"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */
