/* ------------------------------------------------------------------------ *\
   utils.reset
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "reset"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */
{$s}--clear
  reset--clear()


{$s}--clearfix
  reset--clearfix()


reset--create($s)
