/* ------------------------------------------------------------------------ *\
   components.ribbon
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "ribbon"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */
