/* ------------------------------------------------------------------------ *\
   utils.shape
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "shape"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */


// /**
//  * rectangle
//  */
// {$s}--rectangle
//   shape--rectangle(width, height, color)
//
//
// /**
//  * parallelogram
//  */
// {$s}--parallelogram
//   shape--parallelogram(width, height, skew, color)
//
//
// /**
//  * square
//  */
// {$s}--square
//   shape--square(size, color)
//
//
// /**
//  * oval
//  */
// {$s}--oval
//   shape--oval(width, height, color)
//
//
// /**
//  * circle
//  */
// {$s}--oval
//   shape--circle(size, color)
//
//
// /**
//  * triangle
//  */
// {$s}--triangle
//   shape--triangle(size, color, direction: "up")
//
//
// /**
//  * triangle--corner
//  */
// {$s}--triangle--corner
//   shape--triangle--corner(size, color, corner: "top-left")
//
//
// /**
//  * trapezoid
//  */
// {$s}--trapezoid
//   shape--trapezoid(width, color)
//
//
// /**
//  * chevron
//  */
// {$s}--chevron
//   shape--chevron(width, height, skew, color, direction: "up")
