/* ------------------------------------------------------------------------ *\
   utils.shadow
\* ------------------------------------------------------------------------ */

/**
 * settings
 */
$name = "shadow"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */
