/* ------------------------------------------------------------------------ *\
   components.slider
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "slider"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */
