/* ------------------------------------------------------------------------ *\
   components.slideout
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "slideout"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */
