/* ------------------------------------------------------------------------ *\
   utils.space
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "space"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */

/**
 * [create description]
 * @return {[type]} [description]
 */
space--create($s)
