/* ------------------------------------------------------------------------ *\
   components.table
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "table"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */
