/* ------------------------------------------------------------------------ *\
   components.tab
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "tab"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */
