/* ------------------------------------------------------------------------ *\
   components.tag
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "tag"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */
