/* ------------------------------------------------------------------------ *\
   utils.text
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "text"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */

/**
 * [sizes description]
 * @return {[type]} [description]
 */
// text--size($s)
