/* ------------------------------------------------------------------------ *\
   components.toast
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "toast"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */
