/* ------------------------------------------------------------------------ *\
   components.toggle
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "toggle"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */
