/* ------------------------------------------------------------------------ *\
   components.tooltip
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "tooltip"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */
