/* ------------------------------------------------------------------------ *\
   components.tree
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "tree"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */
