/* ------------------------------------------------------------------------ *\
   utils.visibility
\* ------------------------------------------------------------------------ */

/**
 * settings
 */
$name = "visibility"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */

/**
 * [create description]
 * @param  {[type]} selector [description]
 * @param  {[type]} name     [description]
 * @return {[type]}          [description]
 */
visibility--create($s, "invisible")
visibility--create($s, "visible")
visibility--create($s, "hide")
visibility--create($s, "show")
