/* ------------------------------------------------------------------------ *\
   utils.width
\* ------------------------------------------------------------------------ */


/**
 * settings
 */
$name = "width"
$s = $prefix + $name


/* styles
\* ------------------------------------------------------------------------ */

/**
 * [create description]
 * @return {[type]} [description]
 */
width--create($s)
