/* ------------------------------------------------------------------------ *\
   structure.variables.global
\* ------------------------------------------------------------------------ */


/**
 * [nix description]
 * @type {Object}
 */
nix = {}


/**
 * [debug description]
 * @type {Object}
 */
nix.debug = {
  "tags": false
  "mq": true
  "depth": false
}


/**
 * [legacy description]
 * @type {Object}
 */
nix.legacy = {
  "ie": false
  "supported": 10
}


/**
 * [prefix description]
 * @type {Object}
 */
nix.prefix = {
  "root": "nix-"
  "element": "e-"
  "component": "c-"
  "module": "m-"
  "page": "page"
  "util": "u-"
  "hack": "hack"
  "skin": "skin"
  "typography": "typography"
  "ui": "ui-"
  "state": "is-"
  "scope": "has-"
  "reset": "no-"
  "mixin": "nix-"
  "override": "\!-"
  "javascript": "js-"
}


/**
 * [vendor-prefixes]
 */
nix.vendor-prefixes ?= webkit moz o ms official


/**
 * [mq description]
 * @type {Object}
 */
nix.mq = {
  "xxs": 20em // XXSmall (portrait phones 320px)
  "xs": 34em  // XSmall (portrait phones 544px)
  "sm": 48em  // Small (landscape phones 768px)
  "md": 62em  // Medium (tablet 992px)
  "lg": 80em  // Large (desktop 1280px)
  "xl": 116em // XLarge (desktop big 1920px)
  "xxl": 160em // XXLarge (desktop super 2560px)
}


/**
 * [grid description]
 * @type {Object}
 */
nix.grid = {
  "cols": 100
  "interval": 5
  "gutter": .9375rem
  "width": 100%
  "min-width": nix.mq.xxs //0.3rem
  "max-width": nix.mq.lg  //80rem
}


/**
 * [z description]
 * @type {Object}
 */
nix.z = {
  "under": -1
  "base": 0
  "bottom": 1
  "middle": 10
  "top": 100
  "content": 200
  "control": 300
  "page": 400
  "screen": 500
  "over": 9999
}


/**
 * [directions description]
 * @type {Object}
 */
nix.directions = {
  "all": "all"
  "vertical": "vertical"
  "horizontal": "horizontal"
  "top": "top"
  "right": "right"
  "bottom": "bottom"
  "left": "left"
}


/**
 * [sizes description]
 * @type {Object}
 */
nix.sizes = {
  "0": 0
  "xxxs": .1em
  "xxs": .3em
  "xs": .5em
  "sm": 1em
  "md": 1.5em
  "lg": 2em
  "xl": 3em
  "xxl": 4em
  "xxxl": 6em
}


/**
 * [images description]
 * @type {Object}
 */
nix.images = {
  "path": "/_dist/images/"
}


/**
 * [media description]
 * @type {Object}
 */
nix.media = {
  "path": "/dist/media/"
  "sizes": {
    "1/1": (1 / 1)
    "3/4": (4 / 3)
    "9/16": (16 / 9)
    "10/16": (16 / 10)
    "9/21": (21 / 9)
  }
}


/**
 * [animations description]
 * @type {Boolean}
 */
nix.animations = {
  "state": "on"
  "easing": "ease"
  "duration-slow": .9s
  "duration": .5s
  "duration-fast": .2s
}


/**
 * [reset description]
 * @type {Object}
 */
nix.reset = {
  "border": none
  "background": none
  "border-radius": 0
  "padding": 0
  "margin": 0
  "width": auto
  "height": auto
  "z-index": 0
  "font-size": initial
  "font-weight": normal
  "text-shadow": none
  "box-shadow": none
  "visibility": visible
  "display": inline-block
  "position": static
  "float": none
}


// toReview
nix.border.color = nix.colors.grey
nix.border.radius = 4px
nix.border.radius-rounded = 30em
