/* ------------------------------------------------------------------------ *\
   structure.variables.colors
\* ------------------------------------------------------------------------ */


/**
 * [colors description]
 * @type {Object}
 */
nix.colors = {
  "green"  :  #38b81f
  "blue"   :  #0052a3
  "purple" :  #992abb
  "pink"   :  #ff389f
  "red"    :  #e61931
  "orange" :  #ff4d00
  "yellow" :  #ffdd00
  "brown"  :  #6a4c39
  "gray"   :  #999999
  "black"  :  #000000
  "white"  :  #ffffff
}


/**
 * [tint description]
 * @type {Object}
 */
nix.tint = {
  "cold"   :  #0d45c3
  "warm"   :  #ff8200
}


/**
 * colors variants
\* ------------------------------------------------------------------------ */

// green
nix.colors.green--cold = mix(nix.colors.green, nix.tint.cold, 95%)
nix.colors.green--warm = mix(nix.colors.green, nix.tint.warm, 95%)


// blue
nix.colors.blue--cold = mix(nix.colors.blue, nix.tint.cold, 95%)
nix.colors.blue--warm = mix(nix.colors.blue, nix.tint.warm, 95%)


// purple
nix.colors.purple--cold = mix(nix.colors.purple, nix.tint.cold, 95%)
nix.colors.purple--warm = mix(nix.colors.purple, nix.tint.warm, 95%)


// pink
nix.colors.pink--cold = mix(nix.colors.pink, nix.tint.cold, 95%)
nix.colors.pink--warm = mix(nix.colors.pink, nix.tint.warm, 95%)


// red
nix.colors.red--cold = mix(nix.colors.red, nix.tint.cold, 95%)
nix.colors.red--warm = mix(nix.colors.red, nix.tint.warm, 95%)


// orange
nix.colors.orange--cold = mix(nix.colors.orange, nix.tint.cold, 95%)
nix.colors.orange--warm = mix(nix.colors.orange, nix.tint.warm, 95%)


// yellow
nix.colors.yellow--cold = mix(nix.colors.yellow, nix.tint.cold, 95%)
nix.colors.yellow--warm = mix(nix.colors.yellow, nix.tint.warm, 95%)


// brown
nix.colors.brown--cold = mix(nix.colors.brown, nix.tint.cold, 95%)
nix.colors.brown--warm = mix(nix.colors.brown, nix.tint.warm, 95%)


// gray
nix.colors.gray--cold = mix(nix.colors.gray, nix.tint.cold, 95%)
nix.colors.gray--warm = mix(nix.colors.gray, nix.tint.warm, 95%)
