/* ------------------------------------------------------------------------ *\
   structure.variables.fonts
\* ------------------------------------------------------------------------ */

/**
 * [fonts description]
 * @type {Object}
 */
nix.fonts = {

  "responsive": true

  "stack": {
    "default": unquote("'Helvetica Neue', Tahoma, sans-serif" )
    "primary": unquote("'Fira'")
    "secondary": unquote("'Roboto'")
    "third": unquote("'Raleway'")
  }

  "base": {
    "size": 100%
    "weight": normal
    "height": 1.67
    "spacing": 0
    "smoothing": true
  }

  "sizes": {
    "0": 0
    "xxxs": .67em
    "xxs": .83em
    "xs": 1em
    "sm": 1.17em
    "md": 1.5em
    "lg": 2em
    "xl": 2.85em
    "xxl": 3.6em
    "xxxl": 4em
  }
}
