/* ------------------------------------------------------------------------ *\
   variables.palette
\* ------------------------------------------------------------------------ */


/**
 * [palette description]
 * @type {Object}
 */
nix.palette = {}


/**
 * [green description]
 * @type {Object}
 */
nix.palette.green = {
  "core"        :  nix.colors.green

  // lighten
  "light--50"   :  lighten(nix.colors.green, 50%)
  "light--40"   :  lighten(nix.colors.green, 40%)
  "light--30"   :  lighten(nix.colors.green, 30%)
  "light--20"   :  lighten(nix.colors.green, 20%)
  "light--10"   :  lighten(nix.colors.green, 10%)

  // darken
  "dark--10"    :  darken(nix.colors.green, 10%)
  "dark--20"    :  darken(nix.colors.green, 20%)
  "dark--30"    :  darken(nix.colors.green, 30%)
  "dark--40"    :  darken(nix.colors.green, 40%)
  "dark--50"    :  darken(nix.colors.green, 50%)

  // tint
  "tint--50"   :  tint(nix.colors.green, 50%)
  "tint--40"   :  tint(nix.colors.green, 40%)
  "tint--30"   :  tint(nix.colors.green, 30%)
  "tint--20"   :  tint(nix.colors.green, 20%)
  "tint--10"   :  tint(nix.colors.green, 10%)

  // shade
  "shade--10"  :  shade(nix.colors.green, 10%)
  "shade--20"  :  shade(nix.colors.green, 20%)
  "shade--30"  :  shade(nix.colors.green, 30%)
  "shade--40"  :  shade(nix.colors.green, 40%)
  "shade--50"  :  shade(nix.colors.green, 50%)
}


/**
 * [cold description]
 * @type {Object}
 */
nix.palette.green--cold = {
  "core"        :  nix.colors.green--cold

  // lighten
  "light--50"  :  lighten(nix.colors.green--cold, 50%)
  "light--40"  :  lighten(nix.colors.green--cold, 40%)
  "light--30"  :  lighten(nix.colors.green--cold, 30%)
  "light--20"  :  lighten(nix.colors.green--cold, 20%)
  "light--10"  :  lighten(nix.colors.green--cold, 10%)

  // darken
  "dark--10"   :  darken(nix.colors.green--cold, 10%)
  "dark--20"   :  darken(nix.colors.green--cold, 20%)
  "dark--30"   :  darken(nix.colors.green--cold, 30%)
  "dark--40"   :  darken(nix.colors.green--cold, 40%)
  "dark--50"   :  darken(nix.colors.green--cold, 50%)

  // tint
  "tint--50"   :  tint(nix.colors.green--cold, 50%)
  "tint--40"   :  tint(nix.colors.green--cold, 40%)
  "tint--30"   :  tint(nix.colors.green--cold, 30%)
  "tint--20"   :  tint(nix.colors.green--cold, 20%)
  "tint--10"   :  tint(nix.colors.green--cold, 10%)

  // shade
  "shade--10"  :  shade(nix.colors.green--cold, 10%)
  "shade--20"  :  shade(nix.colors.green--cold, 20%)
  "shade--30"  :  shade(nix.colors.green--cold, 30%)
  "shade--40"  :  shade(nix.colors.green--cold, 40%)
  "shade--50"  :  shade(nix.colors.green--cold, 50%)
}


/**
 * [warm description]
 * @type {Object}
 */
nix.palette.green--warm = {
  "core"        :  nix.colors.green--warm

  // lighten
  "light--50"   :  lighten(nix.colors.green--warm, 50%)
  "light--40"   :  lighten(nix.colors.green--warm, 40%)
  "light--30"   :  lighten(nix.colors.green--warm, 30%)
  "light--20"   :  lighten(nix.colors.green--warm, 20%)
  "light--10"   :  lighten(nix.colors.green--warm, 10%)

  // darken
  "dark--10"    :  darken(nix.colors.green--warm, 10%)
  "dark--20"    :  darken(nix.colors.green--warm, 20%)
  "dark--30"    :  darken(nix.colors.green--warm, 30%)
  "dark--40"    :  darken(nix.colors.green--warm, 40%)
  "dark--50"    :  darken(nix.colors.green--warm, 50%)

  // tint
  "tint--50"   :  tint(nix.colors.green--warm, 50%)
  "tint--40"   :  tint(nix.colors.green--warm, 40%)
  "tint--30"   :  tint(nix.colors.green--warm, 30%)
  "tint--20"   :  tint(nix.colors.green--warm, 20%)
  "tint--10"   :  tint(nix.colors.green--warm, 10%)

  // shade
  "shade--10"  :  shade(nix.colors.green--warm, 10%)
  "shade--20"  :  shade(nix.colors.green--warm, 20%)
  "shade--30"  :  shade(nix.colors.green--warm, 30%)
  "shade--40"  :  shade(nix.colors.green--warm, 40%)
  "shade--50"  :  shade(nix.colors.green--warm, 50%)
}


/**
 * [blue description]
 * @type {Object}
 */
nix.palette.blue = {
  "core"        :  nix.colors.blue

  // lighten
  "light--50"   :  lighten(nix.colors.blue, 50%)
  "light--40"   :  lighten(nix.colors.blue, 40%)
  "light--30"   :  lighten(nix.colors.blue, 30%)
  "light--20"   :  lighten(nix.colors.blue, 20%)
  "light--10"   :  lighten(nix.colors.blue, 10%)

  // darken
  "dark--10"    :  darken(nix.colors.blue, 10%)
  "dark--20"    :  darken(nix.colors.blue, 20%)
  "dark--30"    :  darken(nix.colors.blue, 30%)
  "dark--40"    :  darken(nix.colors.blue, 40%)
  "dark--50"    :  darken(nix.colors.blue, 50%)

  // tint
  "tint--50"   :  tint(nix.colors.blue, 50%)
  "tint--40"   :  tint(nix.colors.blue, 40%)
  "tint--30"   :  tint(nix.colors.blue, 30%)
  "tint--20"   :  tint(nix.colors.blue, 20%)
  "tint--10"   :  tint(nix.colors.blue, 10%)

  // shade
  "shade--10"  :  shade(nix.colors.blue, 10%)
  "shade--20"  :  shade(nix.colors.blue, 20%)
  "shade--30"  :  shade(nix.colors.blue, 30%)
  "shade--40"  :  shade(nix.colors.blue, 40%)
  "shade--50"  :  shade(nix.colors.blue, 50%)
}


/**
 * [cold description]
 * @type {Object}
 */
nix.palette.blue--cold = {
  "core"        :  nix.colors.blue--cold

  // lighten
  "light--50"   :  lighten(nix.colors.blue--cold, 50%)
  "light--40"   :  lighten(nix.colors.blue--cold, 40%)
  "light--30"   :  lighten(nix.colors.blue--cold, 30%)
  "light--20"   :  lighten(nix.colors.blue--cold, 20%)
  "light--10"   :  lighten(nix.colors.blue--cold, 10%)

  // darken
  "dark--10"    :  darken(nix.colors.blue--cold, 10%)
  "dark--20"    :  darken(nix.colors.blue--cold, 20%)
  "dark--30"    :  darken(nix.colors.blue--cold, 30%)
  "dark--40"    :  darken(nix.colors.blue--cold, 40%)
  "dark--50"    :  darken(nix.colors.blue--cold, 50%)

  // tint
  "tint--50"   :  tint(nix.colors.blue--cold, 50%)
  "tint--40"   :  tint(nix.colors.blue--cold, 40%)
  "tint--30"   :  tint(nix.colors.blue--cold, 30%)
  "tint--20"   :  tint(nix.colors.blue--cold, 20%)
  "tint--10"   :  tint(nix.colors.blue--cold, 10%)

  // shade
  "shade--10"  :  shade(nix.colors.blue--cold, 10%)
  "shade--20"  :  shade(nix.colors.blue--cold, 20%)
  "shade--30"  :  shade(nix.colors.blue--cold, 30%)
  "shade--40"  :  shade(nix.colors.blue--cold, 40%)
  "shade--50"  :  shade(nix.colors.blue--cold, 50%)
}


/**
 * [warm description]
 * @type {Object}
 */
nix.palette.blue--warm = {
  "core"        :  nix.colors.blue--warm

  // lighten
  "light--50"   :  lighten(nix.colors.blue--warm, 50%)
  "light--40"   :  lighten(nix.colors.blue--warm, 40%)
  "light--30"   :  lighten(nix.colors.blue--warm, 30%)
  "light--20"   :  lighten(nix.colors.blue--warm, 20%)
  "light--10"   :  lighten(nix.colors.blue--warm, 10%)

  // darken
  "dark--10"    :  darken(nix.colors.blue--warm, 10%)
  "dark--20"    :  darken(nix.colors.blue--warm, 20%)
  "dark--30"    :  darken(nix.colors.blue--warm, 30%)
  "dark--40"    :  darken(nix.colors.blue--warm, 40%)
  "dark--50"    :  darken(nix.colors.blue--warm, 50%)

  // tint
  "tint--50"   :  tint(nix.colors.blue--warm, 50%)
  "tint--40"   :  tint(nix.colors.blue--warm, 40%)
  "tint--30"   :  tint(nix.colors.blue--warm, 30%)
  "tint--20"   :  tint(nix.colors.blue--warm, 20%)
  "tint--10"   :  tint(nix.colors.blue--warm, 10%)

  // shade
  "shade--10"  :  shade(nix.colors.blue--warm, 10%)
  "shade--20"  :  shade(nix.colors.blue--warm, 20%)
  "shade--30"  :  shade(nix.colors.blue--warm, 30%)
  "shade--40"  :  shade(nix.colors.blue--warm, 40%)
  "shade--50"  :  shade(nix.colors.blue--warm, 50%)
}


/**
 * [purple description]
 * @type {Object}
 */
nix.palette.purple = {
  "core"        :  nix.colors.purple

  // lighten
  "light--50"   :  lighten(nix.colors.purple, 50%)
  "light--40"   :  lighten(nix.colors.purple, 40%)
  "light--30"   :  lighten(nix.colors.purple, 30%)
  "light--20"   :  lighten(nix.colors.purple, 20%)
  "light--10"   :  lighten(nix.colors.purple, 10%)

  // darken
  "dark--10"    :  darken(nix.colors.purple, 10%)
  "dark--20"    :  darken(nix.colors.purple, 20%)
  "dark--30"    :  darken(nix.colors.purple, 30%)
  "dark--40"    :  darken(nix.colors.purple, 40%)
  "dark--50"    :  darken(nix.colors.purple, 50%)

  // tint
  "tint--50"   :  tint(nix.colors.purple, 50%)
  "tint--40"   :  tint(nix.colors.purple, 40%)
  "tint--30"   :  tint(nix.colors.purple, 30%)
  "tint--20"   :  tint(nix.colors.purple, 20%)
  "tint--10"   :  tint(nix.colors.purple, 10%)

  // shade
  "shade--10"  :  shade(nix.colors.purple, 10%)
  "shade--20"  :  shade(nix.colors.purple, 20%)
  "shade--30"  :  shade(nix.colors.purple, 30%)
  "shade--40"  :  shade(nix.colors.purple, 40%)
  "shade--50"  :  shade(nix.colors.purple, 50%)
}


/**
 * [cold description]
 * @type {Object}
 */
nix.palette.purple--cold = {
  "core"        :  nix.colors.purple--cold

  // lighten
  "light--50"   :  lighten(nix.colors.purple--cold, 50%)
  "light--40"   :  lighten(nix.colors.purple--cold, 40%)
  "light--30"   :  lighten(nix.colors.purple--cold, 30%)
  "light--20"   :  lighten(nix.colors.purple--cold, 20%)
  "light--10"   :  lighten(nix.colors.purple--cold, 10%)

  // darken
  "dark--10"    :  darken(nix.colors.purple--cold, 10%)
  "dark--20"    :  darken(nix.colors.purple--cold, 20%)
  "dark--30"    :  darken(nix.colors.purple--cold, 30%)
  "dark--40"    :  darken(nix.colors.purple--cold, 40%)
  "dark--50"    :  darken(nix.colors.purple--cold, 50%)

  // tint
  "tint--50"   :  tint(nix.colors.purple--cold, 50%)
  "tint--40"   :  tint(nix.colors.purple--cold, 40%)
  "tint--30"   :  tint(nix.colors.purple--cold, 30%)
  "tint--20"   :  tint(nix.colors.purple--cold, 20%)
  "tint--10"   :  tint(nix.colors.purple--cold, 10%)

  // shade
  "shade--10"  :  shade(nix.colors.purple--cold, 10%)
  "shade--20"  :  shade(nix.colors.purple--cold, 20%)
  "shade--30"  :  shade(nix.colors.purple--cold, 30%)
  "shade--40"  :  shade(nix.colors.purple--cold, 40%)
  "shade--50"  :  shade(nix.colors.purple--cold, 50%)
}


/**
 * [warm description]
 * @type {Object}
 */
nix.palette.purple--warm = {
  "core"        :  nix.colors.purple--warm

  // lighten
  "light--50"   :  lighten(nix.colors.purple--warm, 50%)
  "light--40"   :  lighten(nix.colors.purple--warm, 40%)
  "light--30"   :  lighten(nix.colors.purple--warm, 30%)
  "light--20"   :  lighten(nix.colors.purple--warm, 20%)
  "light--10"   :  lighten(nix.colors.purple--warm, 10%)

  // darken
  "dark--10"    :  darken(nix.colors.purple--warm, 10%)
  "dark--20"    :  darken(nix.colors.purple--warm, 20%)
  "dark--30"    :  darken(nix.colors.purple--warm, 30%)
  "dark--40"    :  darken(nix.colors.purple--warm, 40%)
  "dark--50"    :  darken(nix.colors.purple--warm, 50%)

  // tint
  "tint--50"   :  tint(nix.colors.purple--warm, 50%)
  "tint--40"   :  tint(nix.colors.purple--warm, 40%)
  "tint--30"   :  tint(nix.colors.purple--warm, 30%)
  "tint--20"   :  tint(nix.colors.purple--warm, 20%)
  "tint--10"   :  tint(nix.colors.purple--warm, 10%)

  // shade
  "shade--10"  :  shade(nix.colors.purple--warm, 10%)
  "shade--20"  :  shade(nix.colors.purple--warm, 20%)
  "shade--30"  :  shade(nix.colors.purple--warm, 30%)
  "shade--40"  :  shade(nix.colors.purple--warm, 40%)
  "shade--50"  :  shade(nix.colors.purple--warm, 50%)
}


/**
 * [pink description]
 * @type {Object}
 */
nix.palette.pink = {
  "core"        :  nix.colors.pink

  // lighten
  "light--50"   :  lighten(nix.colors.pink, 50%)
  "light--40"   :  lighten(nix.colors.pink, 40%)
  "light--30"   :  lighten(nix.colors.pink, 30%)
  "light--20"   :  lighten(nix.colors.pink, 20%)
  "light--10"   :  lighten(nix.colors.pink, 10%)

  // darken
  "dark--10"    :  darken(nix.colors.pink, 10%)
  "dark--20"    :  darken(nix.colors.pink, 20%)
  "dark--30"    :  darken(nix.colors.pink, 30%)
  "dark--40"    :  darken(nix.colors.pink, 40%)
  "dark--50"    :  darken(nix.colors.pink, 50%)

  // tint
  "tint--50"   :  tint(nix.colors.pink, 50%)
  "tint--40"   :  tint(nix.colors.pink, 40%)
  "tint--30"   :  tint(nix.colors.pink, 30%)
  "tint--20"   :  tint(nix.colors.pink, 20%)
  "tint--10"   :  tint(nix.colors.pink, 10%)

  // shade
  "shade--10"  :  shade(nix.colors.pink, 10%)
  "shade--20"  :  shade(nix.colors.pink, 20%)
  "shade--30"  :  shade(nix.colors.pink, 30%)
  "shade--40"  :  shade(nix.colors.pink, 40%)
  "shade--50"  :  shade(nix.colors.pink, 50%)
}


/**
 * [cold description]
 * @type {Object}
 */
nix.palette.pink--cold = {
  "core"        :  nix.colors.pink--cold

  // lighten
  "light--50"   :  lighten(nix.colors.pink--cold, 50%)
  "light--40"   :  lighten(nix.colors.pink--cold, 40%)
  "light--30"   :  lighten(nix.colors.pink--cold, 30%)
  "light--20"   :  lighten(nix.colors.pink--cold, 20%)
  "light--10"   :  lighten(nix.colors.pink--cold, 10%)

  // darken
  "dark--10"    :  darken(nix.colors.pink--cold, 10%)
  "dark--20"    :  darken(nix.colors.pink--cold, 20%)
  "dark--30"    :  darken(nix.colors.pink--cold, 30%)
  "dark--40"    :  darken(nix.colors.pink--cold, 40%)
  "dark--50"    :  darken(nix.colors.pink--cold, 50%)

  // tint
  "tint--50"   :  tint(nix.colors.pink--cold, 50%)
  "tint--40"   :  tint(nix.colors.pink--cold, 40%)
  "tint--30"   :  tint(nix.colors.pink--cold, 30%)
  "tint--20"   :  tint(nix.colors.pink--cold, 20%)
  "tint--10"   :  tint(nix.colors.pink--cold, 10%)

  // shade
  "shade--10"  :  shade(nix.colors.pink--cold, 10%)
  "shade--20"  :  shade(nix.colors.pink--cold, 20%)
  "shade--30"  :  shade(nix.colors.pink--cold, 30%)
  "shade--40"  :  shade(nix.colors.pink--cold, 40%)
  "shade--50"  :  shade(nix.colors.pink--cold, 50%)
}


/**
 * [warm description]
 * @type {Object}
 */
nix.palette.pink--warm = {
  "core"        :  nix.colors.pink--warm

  // lighten
  "light--50"   :  lighten(nix.colors.pink--warm, 50%)
  "light--40"   :  lighten(nix.colors.pink--warm, 40%)
  "light--30"   :  lighten(nix.colors.pink--warm, 30%)
  "light--20"   :  lighten(nix.colors.pink--warm, 20%)
  "light--10"   :  lighten(nix.colors.pink--warm, 10%)

  // darken
  "dark--10"    :  darken(nix.colors.pink--warm, 10%)
  "dark--20"    :  darken(nix.colors.pink--warm, 20%)
  "dark--30"    :  darken(nix.colors.pink--warm, 30%)
  "dark--40"    :  darken(nix.colors.pink--warm, 40%)
  "dark--50"    :  darken(nix.colors.pink--warm, 50%)

  // tint
  "tint--50"   :  tint(nix.colors.pink--warm, 50%)
  "tint--40"   :  tint(nix.colors.pink--warm, 40%)
  "tint--30"   :  tint(nix.colors.pink--warm, 30%)
  "tint--20"   :  tint(nix.colors.pink--warm, 20%)
  "tint--10"   :  tint(nix.colors.pink--warm, 10%)

  // shade
  "shade--10"  :  shade(nix.colors.pink--warm, 10%)
  "shade--20"  :  shade(nix.colors.pink--warm, 20%)
  "shade--30"  :  shade(nix.colors.pink--warm, 30%)
  "shade--40"  :  shade(nix.colors.pink--warm, 40%)
  "shade--50"  :  shade(nix.colors.pink--warm, 50%)
}


/**
 * [red description]
 * @type {Object}
 */
nix.palette.red = {
  "core"        :  nix.colors.red

  // lighten
  "light--50"   :  lighten(nix.colors.red, 50%)
  "light--40"   :  lighten(nix.colors.red, 40%)
  "light--30"   :  lighten(nix.colors.red, 30%)
  "light--20"   :  lighten(nix.colors.red, 20%)
  "light--10"   :  lighten(nix.colors.red, 10%)

  // darken
  "dark--10"    :  darken(nix.colors.red, 10%)
  "dark--20"    :  darken(nix.colors.red, 20%)
  "dark--30"    :  darken(nix.colors.red, 30%)
  "dark--40"    :  darken(nix.colors.red, 40%)
  "dark--50"    :  darken(nix.colors.red, 50%)

  // tint
  "tint--50"   :  tint(nix.colors.red, 50%)
  "tint--40"   :  tint(nix.colors.red, 40%)
  "tint--30"   :  tint(nix.colors.red, 30%)
  "tint--20"   :  tint(nix.colors.red, 20%)
  "tint--10"   :  tint(nix.colors.red, 10%)

  // shade
  "shade--10"  :  shade(nix.colors.red, 10%)
  "shade--20"  :  shade(nix.colors.red, 20%)
  "shade--30"  :  shade(nix.colors.red, 30%)
  "shade--40"  :  shade(nix.colors.red, 40%)
  "shade--50"  :  shade(nix.colors.red, 50%)
}


/**
 * [cold description]
 * @type {Object}
 */
nix.palette.red--cold = {
  "core"        :  nix.colors.red--cold

  // lighten
  "light--50"   :  lighten(nix.colors.red--cold, 50%)
  "light--40"   :  lighten(nix.colors.red--cold, 40%)
  "light--30"   :  lighten(nix.colors.red--cold, 30%)
  "light--20"   :  lighten(nix.colors.red--cold, 20%)
  "light--10"   :  lighten(nix.colors.red--cold, 10%)

  // darken
  "dark--10"    :  darken(nix.colors.red--cold, 10%)
  "dark--20"    :  darken(nix.colors.red--cold, 20%)
  "dark--30"    :  darken(nix.colors.red--cold, 30%)
  "dark--40"    :  darken(nix.colors.red--cold, 40%)
  "dark--50"    :  darken(nix.colors.red--cold, 50%)

  // tint
  "tint--50"   :  tint(nix.colors.red--cold, 50%)
  "tint--40"   :  tint(nix.colors.red--cold, 40%)
  "tint--30"   :  tint(nix.colors.red--cold, 30%)
  "tint--20"   :  tint(nix.colors.red--cold, 20%)
  "tint--10"   :  tint(nix.colors.red--cold, 10%)

  // shade
  "shade--10"  :  shade(nix.colors.red--cold, 10%)
  "shade--20"  :  shade(nix.colors.red--cold, 20%)
  "shade--30"  :  shade(nix.colors.red--cold, 30%)
  "shade--40"  :  shade(nix.colors.red--cold, 40%)
  "shade--50"  :  shade(nix.colors.red--cold, 50%)
}


/**
 * [warm description]
 * @type {Object}
 */
nix.palette.red--warm = {
  "core"        :  nix.colors.red--warm

  // lighten
  "light--50"   :  lighten(nix.colors.red--warm, 50%)
  "light--40"   :  lighten(nix.colors.red--warm, 40%)
  "light--30"   :  lighten(nix.colors.red--warm, 30%)
  "light--20"   :  lighten(nix.colors.red--warm, 20%)
  "light--10"   :  lighten(nix.colors.red--warm, 10%)

  // darken
  "dark--10"    :  darken(nix.colors.red--warm, 10%)
  "dark--20"    :  darken(nix.colors.red--warm, 20%)
  "dark--30"    :  darken(nix.colors.red--warm, 30%)
  "dark--40"    :  darken(nix.colors.red--warm, 40%)
  "dark--50"    :  darken(nix.colors.red--warm, 50%)

  // tint
  "tint--50"   :  tint(nix.colors.red--warm, 50%)
  "tint--40"   :  tint(nix.colors.red--warm, 40%)
  "tint--30"   :  tint(nix.colors.red--warm, 30%)
  "tint--20"   :  tint(nix.colors.red--warm, 20%)
  "tint--10"   :  tint(nix.colors.red--warm, 10%)

  // shade
  "shade--10"  :  shade(nix.colors.red--warm, 10%)
  "shade--20"  :  shade(nix.colors.red--warm, 20%)
  "shade--30"  :  shade(nix.colors.red--warm, 30%)
  "shade--40"  :  shade(nix.colors.red--warm, 40%)
  "shade--50"  :  shade(nix.colors.red--warm, 50%)
}


/**
 * [orange description]
 * @type {Object}
 */
nix.palette.orange = {
  "core"        :  nix.colors.orange

  // lighten
  "light--50"   :  lighten(nix.colors.orange, 50%)
  "light--40"   :  lighten(nix.colors.orange, 40%)
  "light--30"   :  lighten(nix.colors.orange, 30%)
  "light--20"   :  lighten(nix.colors.orange, 20%)
  "light--10"   :  lighten(nix.colors.orange, 10%)

  // darken
  "dark--10"    :  darken(nix.colors.orange, 10%)
  "dark--20"    :  darken(nix.colors.orange, 20%)
  "dark--30"    :  darken(nix.colors.orange, 30%)
  "dark--40"    :  darken(nix.colors.orange, 40%)
  "dark--50"    :  darken(nix.colors.orange, 50%)

  // tint
  "tint--50"   :  tint(nix.colors.orange, 50%)
  "tint--40"   :  tint(nix.colors.orange, 40%)
  "tint--30"   :  tint(nix.colors.orange, 30%)
  "tint--20"   :  tint(nix.colors.orange, 20%)
  "tint--10"   :  tint(nix.colors.orange, 10%)

  // shade
  "shade--10"  :  shade(nix.colors.orange, 10%)
  "shade--20"  :  shade(nix.colors.orange, 20%)
  "shade--30"  :  shade(nix.colors.orange, 30%)
  "shade--40"  :  shade(nix.colors.orange, 40%)
  "shade--50"  :  shade(nix.colors.orange, 50%)
}


/**
 * [cold description]
 * @type {Object}
 */
nix.palette.orange--cold = {
  "core"        :  nix.colors.orange--cold

  // lighten
  "light--50"   :  lighten(nix.colors.orange--cold, 50%)
  "light--40"   :  lighten(nix.colors.orange--cold, 40%)
  "light--30"   :  lighten(nix.colors.orange--cold, 30%)
  "light--20"   :  lighten(nix.colors.orange--cold, 20%)
  "light--10"   :  lighten(nix.colors.orange--cold, 10%)

  // darken
  "dark--10"    :  darken(nix.colors.orange--cold, 10%)
  "dark--20"    :  darken(nix.colors.orange--cold, 20%)
  "dark--30"    :  darken(nix.colors.orange--cold, 30%)
  "dark--40"    :  darken(nix.colors.orange--cold, 40%)
  "dark--50"    :  darken(nix.colors.orange--cold, 50%)

  // tint
  "tint--50"   :  tint(nix.colors.orange--cold, 50%)
  "tint--40"   :  tint(nix.colors.orange--cold, 40%)
  "tint--30"   :  tint(nix.colors.orange--cold, 30%)
  "tint--20"   :  tint(nix.colors.orange--cold, 20%)
  "tint--10"   :  tint(nix.colors.orange--cold, 10%)

  // shade
  "shade--10"  :  shade(nix.colors.orange--cold, 10%)
  "shade--20"  :  shade(nix.colors.orange--cold, 20%)
  "shade--30"  :  shade(nix.colors.orange--cold, 30%)
  "shade--40"  :  shade(nix.colors.orange--cold, 40%)
  "shade--50"  :  shade(nix.colors.orange--cold, 50%)
}


/**
 * [warm description]
 * @type {Object}
 */
nix.palette.orange--warm = {
  "core"        :  nix.colors.orange--warm

  // lighten
  "light--50"   :  lighten(nix.colors.orange--warm, 50%)
  "light--40"   :  lighten(nix.colors.orange--warm, 40%)
  "light--30"   :  lighten(nix.colors.orange--warm, 30%)
  "light--20"   :  lighten(nix.colors.orange--warm, 20%)
  "light--10"   :  lighten(nix.colors.orange--warm, 10%)

  // darken
  "dark--10"    :  darken(nix.colors.orange--warm, 10%)
  "dark--20"    :  darken(nix.colors.orange--warm, 20%)
  "dark--30"    :  darken(nix.colors.orange--warm, 30%)
  "dark--40"    :  darken(nix.colors.orange--warm, 40%)
  "dark--50"    :  darken(nix.colors.orange--warm, 50%)

  // tint
  "tint--50"   :  tint(nix.colors.orange--warm, 50%)
  "tint--40"   :  tint(nix.colors.orange--warm, 40%)
  "tint--30"   :  tint(nix.colors.orange--warm, 30%)
  "tint--20"   :  tint(nix.colors.orange--warm, 20%)
  "tint--10"   :  tint(nix.colors.orange--warm, 10%)

  // shade
  "shade--10"  :  shade(nix.colors.orange--warm, 10%)
  "shade--20"  :  shade(nix.colors.orange--warm, 20%)
  "shade--30"  :  shade(nix.colors.orange--warm, 30%)
  "shade--40"  :  shade(nix.colors.orange--warm, 40%)
  "shade--50"  :  shade(nix.colors.orange--warm, 50%)
}


/**
 * [yellow description]
 * @type {Object}
 */
nix.palette.yellow = {
  "core"        :  nix.colors.yellow

  // lighten
  "light--50"   :  lighten(nix.colors.yellow, 50%)
  "light--40"   :  lighten(nix.colors.yellow, 40%)
  "light--30"   :  lighten(nix.colors.yellow, 30%)
  "light--20"   :  lighten(nix.colors.yellow, 20%)
  "light--10"   :  lighten(nix.colors.yellow, 10%)

  // darken
  "dark--10"    :  darken(nix.colors.yellow, 10%)
  "dark--20"    :  darken(nix.colors.yellow, 20%)
  "dark--30"    :  darken(nix.colors.yellow, 30%)
  "dark--40"    :  darken(nix.colors.yellow, 40%)
  "dark--50"    :  darken(nix.colors.yellow, 50%)

  // tint
  "tint--50"   :  tint(nix.colors.yellow, 50%)
  "tint--40"   :  tint(nix.colors.yellow, 40%)
  "tint--30"   :  tint(nix.colors.yellow, 30%)
  "tint--20"   :  tint(nix.colors.yellow, 20%)
  "tint--10"   :  tint(nix.colors.yellow, 10%)

  // shade
  "shade--10"  :  shade(nix.colors.yellow, 10%)
  "shade--20"  :  shade(nix.colors.yellow, 20%)
  "shade--30"  :  shade(nix.colors.yellow, 30%)
  "shade--40"  :  shade(nix.colors.yellow, 40%)
  "shade--50"  :  shade(nix.colors.yellow, 50%)
}


/**
 * [cold description]
 * @type {Object}
 */
nix.palette.yellow--cold = {
  "core"        :  nix.colors.yellow--cold

  // lighten
  "light--50"   :  lighten(nix.colors.yellow--cold, 50%)
  "light--40"   :  lighten(nix.colors.yellow--cold, 40%)
  "light--30"   :  lighten(nix.colors.yellow--cold, 30%)
  "light--20"   :  lighten(nix.colors.yellow--cold, 20%)
  "light--10"   :  lighten(nix.colors.yellow--cold, 10%)

  // darken
  "dark--10"    :  darken(nix.colors.yellow--cold, 10%)
  "dark--20"    :  darken(nix.colors.yellow--cold, 20%)
  "dark--30"    :  darken(nix.colors.yellow--cold, 30%)
  "dark--40"    :  darken(nix.colors.yellow--cold, 40%)
  "dark--50"    :  darken(nix.colors.yellow--cold, 50%)

  // tint
  "tint--50"   :  tint(nix.colors.yellow--cold, 50%)
  "tint--40"   :  tint(nix.colors.yellow--cold, 40%)
  "tint--30"   :  tint(nix.colors.yellow--cold, 30%)
  "tint--20"   :  tint(nix.colors.yellow--cold, 20%)
  "tint--10"   :  tint(nix.colors.yellow--cold, 10%)

  // shade
  "shade--10"  :  shade(nix.colors.yellow--cold, 10%)
  "shade--20"  :  shade(nix.colors.yellow--cold, 20%)
  "shade--30"  :  shade(nix.colors.yellow--cold, 30%)
  "shade--40"  :  shade(nix.colors.yellow--cold, 40%)
  "shade--50"  :  shade(nix.colors.yellow--cold, 50%)
}


/**
 * [warm description]
 * @type {Object}
 */
nix.palette.yellow--warm = {
  "core"        :  nix.colors.yellow--warm

  // lighten
  "light--50"   :  lighten(nix.colors.yellow--warm, 50%)
  "light--40"   :  lighten(nix.colors.yellow--warm, 40%)
  "light--30"   :  lighten(nix.colors.yellow--warm, 30%)
  "light--20"   :  lighten(nix.colors.yellow--warm, 20%)
  "light--10"   :  lighten(nix.colors.yellow--warm, 10%)

  // darken
  "dark--10"    :  darken(nix.colors.yellow--warm, 10%)
  "dark--20"    :  darken(nix.colors.yellow--warm, 20%)
  "dark--30"    :  darken(nix.colors.yellow--warm, 30%)
  "dark--40"    :  darken(nix.colors.yellow--warm, 40%)
  "dark--50"    :  darken(nix.colors.yellow--warm, 50%)

  // tint
  "tint--50"   :  tint(nix.colors.yellow--warm, 50%)
  "tint--40"   :  tint(nix.colors.yellow--warm, 40%)
  "tint--30"   :  tint(nix.colors.yellow--warm, 30%)
  "tint--20"   :  tint(nix.colors.yellow--warm, 20%)
  "tint--10"   :  tint(nix.colors.yellow--warm, 10%)

  // shade
  "shade--10"  :  shade(nix.colors.yellow--warm, 10%)
  "shade--20"  :  shade(nix.colors.yellow--warm, 20%)
  "shade--30"  :  shade(nix.colors.yellow--warm, 30%)
  "shade--40"  :  shade(nix.colors.yellow--warm, 40%)
  "shade--50"  :  shade(nix.colors.yellow--warm, 50%)
}


/**
 * [brown description]
 * @type {Object}
 */
nix.palette.brown = {
  "core"        :  nix.colors.brown

  // lighten
  "light--50"   :  lighten(nix.colors.brown, 50%)
  "light--40"   :  lighten(nix.colors.brown, 40%)
  "light--30"   :  lighten(nix.colors.brown, 30%)
  "light--20"   :  lighten(nix.colors.brown, 20%)
  "light--10"   :  lighten(nix.colors.brown, 10%)

  // darken
  "dark--10"    :  darken(nix.colors.brown, 10%)
  "dark--20"    :  darken(nix.colors.brown, 20%)
  "dark--30"    :  darken(nix.colors.brown, 30%)
  "dark--40"    :  darken(nix.colors.brown, 40%)
  "dark--50"    :  darken(nix.colors.brown, 50%)

  // tint
  "tint--50"   :  tint(nix.colors.brown, 50%)
  "tint--40"   :  tint(nix.colors.brown, 40%)
  "tint--30"   :  tint(nix.colors.brown, 30%)
  "tint--20"   :  tint(nix.colors.brown, 20%)
  "tint--10"   :  tint(nix.colors.brown, 10%)

  // shade
  "shade--10"  :  shade(nix.colors.brown, 10%)
  "shade--20"  :  shade(nix.colors.brown, 20%)
  "shade--30"  :  shade(nix.colors.brown, 30%)
  "shade--40"  :  shade(nix.colors.brown, 40%)
  "shade--50"  :  shade(nix.colors.brown, 50%)
}


/**
 * [cold description]
 * @type {Object}
 */
nix.palette.brown--cold = {
  "core"        :  nix.colors.brown--cold

  // lighten
  "light--50"   :  lighten(nix.colors.brown--cold, 50%)
  "light--40"   :  lighten(nix.colors.brown--cold, 40%)
  "light--30"   :  lighten(nix.colors.brown--cold, 30%)
  "light--20"   :  lighten(nix.colors.brown--cold, 20%)
  "light--10"   :  lighten(nix.colors.brown--cold, 10%)

  // darken
  "dark--10"    :  darken(nix.colors.brown--cold, 10%)
  "dark--20"    :  darken(nix.colors.brown--cold, 20%)
  "dark--30"    :  darken(nix.colors.brown--cold, 30%)
  "dark--40"    :  darken(nix.colors.brown--cold, 40%)
  "dark--50"    :  darken(nix.colors.brown--cold, 50%)

  // tint
  "tint--50"   :  tint(nix.colors.brown--cold, 50%)
  "tint--40"   :  tint(nix.colors.brown--cold, 40%)
  "tint--30"   :  tint(nix.colors.brown--cold, 30%)
  "tint--20"   :  tint(nix.colors.brown--cold, 20%)
  "tint--10"   :  tint(nix.colors.brown--cold, 10%)

  // shade
  "shade--10"  :  shade(nix.colors.brown--cold, 10%)
  "shade--20"  :  shade(nix.colors.brown--cold, 20%)
  "shade--30"  :  shade(nix.colors.brown--cold, 30%)
  "shade--40"  :  shade(nix.colors.brown--cold, 40%)
  "shade--50"  :  shade(nix.colors.brown--cold, 50%)
}


/**
 * [warm description]
 * @type {Object}
 */
nix.palette.brown--warm = {
  "core"        :  nix.colors.brown--warm

  // lighten
  "light--50"   :  lighten(nix.colors.brown--warm, 50%)
  "light--40"   :  lighten(nix.colors.brown--warm, 40%)
  "light--30"   :  lighten(nix.colors.brown--warm, 30%)
  "light--20"   :  lighten(nix.colors.brown--warm, 20%)
  "light--10"   :  lighten(nix.colors.brown--warm, 10%)

  // darken
  "dark--10"    :  darken(nix.colors.brown--warm, 10%)
  "dark--20"    :  darken(nix.colors.brown--warm, 20%)
  "dark--30"    :  darken(nix.colors.brown--warm, 30%)
  "dark--40"    :  darken(nix.colors.brown--warm, 40%)
  "dark--50"    :  darken(nix.colors.brown--warm, 50%)

  // tint
  "tint--50"   :  tint(nix.colors.brown--warm, 50%)
  "tint--40"   :  tint(nix.colors.brown--warm, 40%)
  "tint--30"   :  tint(nix.colors.brown--warm, 30%)
  "tint--20"   :  tint(nix.colors.brown--warm, 20%)
  "tint--10"   :  tint(nix.colors.brown--warm, 10%)

  // shade
  "shade--10"  :  shade(nix.colors.brown--warm, 10%)
  "shade--20"  :  shade(nix.colors.brown--warm, 20%)
  "shade--30"  :  shade(nix.colors.brown--warm, 30%)
  "shade--40"  :  shade(nix.colors.brown--warm, 40%)
  "shade--50"  :  shade(nix.colors.brown--warm, 50%)
}


/**
 * [gray description]
 * @type {Object}
 */
nix.palette.gray = {
  "core"        :  nix.colors.gray

  // lighten
  "light--50"   :  lighten(nix.colors.gray, 50%)
  "light--40"   :  lighten(nix.colors.gray, 40%)
  "light--30"   :  lighten(nix.colors.gray, 30%)
  "light--20"   :  lighten(nix.colors.gray, 20%)
  "light--10"   :  lighten(nix.colors.gray, 10%)

  // darken
  "dark--10"    :  darken(nix.colors.gray, 10%)
  "dark--20"    :  darken(nix.colors.gray, 20%)
  "dark--30"    :  darken(nix.colors.gray, 30%)
  "dark--40"    :  darken(nix.colors.gray, 40%)
  "dark--50"    :  darken(nix.colors.gray, 50%)

  // tint
  "tint--50"   :  tint(nix.colors.gray, 50%)
  "tint--40"   :  tint(nix.colors.gray, 40%)
  "tint--30"   :  tint(nix.colors.gray, 30%)
  "tint--20"   :  tint(nix.colors.gray, 20%)
  "tint--10"   :  tint(nix.colors.gray, 10%)

  // shade
  "shade--10"  :  shade(nix.colors.gray, 10%)
  "shade--20"  :  shade(nix.colors.gray, 20%)
  "shade--30"  :  shade(nix.colors.gray, 30%)
  "shade--40"  :  shade(nix.colors.gray, 40%)
  "shade--50"  :  shade(nix.colors.gray, 50%)
}


/**
 * [cold description]
 * @type {Object}
 */
nix.palette.gray--cold = {
  "core"        :  nix.colors.gray--cold

  // lighten
  "light--50"   :  lighten(nix.colors.gray--cold, 50%)
  "light--40"   :  lighten(nix.colors.gray--cold, 40%)
  "light--30"   :  lighten(nix.colors.gray--cold, 30%)
  "light--20"   :  lighten(nix.colors.gray--cold, 20%)
  "light--10"   :  lighten(nix.colors.gray--cold, 10%)

  // darken
  "dark--10"    :  darken(nix.colors.gray--cold, 10%)
  "dark--20"    :  darken(nix.colors.gray--cold, 20%)
  "dark--30"    :  darken(nix.colors.gray--cold, 30%)
  "dark--40"    :  darken(nix.colors.gray--cold, 40%)
  "dark--50"    :  darken(nix.colors.gray--cold, 50%)

  // tint
  "tint--50"   :  tint(nix.colors.gray--cold, 50%)
  "tint--40"   :  tint(nix.colors.gray--cold, 40%)
  "tint--30"   :  tint(nix.colors.gray--cold, 30%)
  "tint--20"   :  tint(nix.colors.gray--cold, 20%)
  "tint--10"   :  tint(nix.colors.gray--cold, 10%)

  // shade
  "shade--10"  :  shade(nix.colors.gray--cold, 10%)
  "shade--20"  :  shade(nix.colors.gray--cold, 20%)
  "shade--30"  :  shade(nix.colors.gray--cold, 30%)
  "shade--40"  :  shade(nix.colors.gray--cold, 40%)
  "shade--50"  :  shade(nix.colors.gray--cold, 50%)
}

/**
 * [warm description]
 * @type {Object}
 */
nix.palette.gray--warm = {
  "core"        :  nix.colors.gray--warm

  // lighten
  "light--50"   :  lighten(nix.colors.gray--warm, 50%)
  "light--40"   :  lighten(nix.colors.gray--warm, 40%)
  "light--30"   :  lighten(nix.colors.gray--warm, 30%)
  "light--20"   :  lighten(nix.colors.gray--warm, 20%)
  "light--10"   :  lighten(nix.colors.gray--warm, 10%)

  // darken
  "dark--10"    :  darken(nix.colors.gray--warm, 10%)
  "dark--20"    :  darken(nix.colors.gray--warm, 20%)
  "dark--30"    :  darken(nix.colors.gray--warm, 30%)
  "dark--40"    :  darken(nix.colors.gray--warm, 40%)
  "dark--50"    :  darken(nix.colors.gray--warm, 50%)

  // tint
  "tint--50"   :  tint(nix.colors.gray--warm, 50%)
  "tint--40"   :  tint(nix.colors.gray--warm, 40%)
  "tint--30"   :  tint(nix.colors.gray--warm, 30%)
  "tint--20"   :  tint(nix.colors.gray--warm, 20%)
  "tint--10"   :  tint(nix.colors.gray--warm, 10%)

  // shade
  "shade--10"  :  shade(nix.colors.gray--warm, 10%)
  "shade--20"  :  shade(nix.colors.gray--warm, 20%)
  "shade--30"  :  shade(nix.colors.gray--warm, 30%)
  "shade--40"  :  shade(nix.colors.gray--warm, 40%)
  "shade--50"  :  shade(nix.colors.gray--warm, 50%)
}
