/* ------------------------------------------------------------------------ *\
   variables.plugins
\* ------------------------------------------------------------------------ */

@import "axis"
@import "rupture"
@import "jeet"
@import "typographic"

/* --- Axis --------------------------------------------------------------- */
// img-path = nix.images.path
// font-stack = nix.type.family
// font-size = nix.type.size
// font-color = nix.type.color

normalize-css()
border-box-html()
fluid-media()


/* --- Rupture ------------------------------------------------------------ */
rupture.scale = nix.mq.xxs nix.mq.xs nix.mq.sm nix.mq.md nix.mq.lg
rupture.scale-names = keys(nix.mq)
rupture.enable-em-breakpoints = true


/* --- Jeet --------------------------------------------------------------- */


/* --- Typographic -------------------------------------------------------- */

// fonts
// font-roboto = nix.text.family.primary + "," + nix.text.family.default
// font-fira = nix.text.family.secondary + "," + nix.text.family.default

// config
$line-height-ratio   = 1.75
$heading-ratio       = $golden
// $body-font           = font-roboto
$body-font-weight    = 300
// $heading-font        = font-fira
$heading-font-weight = 300
$min-font            = 13px
$max-font            = 17px
$min-width           = 320px
$max-width           = 1200px
$vertical-rhythm     = true

typographic()
