/* ------------------------------------------------------------------------ *\
   structure.variables
\* ------------------------------------------------------------------------ */

@require "__core"
@require "_colors"
@require "_fonts"
@require "_plugins"