/* ------------------------------------------------------------------------ *\
   structure.variables
\* ------------------------------------------------------------------------ */

@require "__global"
@require "_colors"
@require "_palette"
@require "_skin"
@require "_shadows"
@require "_typography"
@require "_plugins"
